.lay_sd {
    width: 200px;
    height: calc(100% - 60px);
    background: white;
    position: fixed;
    top: 60px;
    left: 0;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    border-right:1px solid var(--fiori-line-opacity);
}
.lay_sd > ul {
    height: calc(100% - 65px);
}
.lay_sd > ul > li {
    line-height: 40px;
    border-bottom: 1px solid var(--fiori-line-opacity);
}
.lay_sd > ul > li a {
    padding-left: 15px;
    padding-right: 23px;
}
.lay_sd > ul > li a:hover {
    background-color:#f7f7f7;
}
.lay_sd > ul > li > ul > li {
    line-height: 42px;
    padding-left: 48px;
    cursor:pointer;
}
.lay_sd > ul > li > ul > li:hover {
    background-color:#f7f7f7;
}
.lay_sd > ul > li > a {
    display: flex;
}
.lay_sd ul li > a > span {
    margin-left: 20px;
    overflow: hidden;
    text-overflow : clip;
    white-space: nowrap;
}
.lay_sd ul li > ul > li > span {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.lay_sd[aria-expanded='false'] {
    animation: left-to-right 1000ms ease-in-out forwards;
}
.lay_sd[aria-expanded='true'] {
    width: 46px;
}
.lay_sd[aria-expanded='true'] > ul > li > a > span {
    display: none;
}
.lay_sd[aria-expanded='true'] .bi-chevron-down {
    display: none;
}
.lay_sd[aria-expanded='true'] > ul > li > ul {
    display: none;
}
.lay_sd[aria-expanded='true'] > ul > li {
    line-height: 40px;
    border-bottom: 1px solid white;
    position: relative;
}
.lay_sd a:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

/*
@media screen and (max-width: 900px) {
    .lay_sd {
        width: 46px;
    }
    .lay_sd > ul > li > a > span {
        display: none;
    }
    .lay_sd .bi-chevron-down {
        display: none;
    }
    .lay_sd > ul > li > ul {
        display: none;
    }
    .lay_sd > ul > li {
        line-height: 40px;
        border-bottom: 1px solid white;
        position: relative;
    }
}*/
