.lay_ma {
    transition: all 0.25s ease-in-out;
    min-width: 915px;
    height: 100%;
    margin-top: 60px;
}
.lay_ma_title {
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    background-color:#fff;
    box-shadow:0px 0px 15px 0px rgb(1 41 112 / 10%);
    font-width: bold;
}
.lay_ma_body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: calc(100% - 40px);
    border-top: 1px solid var(--fiori-line-opacity);
}
.lay_ma_body section {
    padding: 10px;
    height: 100%;
}
.lay_ma_body article {
    font-size:13px;
    color:#32363a;
    font-weight:bold;
}
.lay_ma[aria-expanded='false'] {
    margin-left: 200px;
}
.lay_ma[aria-expanded='true'] {
    margin-left: 45px;
}