<!DOCTYPE html>
<html lang="en">
<!-- 1. Common Head -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main</title>
</head>

<!-- 2. Page JS, CSS -->
<link rel="stylesheet" th:href="@{/admin/css/admin-layout.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}">
<link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">

<body>
<div id="wrapper">
  <main>
    <div class="ct_main">
      <!-- Aside -->
      <div class="ct_left-menu">
        <div class="menu-logo">><a th:href="@{/admin/adminMain}">DAL ADMIN PAGE</a></div>
        <ul>
          <li class="menu-tit"><a href="#">스토어관리</a></li>
          <li class="menu-sub on"><a th:href="@{/admin/store/storeList}">스토어목록</a></li>
          <li class="menu-sub"><a th:href="@{/admin/store/storeOrder}">스토어주문목록</a></li>
        </ul>
        <ul>
          <li class="menu-tit"><a href="#">주류관리</a></li>
          <li class="menu-sub"><a th:href="@{/admin/liquor/liquorList}">주류목록</a></li>
        </ul>
        <ul>
          <li class="menu-tit"><a href="#">고객관리</a></li>
          <li class="menu-sub"><a th:href="@{/admin/user/userList}">고객 목록</a></li>
        </ul>
        <ul>
          <li class="menu-tit"><a href="#">통계</a></li>
          <li class="menu-sub"><a th:href="@{/admin/stas/stasMain}">메인통계</a></li>
          <li class="menu-sub"><a href="#">주류통계</a></li>
        </ul>
        <ul>
          <li class="menu-tit"><a href="#">메인관리</a></li>
          <li class="menu-sub"><a href="#">메인관리</a></li>
          <li class="menu-sub"><a href="#">선호도관리</a></li>
        </ul>
        <ul>
          <li class="menu-tit"><a href="#">정산관리</a></li>
          <li class="menu-sub"><a href="#">정산메인</a></li>
          <li class="menu-sub"><a href="#">영수증관리</a></li>
        </ul>
        <ul>
          <li class="menu-tit"><a href="#">고객센터</a></li>
          <li class="menu-sub"><a href="#">민원관리</a></li>
        </ul>
      </div>
      <!-- Content -->
      <section>
        <div class="ct_content-top">
          <div class="favorite">+</div>
          <div class="cate-list">
            <ul>
              <li class="f-cate on"><a href="#">favorite</a></li>
              <li class="f-cate"><a href="#">favorite</a></li>
              <li class="f-cate"><a href="#">favorite</a></li>
              <li class="f-cate"><a href="#">favorite</a></li>
            </ul>
          </div>
        </div>
        <div class="ct_content-wrap">
          <th:block layout:fragment="content"></th:block>
        </div>
      </section>
    </div>
  </main>
</div>
</body>
</html>