<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : login.html
Program Name    : 로그인 페이지
Description     : 일반로그인과, 소셜로그인 및 아이디 찾기,비밀번호 찾기, 회원가입을 할 수 있게 기능했습니다.
Draft Author    : 신호준
Draft Date      : 2024.02.05

Revision History
Ver.   Date          Revised By    Description
------------------------------------------------------------------------------------------------------------------------
0.1    2024.02.05    신호준         최초개발
----------------------------------------------------------------------------------------------------------------------->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<th:block th:replace="~{fragments/_head::headFragment}"></th:block>
<!-- 2. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/select_input.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/helper.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/terms.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">
    <script type="text/javascript" th:src="@{/user/js/terms.js}"></script>
</th:block>

<th:block layout:fragment="content">

    <!-- 4. Main -->
    <main>
        <div class="ct_main">
            <div class="ct_terms-wrap">
                <div class="terms-title">
                    <div class="terms-title1">환영해요!</div>
                    <div class="terms-title2">지금 회원가입하면 최대 4,000p를 드려요</div>
                </div>
                <div class="terms-box mt40">
                    <form id="termsForm" method="post" action="/oauth2joinForm">
                        <div>
                            <label class="chk-all-label">
                                <input type="checkbox" id="checkAll">
                                <span>이용약관, 전자금융 이용약관, 개인정보 수집 및 이용, 위치정보 이용약관에 모두 동의합니다.</span>
                            </label>
                        </div>
                        <table border="1">

                            <caption>
                                <label><input type="checkbox" id="agreeCheckbox1" class="terms" onclick="updateCheckboxValue(1)"></label>
                                <!-- 동기화할 hidden 필드 -->
                                <input type="hidden" id="agreeValueChk1" name="agreeValueChk1" th:value="${agreeValueChk1}">
                                <span>(필수)</span>
                                개인정보 수집 및 이용
                            </caption>
                            <tr>
                                <td>
                                            <textarea class="terms-text">
                                                이 약관은 담화컴퍼니 주식회사(전자상거래 사업자)(이하 "회사")가 운영하는 인터넷사이트 "DAL"(이하 "DAL")에서 제공하는 전자상거래 관련 서비스(이하 "서비스")를 이용함에 있어 DAL와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.

※ 「PC통신, 스마트폰 앱, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 준용합니다」



제 2조 (정의)

① "DAL"란 회사가 재화 또는 용역(이하 "재화 등"이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 서비스를 운영하는 사업자의 의미로도 사용합니다.

② "이용자"란 "DAL"에 접속하여 이 약관에 따라 "DAL"에 제공하는 서비스를 받는 회원 및 비회원을 말합니다.

③ "회원"이라 함은 "DAL"에 회원등록을 한 자로서, 계속적으로 "DAL"에 제공하는 서비스를 이용할 수 있는 자를 말합니다.

④ "비회원"이라 함은 회원에 가입하지 않고 "DAL"에 제공하는 서비스를 이용하는 자를 말합니다.

⑤ "콘텐츠"란 회사 또는 이용자가 서비스 상에 게시 또는 등록하는 모든 글, 사진, 동영상, 각종 파일, 링크, 회원소개 등(부호, 문자, 영상, 그림 등 그 형태를 불문합니다) DAL 내에서 게시 또는 사용되는 일체의 정보를 말합니다.



제 3조 (약관 등의 명시와 설명 및 개정)

① "DAL"은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호/모사전송번호/전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보 보호책임자 등을 이용자가 쉽게 알 수 있도록 DAL의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.

② "DAL"은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회/배송책임/환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.

③ "DAL"은 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「개인정보보호법」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.

④ "DAL"에 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 이용약관 페이지에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "DAL"는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.

⑤ "DAL"에 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제4항에 의한 개정약관의 공지기간 내에 "DAL"에 송신하여 "DAL"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.

⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」,공정거래위원회가 정하는 「전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례」에 따릅니다.



제 4조 (서비스의 제공 및 변경)

① "DAL"은 다음과 같은 업무를 수행합니다.



1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결

2. 구매계약이 체결된 재화 또는 용역의 배송

3. 기타 "DAL"에 정하는 업무



② "DAL"은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.

③ "DAL"에 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.

④ 전항의 경우 "DAL"은 이로 인하여 이용자가 입은 손해를 배상합니다. 다만, "DAL"에 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.



제 5조 (서비스의 중단)

① "DAL"은 컴퓨터 등 정보통신설비의 보수점검/교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.

② "DAL"은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단, "DAL"에 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.

③ 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 "DAL"은 제8조에 정한 방법으로 이용자에게 통지하고 당초 "DAL"에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, "DAL"가 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 "DAL"에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.



제 6조 (회원가입)

① 이용자는 "DAL"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.

② "DAL"는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.



1. 가입신청자가 이 약관 제7조제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 "DAL"의 회원재가입 승낙을 얻은 경우에는 예외로 한다.

2. 등록 내용에 허위, 기재누락, 오기가 있는 경우

3. 기타 회원으로 등록하는 것이 "DAL"의 기술상 현저히 지장이 있다고 판단되는 경우

4. "DAL"의 회원가입 및 전자상거래상의 계약에 관한 서비스는 만 19세 이상인자에 한함



③ 회원가입계약의 성립 시기는 "DAL"의 승낙이 회원에게 도달한 시점으로 합니다.

④ 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 "DAL"에 회원정보 수정 등의 방법으로 변경사항을 알려 "DAL"가 원활한 서비스를 제공할 수 있도록 조력하여야 할 의무가 있습니다. 회원이 이러한 의무를 이행하지 않아 서비스의 불완전제공 또는 미제공 등 불이익이 발생하는 경우라도, DAL 별도의 귀책사유가 없는 한 그에 대한 책임을 부담하지 아니합니다.

⑤ "DAL"는 회원의 종류 및 등급을 구분할 수 있으며, 구분별로 이용할 수 있는 DAL의 서비스 종류, 혜택을 세분하는 등으로 회원 간 이용에 차등을 둘 수 있습니다.



제 7조 (회원 탈퇴 및 자격 상실 등)

① 회원은 "DAL"에 언제든지 탈퇴를 요청할 수 있으며 "DAL"는 회원의 요청을 받았을 경우 사이트를 통하여 "DAL"가 고지한 방법에 따라 신속하게 회원탈퇴를 처리합니다.

② 회원이 다음 각 호의 사유에 해당하는 경우, "DAL"는 회원자격을 제한 및 정지시킬 수 있습니다.



1. 가입 신청 시에 타인의 정보 또는 허위의 정보를 입력하거나 가입 내용에 정보의 누락, 오기가 있는 경우

2. "DAL"를 이용하여 구입한 재화 등의 대금, 기타 "DAL" 이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우

3. 다른 사람의 "DAL" 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우

4. "DAL"를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우

5. 기타 다음과 같은 행위 등으로 "DAL"의 건전한 운영을 해하거나 "DAL"의 업무를 방해하는 경우



가. "DAL"의 운영과 관련하여 근거 없는 사실 또는 허위의 사실을 적시하거나 유포하여 "DAL"의 명예를 실추시키거나 "DAL"의 신뢰성을 해하는 경우

나. "DAL"의 이용과정에서 직원에게 폭언, 협박 또는 음란한 언행, 이에 준하는 행동 등으로 "DAL"의 운영을 방해하는 경우

다. "DAL"를 통하여 재화 등을 구매한 후 정당한 이유 없이 상습 또는 반복적으로 취소·반품하여 "DAL"의 업무를 방해하는 경우

라. "DAL"를 통해 구입한 상품 또는 용역에 특별한 하자가 없는데도 불구하고 일부 사용 후 상습적인 취소·전부 또는 일부 반품, 이의 제기 등으로 회사의 업무를 방해하는 경우

마. "DAL"가 본인 확인 절차를 실시할 경우 본인 확인이 되지 않거나 본인이 아님이 확인된 경우

바. 이미 가입된 "DAL"의 회원의 개인정보(이름, 전화번호, 주소 등)와 동일한 경우

사. 부정한 용도 또는 영리를 추구할 목적으로 서비스를 이용하는 경우

아. 동일/유사한 아이디, 전화번호, 주소 등의 회원정보를 통하여 부정한 사용을 하는 것으로 의심되는 경우

자. "DAL"로부터 서비스 제한, 회원 자격 정지 조치 등을 받은 회원이 그 조치기간 중에 이용계약을 임의해지하고 재이용신청을 하는 경우

차. 무단으로 "DAL"의 재화, 용역, 정보를 수집하거나 외부에 제출, 게시, 이용하여 "DAL"의 저작권, 상표권 등 지식재산권을 침해하는 경우

카. 이름, 주소, 전화번호 등 회원정보를 종합하여 실질적으로 동일인으로 인정되는 기존 회원이 다른 ID로 회원가입 또는 중복가입한 경우



③ 회원이 제2항에 해당하는 경우, "DAL"는 회원에게 제공한 혜택(적립금, 쿠폰 등)을 회수하거나 서비스 이용 제한(배송 취소 등)의 조치를 취할 수 있습니다.

④ "DAL"가 회원 자격을 제한/정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "DAL"는 회원자격을 상실시킬 수 있습니다.

⑤ "DAL"가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.



제 8조 (회원에 대한 통지)

① 이용자는 언제든지 고객센터와 연결된 채널(카카오톡 채널, 채널톡, 전화 등)을 통해 문의 또는 서비스와 관련한 의견을 전달할 수 있습니다.

② "DAL"가 회원에 대한 통지를 하는 경우, 회원이 "DAL"와 미리 약정하여 지정한 전자우편(또는 우편), 문자, 전화, 팩스 등의 방법으로 할 수 있습니다.

③ "DAL"는 불특정다수 회원에 대한 통지의 경우 1주일 이상 "DAL" 초기 화면 또는 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별적으로 통지하는 것을 원칙으로 합니다.

④ "DAL"가 비회원에 대한 통지를 할 경우 본 약관에 별도 규정이 없는 한 이용자가 제공한 E-mail, 휴대폰 번호 등으로 통지할 수 있으며, 불특정 다수의 비회원에게 통지하는 경우 제3호에 따라 통지할 수 있습니다.



제 9조 (구매신청)

① "DAL" 이용자는 "DAL"상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, "DAL"는 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.

단, 회원인 경우 제2호 내지 제4호의 적용을 제외할 수 있습니다.



1. 상품의 검색 및 선택

2. "서비스" 이용에 필요한 성인 인증 절차 진행

3. 회원 로그인 혹은 회원가입

4. 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력

5. 약관내용, 청약철회권이 제한되는 서비스, 배송료 등의 비용부담과 관련한 내용에 대한 확인

6. 이 약관에 동의하고 위 5.호의 사항을 확인하거나 거부하는 표시(예, 마우스 클릭)

7. 재화 등의 구매신청 및 이에 관한 확인 또는 "DAL"의 확인에 대한 동의

8. 결제방법의 선택



제 10조 (계약의 성립)

① "DAL"는 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.



1. 신청 내용에 허위, 기재누락, 오기가 있는 경우

2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우

3. 기타 구매신청에 승낙하는 것이 "DAL" 기술상 현저히 지장이 있다고 판단하는 경우

4. 구매신청 고객이 제7조에 따른 회원 자격이 제한·정지 또는 상실된 회원으로 확인되었을 경우



② "DAL"의 승낙이 제14조 제1의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.

③ "DAL"의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함하여야 합니다.



제 11조 (지급방법) "DAL"에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각호의 방법중 가용한 방법으로 할 수 있습니다. 단, "DAL"는 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.



1. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체

2. 선불카드, 직불카드, 신용카드 등의 각종 카드 결제

3. 온라인무통장입금

4. 전자화폐에 의한 결제

5. 수령시 대금지급

6. 포인트 등 "DAL"가 지급한 적립금에 의한 결제

7. "DAL"과 계약을 맺었거나 "DAL"이 인정한 상품권에 의한 결제

8. 기타 전자적 지급 방법에 의한 대금 지급 등
                                            </textarea>
                                </td>
                            </tr>
                            <caption>
                                <label><input type="checkbox" id="agreeCheckbox2" class="terms" onclick="updateCheckboxValue(2)"></label>
                                <!-- 동기화할 hidden 필드 -->
                                <input type="hidden" id="agreeValueChk2" name="agreeValueChk2" th:value="${agreeValueChk2}">
                                <span>(선택)</span>
                                위치정보 이용약관
                            </caption>
                            <tr>
                                <td>
                                            <textarea class="terms-text">
                                                이 약관은 담화컴퍼니 주식회사(전자상거래 사업자)(이하 "회사")가 운영하는 인터넷사이트 "DAL"(이하 "DAL")에서 제공하는 전자상거래 관련 서비스(이하 "서비스")를 이용함에 있어 DAL와 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.

※ 「PC통신, 스마트폰 앱, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 준용합니다」



제 2조 (정의)

① "DAL"란 회사가 재화 또는 용역(이하 "재화 등"이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 서비스를 운영하는 사업자의 의미로도 사용합니다.

② "이용자"란 "DAL"에 접속하여 이 약관에 따라 "DAL"에 제공하는 서비스를 받는 회원 및 비회원을 말합니다.

③ "회원"이라 함은 "DAL"에 회원등록을 한 자로서, 계속적으로 "DAL"에 제공하는 서비스를 이용할 수 있는 자를 말합니다.

④ "비회원"이라 함은 회원에 가입하지 않고 "DAL"에 제공하는 서비스를 이용하는 자를 말합니다.

⑤ "콘텐츠"란 회사 또는 이용자가 서비스 상에 게시 또는 등록하는 모든 글, 사진, 동영상, 각종 파일, 링크, 회원소개 등(부호, 문자, 영상, 그림 등 그 형태를 불문합니다) DAL 내에서 게시 또는 사용되는 일체의 정보를 말합니다.



제 3조 (약관 등의 명시와 설명 및 개정)

① "DAL"은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호/모사전송번호/전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보 보호책임자 등을 이용자가 쉽게 알 수 있도록 DAL의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.

② "DAL"은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회/배송책임/환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.

③ "DAL"은 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「개인정보보호법」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.

④ "DAL"에 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 이용약관 페이지에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "DAL"는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.

⑤ "DAL"에 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제4항에 의한 개정약관의 공지기간 내에 "DAL"에 송신하여 "DAL"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.

⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」,공정거래위원회가 정하는 「전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례」에 따릅니다.



제 4조 (서비스의 제공 및 변경)

① "DAL"은 다음과 같은 업무를 수행합니다.



1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결

2. 구매계약이 체결된 재화 또는 용역의 배송

3. 기타 "DAL"에 정하는 업무



② "DAL"은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.

③ "DAL"에 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.

④ 전항의 경우 "DAL"은 이로 인하여 이용자가 입은 손해를 배상합니다. 다만, "DAL"에 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.



제 5조 (서비스의 중단)

① "DAL"은 컴퓨터 등 정보통신설비의 보수점검/교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.

② "DAL"은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단, "DAL"에 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.

③ 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 "DAL"은 제8조에 정한 방법으로 이용자에게 통지하고 당초 "DAL"에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, "DAL"가 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 "DAL"에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.



제 6조 (회원가입)

① 이용자는 "DAL"가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.

② "DAL"는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.



1. 가입신청자가 이 약관 제7조제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 "DAL"의 회원재가입 승낙을 얻은 경우에는 예외로 한다.

2. 등록 내용에 허위, 기재누락, 오기가 있는 경우

3. 기타 회원으로 등록하는 것이 "DAL"의 기술상 현저히 지장이 있다고 판단되는 경우

4. "DAL"의 회원가입 및 전자상거래상의 계약에 관한 서비스는 만 19세 이상인자에 한함



③ 회원가입계약의 성립 시기는 "DAL"의 승낙이 회원에게 도달한 시점으로 합니다.

④ 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 "DAL"에 회원정보 수정 등의 방법으로 변경사항을 알려 "DAL"가 원활한 서비스를 제공할 수 있도록 조력하여야 할 의무가 있습니다. 회원이 이러한 의무를 이행하지 않아 서비스의 불완전제공 또는 미제공 등 불이익이 발생하는 경우라도, DAL 별도의 귀책사유가 없는 한 그에 대한 책임을 부담하지 아니합니다.

⑤ "DAL"는 회원의 종류 및 등급을 구분할 수 있으며, 구분별로 이용할 수 있는 DAL의 서비스 종류, 혜택을 세분하는 등으로 회원 간 이용에 차등을 둘 수 있습니다.



제 7조 (회원 탈퇴 및 자격 상실 등)

① 회원은 "DAL"에 언제든지 탈퇴를 요청할 수 있으며 "DAL"는 회원의 요청을 받았을 경우 사이트를 통하여 "DAL"가 고지한 방법에 따라 신속하게 회원탈퇴를 처리합니다.

② 회원이 다음 각 호의 사유에 해당하는 경우, "DAL"는 회원자격을 제한 및 정지시킬 수 있습니다.



1. 가입 신청 시에 타인의 정보 또는 허위의 정보를 입력하거나 가입 내용에 정보의 누락, 오기가 있는 경우

2. "DAL"를 이용하여 구입한 재화 등의 대금, 기타 "DAL" 이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우

3. 다른 사람의 "DAL" 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우

4. "DAL"를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우

5. 기타 다음과 같은 행위 등으로 "DAL"의 건전한 운영을 해하거나 "DAL"의 업무를 방해하는 경우



가. "DAL"의 운영과 관련하여 근거 없는 사실 또는 허위의 사실을 적시하거나 유포하여 "DAL"의 명예를 실추시키거나 "DAL"의 신뢰성을 해하는 경우

나. "DAL"의 이용과정에서 직원에게 폭언, 협박 또는 음란한 언행, 이에 준하는 행동 등으로 "DAL"의 운영을 방해하는 경우

다. "DAL"를 통하여 재화 등을 구매한 후 정당한 이유 없이 상습 또는 반복적으로 취소·반품하여 "DAL"의 업무를 방해하는 경우

라. "DAL"를 통해 구입한 상품 또는 용역에 특별한 하자가 없는데도 불구하고 일부 사용 후 상습적인 취소·전부 또는 일부 반품, 이의 제기 등으로 회사의 업무를 방해하는 경우

마. "DAL"가 본인 확인 절차를 실시할 경우 본인 확인이 되지 않거나 본인이 아님이 확인된 경우

바. 이미 가입된 "DAL"의 회원의 개인정보(이름, 전화번호, 주소 등)와 동일한 경우

사. 부정한 용도 또는 영리를 추구할 목적으로 서비스를 이용하는 경우

아. 동일/유사한 아이디, 전화번호, 주소 등의 회원정보를 통하여 부정한 사용을 하는 것으로 의심되는 경우

자. "DAL"로부터 서비스 제한, 회원 자격 정지 조치 등을 받은 회원이 그 조치기간 중에 이용계약을 임의해지하고 재이용신청을 하는 경우

차. 무단으로 "DAL"의 재화, 용역, 정보를 수집하거나 외부에 제출, 게시, 이용하여 "DAL"의 저작권, 상표권 등 지식재산권을 침해하는 경우

카. 이름, 주소, 전화번호 등 회원정보를 종합하여 실질적으로 동일인으로 인정되는 기존 회원이 다른 ID로 회원가입 또는 중복가입한 경우



③ 회원이 제2항에 해당하는 경우, "DAL"는 회원에게 제공한 혜택(적립금, 쿠폰 등)을 회수하거나 서비스 이용 제한(배송 취소 등)의 조치를 취할 수 있습니다.

④ "DAL"가 회원 자격을 제한/정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 "DAL"는 회원자격을 상실시킬 수 있습니다.

⑤ "DAL"가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.



제 8조 (회원에 대한 통지)

① 이용자는 언제든지 고객센터와 연결된 채널(카카오톡 채널, 채널톡, 전화 등)을 통해 문의 또는 서비스와 관련한 의견을 전달할 수 있습니다.

② "DAL"가 회원에 대한 통지를 하는 경우, 회원이 "DAL"와 미리 약정하여 지정한 전자우편(또는 우편), 문자, 전화, 팩스 등의 방법으로 할 수 있습니다.

③ "DAL"는 불특정다수 회원에 대한 통지의 경우 1주일 이상 "DAL" 초기 화면 또는 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별적으로 통지하는 것을 원칙으로 합니다.

④ "DAL"가 비회원에 대한 통지를 할 경우 본 약관에 별도 규정이 없는 한 이용자가 제공한 E-mail, 휴대폰 번호 등으로 통지할 수 있으며, 불특정 다수의 비회원에게 통지하는 경우 제3호에 따라 통지할 수 있습니다.



제 9조 (구매신청)

① "DAL" 이용자는 "DAL"상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, "DAL"는 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.

단, 회원인 경우 제2호 내지 제4호의 적용을 제외할 수 있습니다.



1. 상품의 검색 및 선택

2. "서비스" 이용에 필요한 성인 인증 절차 진행

3. 회원 로그인 혹은 회원가입

4. 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력

5. 약관내용, 청약철회권이 제한되는 서비스, 배송료 등의 비용부담과 관련한 내용에 대한 확인

6. 이 약관에 동의하고 위 5.호의 사항을 확인하거나 거부하는 표시(예, 마우스 클릭)

7. 재화 등의 구매신청 및 이에 관한 확인 또는 "DAL"의 확인에 대한 동의

8. 결제방법의 선택



제 10조 (계약의 성립)

① "DAL"는 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.



1. 신청 내용에 허위, 기재누락, 오기가 있는 경우

2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우

3. 기타 구매신청에 승낙하는 것이 "DAL" 기술상 현저히 지장이 있다고 판단하는 경우

4. 구매신청 고객이 제7조에 따른 회원 자격이 제한·정지 또는 상실된 회원으로 확인되었을 경우



② "DAL"의 승낙이 제14조 제1의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.

③ "DAL"의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함하여야 합니다.



제 11조 (지급방법) "DAL"에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각호의 방법중 가용한 방법으로 할 수 있습니다. 단, "DAL"는 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.



1. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체

2. 선불카드, 직불카드, 신용카드 등의 각종 카드 결제

3. 온라인무통장입금

4. 전자화폐에 의한 결제

5. 수령시 대금지급

6. 포인트 등 "DAL"가 지급한 적립금에 의한 결제

7. "DAL"과 계약을 맺었거나 "DAL"이 인정한 상품권에 의한 결제

8. 기타 전자적 지급 방법에 의한 대금 지급 등
                                            </textarea>
                                </td>
                            </tr>
                        </table>
                        <p class="mt15">
                            <a href="/loginForm" class="btn btnCancel">취소</a>
                            <button type="button" class="btn btnNext" onclick="checkAndSubmit()">다음</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </main>

    </div>
    </body>
</th:block>
</html>