<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.Dal.main.mapper.MainMapper">

    <!-- 위치+주류 검색에 따른 검색 - 지도 각 모서리 좌표를 통해 데이터 검색 (Point type 사용) -->
    <!-- 남서경도 남서위도 북동경도 북동위도 -->
    <!-- swLng swLat neLng neLat -->
    <select id="selectStoreList" parameterType="map" resultType="kr.co.Dal.main.model.MainVO">
    <![CDATA[
        SELECT * FROM st_tb
                          INNER JOIN prod_tb ON st_liquorNo = prod_id
        WHERE MBRContains(ST_GeomFromText
                          ('LineString(${swLng} ${swLat}, ${neLng} ${neLat})'), st_xy)
          AND prod_tit LIKE CONCAT('%', #{prod_tit}, '%')
        ]]>
    </select>

    <!-- 셀렉트: 지역 가져오기 (location_tb) -->
    <select id="selectProvinceList" resultType="kr.co.Dal.main.model.MainVO">
        SELECT province_id ,province_nm FROM location_tb
        GROUP BY province_id
    </select>
    <select id="selectCityList" parameterType="String" resultType="kr.co.Dal.main.model.MainVO">
        SELECT city_id, city_nm FROM location_tb
        WHERE province_id = #{province_id}
        GROUP BY city_id
        ORDER BY city_nm
    </select>
    <select id="selectTownList" parameterType="map" resultType="kr.co.Dal.main.model.MainVO">
        SELECT town_id, town_nm FROM location_tb
        WHERE province_id = #{province_id}
          AND city_id = #{city_id}
        GROUP BY town_id
        ORDER BY town_id
    </select>




</mapper>