<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.Dal.store.mapper.QnaMapper">

  <insert id="insertQna" parameterType="kr.co.Dal.store.model.QnaVO">
    INSERT INTO qna_tb (user_id, qna_type, qna_secret, qna_tit, qna_cn)
    VALUES ('1', #{qna_type}, 0, '제목입니다.', '환불하고 싶은데 접수는 어떻게 하면 되나요?')
  </insert>
</mapper>