<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.Dal.store.mapper.StoreMapper">

  <select id="selectMainList" resultType="kr.co.Dal.store.model.StoreVO">
    SELECT prod_tit, prod_type, prod_sale_price, prod_img, prod_stts, prod_like
    FROM prod_tb
    where prod_stts != 0
  </select>

  <insert id="insertStoreQna" parameterType="kr.co.Dal.store.model.QnaVO">
    INSERT INTO qna_tb (qna_id, user_id, qna_type, qna_secret, qna_tit, qna_cn, qna_rdate, qna_udate, qna_stts, qna_ans_yn)
    VALUES ('99999', '2121', '교환 및 환불', 'Y', '환불해주세요.', '환불하고 싶은데 접수는 어떻게 하면 되나요?', '20240118110202', '20240118110202', 'N', 'N')
  </insert>
</mapper>