<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather</title>
  <!--
  Encoding: 5CZW8vE4f16CFpvpKdt5RwisoNCWGjCG%2FlZqcpESy8NaGCdcB8vPI6aDpHCKyQcqTImAERfoVVHuzLJsaDHitg%3D%3D
  Decoding: 5CZW8vE4f16CFpvpKdt5RwisoNCWGjCG/lZqcpESy8NaGCdcB8vPI6aDpHCKyQcqTImAERfoVVHuzLJsaDHitg==
  -->
</head>

<script src="/common/js/Common.js"></script>
<script src="/test/js/weather.js" defer></script>

<body>
  <h1>Weather Information</h1>
  <button onclick="getWeather()">Get Weather</button>
  <div id="weather-text"></div>
</body>
</html>