<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="content">
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/grid/list-grid.css}">
        <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">
        <script type="text/javascript" th:src="@{/admin/js/store/storeList.js}"></script>
    </th:block>
</th:block>
</html>