<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 파일명        : MyCouponMapper.xml
 최초 작성자    : 박제형
 최초 작성날짜   : 2023.12.11
-->

<mapper namespace="kr.co.Dal.my.mapper.MyCouponMapper">
    <select id="selectCouponList" resultType="kr.co.Dal.my.model.MyCouponVO">
        SELECT
            cp_id,
            cp_name,
            cp_code,
            cp_type,
            cp_disct,
            cp_wdate,
            cp_grade,
            cp_cnt,
            cp_rdate,
            cp_disct_type,
            cp_min_price
        FROM cp_tb
    </select>





</mapper>