spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 353201099261-g6otgm10jjrkmphkvfcdmnqt22gtnihs.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: https://drinkallliquors.shop:8282/login/oauth2/code/google
            scope: profile, email

          naver:
            client-id: QdAb6HAjeKXkNXcFK3kD
            client-secret: Jywts5fN8E
            redirect-uri: http://drinkallliquors.shop:8282/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: name, email, profile_image
            client-name: Naver

          kakao:
            client-id: d84bfc873870332092e20fa92e5bbac7
            client-secret: Czc3GYn78M76ZCrcOqzYsJLk58O4IzMn
            redirect-uri: http://drinkallliquors.shop:8282/login/oauth2/code/kakao
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, account_email
            client-name: Kakao

        provider:
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id