.findId_main{
    width: calc(57vw - 60px);
    margin: 0 auto;
    border: 1px;
    padding: 50px 10px;
}

.findId-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}
.findId-title {
    font: 700 30px 'Noto Sans Kr';
    width: 100%;
    text-align: center;
}
.findId-content {
    width: 98%;
}
.findId-content tr {
    border: 1px solid #e8e8e8;
}
.findId-content table {
    border-left: none;
    border-right: none;
    line-height: 1.5;
    width: 100%;
}
.findId-content table th {
    width: 15%;
    text-align: left;
    padding: 17px 20px;
    font: 500 15px 'Noto Sans Kr';
    color: #555;
    background: #fbfafa;

}
.findId-content table td {
    padding: 13px 10px 12px;
    text-align: left;
    font: 500 15px 'Noto Sans Kr';
    color: #555;
}
.findId-content table td input {
    height: 30px;
    padding: 2px 4px;
    font: 400 15px 'Noto Sans Kr';
    border: 1px solid #e8e8e8;
}
.findId-content table .mobile select {
    width: 90px;
    height: 30px;
    border: 1px solid #e8e8e8;
}
.findId-msg {
    font: 400 13px 'Noto Sans Kr';
    color: #555;
}
.findId-content p {
    width: 100%;
    text-align: center;
}
.btn1 {
    display: inline-block;
    width: 200px;
    background: #000;
    color: #fff;
    font-size: 17px;
    text-align: center;
    padding: 8px;
    margin-right: 10px;
    margin-top: 21px;
}
.btn2 {
    display: inline-block;
    width: 200px;
    background: white;
    color: black;
    font-size: 17px;
    text-align: center;
    padding: 8px;
    margin-right: 55px;
    margin-top: 21px;
    border: 1px solid #e8e8e8;

}

.mt-1{
    margin-top: 0.25rem;
}