/* login wrap */
.ct_login-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

/* login title */
.login-title {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

/* login form */
.login-form {

}

/* login input */
.login-id > input {
    width: 333px;
    font: 500 15px 'Noto Sans Kr';
    border: 1px solid #d3d3d3;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    padding: 13px 15px;
    border-bottom: none;
}

.login-pw > input {
    width: 333px;
    font: 500 15px 'Noto Sans Kr';
    border: 1px solid #d3d3d3;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
    padding: 13px 15px;
}

/* remember id */
.remember-id {
    font: 500 14px 'Noto Sans Kr';
    color: #767676;
    margin-top: 4px;
}

/* login button */
.loginBtn {
    width: 332px;
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
    background: #1B37AA;
    border: none;
    border-radius: 5px;
    font: 400 16px 'Noto Sans Kr';
    color: #fff;

}

/* find login */
.login-find {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font: 400 15px 'Noto Sans Kr';
    color: #818181;
    margin-top: 10px;
}
.find-id {}
.find-pw {}

/* sns login */
.login-sns {
    font: 400 15px 'Noto Sans Kr';
    color: #818181;
    text-align: center;
    margin-top: 40px;
}
.other-login-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}
.other-login {
    display: flex;
    height: 45px;
    line-height: 45px;
    font: 400 14px 'Noto Sans Kr';
    align-items: center;
    justify-content: flex-start;
    padding: 0 13px;
    border-radius: 5px;
    flex-direction: row;
}
.other-login img {
    vertical-align: middle;
}
.other-login strong {
    width: 90%;
    text-align: center;
}
.login-kakao {
    background: #FEEA00;
    color: #381E1F;
    
}
.login-naver {
    background: #1CCB69;
    color: #fff;
}
.login-google {
    background: #fff;
    color: #381E1F;
    border: 1px solid rgba(0,0,0,.15);
}
.login-google img {
    width: 24px;
}

a {
    text-decoration-line: none;
}

div.login-pw{
    position: relative;
}

div.login-pw i{
    position: absolute;
    left: 90%;
    top: 27px;
    color: orange;
}