@charset "utf-8";
/***********************************************************************************************************************
©Copyright 2023. DAL. All rights reserved.

File Name       : co.kr.dal.helper.css
Description     : 공통 helper css
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.    Date         Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1     2023.11.10    이원정        최초개발

------------------------------------------------------------------------------------------------------------------------

***********************************************************************************************************************/

/*
Contents

1. Margin
1.1 Margin Top
1.2 Margin Bottom
1.3 Margin Left
1.4 Margin Right

2. Width
2.1 Width by Percent
2.2 Width by Pixcel

3. Align
3.1 Text Horizontal Align
3.2 Text Vertical Align
3.3 Element Floating

4. Border
4.1 Border

5. Display
5.1 Display

*/


/* 1. Margin **********************************************************************************************************/

/* 1.1 Margin Top */
.mt1 {margin-top: 1px;}
.mt2 {margin-top: 2px;}
.mt3 {margin-top: 3px;}
.mt4 {margin-top: 4px;}
.mt5 {margin-top: 5px;}
.mt6 {margin-top: 6px;}
.mt7 {margin-top: 7px;}
.mt8 {margin-top: 8px;}
.mt9 {margin-top: 9px;}
.mt10 {margin-top: 10px;}
.mt11 {margin-top: 11px;}
.mt12 {margin-top: 12px;}
.mt13 {margin-top: 13px;}
.mt14 {margin-top: 14px;}
.mt15 {margin-top: 15px;}
.mt16 {margin-top: 16px;}
.mt17 {margin-top: 17px;}
.mt18 {margin-top: 18px;}
.mt19 {margin-top: 19px;}
.mt20 {margin-top: 20px;}
.mt21 {margin-top: 21px;}
.mt22 {margin-top: 22px;}
.mt23 {margin-top: 23px;}
.mt24 {margin-top: 24px;}
.mt25 {margin-top: 25px;}
.mt26 {margin-top: 26px;}
.mt27 {margin-top: 27px;}
.mt28 {margin-top: 28px;}
.mt29 {margin-top: 29px;}
.mt30 {margin-top: 30px;}
.mt31 {margin-top: 31px;}
.mt32 {margin-top: 32px;}
.mt33 {margin-top: 33px;}
.mt34 {margin-top: 34px !important;}
.mt35 {margin-top: 35px;}
.mt36 {margin-top: 36px;}
.mt37 {margin-top: 37px;}
.mt38 {margin-top: 38px;}
.mt39 {margin-top: 39px;}
.mt40 {margin-top: 40px;}

/* 1.2 Margin Bottom */
.mb1 {margin-bottom: 1px;}
.mb2 {margin-bottom: 2px;}
.mb3 {margin-bottom: 3px;}
.mb4 {margin-bottom: 4px;}
.mb5 {margin-bottom: 5px;}
.mb6 {margin-bottom: 6px;}
.mb7 {margin-bottom: 7px;}
.mb8 {margin-bottom: 8px;}
.mb9 {margin-bottom: 9px;}
.mb10 {margin-bottom: 10px;}
.mb11 {margin-bottom: 11px;}
.mb12 {margin-bottom: 12px;}
.mb13 {margin-bottom: 13px;}
.mb14 {margin-bottom: 14px;}
.mb15 {margin-bottom: 15px;}
.mb16 {margin-bottom: 16px;}
.mb17 {margin-bottom: 17px;}
.mb18 {margin-bottom: 18px;}
.mb19 {margin-bottom: 19px;}
.mb20 {margin-bottom: 20px;}
.mb21 {margin-bottom: 21px;}
.mb22 {margin-bottom: 22px;}
.mb23 {margin-bottom: 23px;}
.mb24 {margin-bottom: 24px;}
.mb25 {margin-bottom: 25px;}
.mb26 {margin-bottom: 26px;}
.mb27 {margin-bottom: 27px;}
.mb28 {margin-bottom: 28px;}
.mb29 {margin-bottom: 29px;}
.mb30 {margin-bottom: 30px;}
.mb31 {margin-bottom: 31px;}
.mb32 {margin-bottom: 32px;}
.mb33 {margin-bottom: 33px;}
.mb34 {margin-bottom: 34px;}
.mb35 {margin-bottom: 35px;}
.mb36 {margin-bottom: 36px;}
.mb37 {margin-bottom: 37px;}
.mb38 {margin-bottom: 38px;}
.mb39 {margin-bottom: 39px;}
.mb40 {margin-bottom: 40px;}

/* 1.3 Margin Left */
.ml1 {margin-left: 1px;}
.ml2 {margin-left: 2px;}
.ml3 {margin-left: 3px;}
.ml4 {margin-left: 4px;}
.ml5 {margin-left: 5px;}
.ml6 {margin-left: 6px !important;}
.ml7 {margin-left: 7px;}
.ml8 {margin-left: 8px !important;}
.ml9 {margin-left: 9px;}
.ml10 {margin-left: 10px;}
.ml11 {margin-left: 11px;}
.ml12 {margin-left: 12px;}
.ml13 {margin-left: 13px;}
.ml14 {margin-left: 14px;}
.ml15 {margin-left: 15px;}
.ml16 {margin-left: 16px;}
.ml17 {margin-left: 17px;}
.ml18 {margin-left: 18px;}
.ml19 {margin-left: 19px;}
.ml20 {margin-left: 20px;}
.ml21 {margin-left: 21px;}
.ml22 {margin-left: 22px;}
.ml23 {margin-left: 23px;}
.ml24 {margin-left: 24px;}
.ml25 {margin-left: 25px;}
.ml26 {margin-left: 26px;}
.ml27 {margin-left: 27px;}
.ml28 {margin-left: 28px;}
.ml29 {margin-left: 29px;}
.ml30 {margin-left: 30px;}
.ml31 {margin-left: 31px;}
.ml32 {margin-left: 32px;}
.ml33 {margin-left: 33px;}
.ml34 {margin-left: 34px;}
.ml35 {margin-left: 35px;}
.ml36 {margin-left: 36px;}
.ml37 {margin-left: 37px;}
.ml38 {margin-left: 38px;}
.ml39 {margin-left: 39px;}
.ml40 {margin-left: 40px;}

/* 1.4 Margin Right */
.mr1 {margin-right: 1px;}
.mr2 {margin-right: 2px;}
.mr3 {margin-right: 3px;}
.mr4 {margin-right: 4px;}
.mr5 {margin-right: 5px;}
.mr6 {margin-right: 6px;}
.mr7 {margin-right: 7px;}
.mr8 {margin-right: 8px;}
.mr9 {margin-right: 9px;}
.mr10 {margin-right: 10px;}
.mr11 {margin-right: 11px;}
.mr12 {margin-right: 12px;}
.mr13 {margin-right: 13px;}
.mr14 {margin-right: 14px;}
.mr15 {margin-right: 15px;}
.mr16 {margin-right: 16px;}
.mr17 {margin-right: 17px;}
.mr18 {margin-right: 18px;}
.mr19 {margin-right: 19px;}
.mr20 {margin-right: 20px;}
.mr21 {margin-right: 21px;}
.mr22 {margin-right: 22px;}
.mr23 {margin-right: 23px;}
.mr24 {margin-right: 24px;}
.mr25 {margin-right: 25px;}
.mr26 {margin-right: 26px;}
.mr27 {margin-right: 27px;}
.mr28 {margin-right: 28px;}
.mr29 {margin-right: 29px;}
.mr30 {margin-right: 30px;}
.mr31 {margin-right: 31px;}
.mr32 {margin-right: 32px;}
.mr33 {margin-right: 33px;}
.mr34 {margin-right: 34px;}
.mr35 {margin-right: 35px;}
.mr36 {margin-right: 36px;}
.mr37 {margin-right: 37px;}
.mr38 {margin-right: 38px;}
.mr39 {margin-right: 39px;}
.mr40 {margin-right: 40px;}

/* 2. Width ***********************************************************************************************************/
/* 2.1 Width by Percent */
.w0ph {width: 0%;}
.w1ph {width: 1%;}
.w2ph {width: 2%;}
.w3ph {width: 3%;}
.w4ph {width: 4%;}
.w5ph {width: 5%;}
.w6ph {width: 6%;}
.w7ph {width: 7%;}
.w8ph {width: 8%;}
.w9ph {width: 9%;}
.w10ph {width: 10%;}
.w11ph {width: 11%;}
.w12ph {width: 12%;}
.w13ph {width: 13%;}
.w14ph {width: 14%;}
.w15ph {width: 15%;}
.w16ph {width: 16%;}
.w17ph {width: 17%;}
.w18ph {width: 18%;}
.w19ph {width: 19%;}
.w20ph {width: 20%;}
.w21ph {width: 21%;}
.w22ph {width: 22%;}
.w23ph {width: 23%;}
.w24ph {width: 24%;}
.w25ph {width: 25%;}
.w26ph {width: 26%;}
.w27ph {width: 27%;}
.w28ph {width: 28%;}
.w29ph {width: 29%;}
.w30ph {width: 30%;}
.w31ph {width: 31%;}
.w32ph {width: 32%;}
.w33ph {width: 33%;}
.w34ph {width: 34%;}
.w35ph {width: 35%;}
.w36ph {width: 36%;}
.w37ph {width: 37%;}
.w38ph {width: 38%;}
.w39ph {width: 39%;}
.w40ph {width: 40%;}
.w41ph {width: 41%;}
.w42ph {width: 42%;}
.w43ph {width: 43%;}
.w44ph {width: 44%;}
.w45ph {width: 45%;}
.w46ph {width: 46%;}
.w47ph {width: 47%;}
.w48ph {width: 48%;}
.w49ph {width: 49%;}
.w50ph {width: 50%;}
.w51ph {width: 51%;}
.w52ph {width: 52%;}
.w53ph {width: 53%;}
.w54ph {width: 54%;}
.w55ph {width: 55%;}
.w56ph {width: 56%;}
.w57ph {width: 57%;}
.w58ph {width: 58%;}
.w59ph {width: 59%;}
.w60ph {width: 60%;}
.w61ph {width: 61%;}
.w62ph {width: 62%;}
.w63ph {width: 63%;}
.w64ph {width: 64%;}
.w65ph {width: 65%;}
.w66ph {width: 66%;}
.w67ph {width: 67%;}
.w68ph {width: 68%;}
.w69ph {width: 69%;}
.w70ph {width: 70%;}
.w71ph {width: 71%;}
.w72ph {width: 72%;}
.w73ph {width: 73%;}
.w74ph {width: 74%;}
.w75ph {width: 75%;}
.w76ph {width: 76%;}
.w77ph {width: 77%;}
.w78ph {width: 78%;}
.w79ph {width: 79%;}
.w80ph {width: 80%;}
.w81ph {width: 81%;}
.w82ph {width: 82%;}
.w83ph {width: 83%;}
.w84ph {width: 84%;}
.w85ph {width: 85%;}
.w86ph {width: 86%;}
.w87ph {width: 87%;}
.w88ph {width: 88%;}
.w89ph {width: 89%;}
.w90ph {width: 90%;}
.w91ph {width: 91%;}
.w92ph {width: 92%;}
.w93ph {width: 93%;}
.w94ph {width: 94%;}
.w95ph {width: 95%;}
.w96ph {width: 96%;}
.w97ph {width: 97%;}
.w98ph {width: 98%;}
.w99ph {width: 99%;}
.w100ph {width: 100%;}

/* 2.2 Width by Pixel */
.w1px { width: 1px; }
.w2px { width: 2px; }
.w3px { width: 3px; }
.w4px { width: 4px; }
.w5px { width: 5px; }
.w6px { width: 6px; }
.w7px { width: 7px; }
.w8px { width: 8px; }
.w9px { width: 9px; }
.w10px { width: 10px; }
.w11px { width: 11px; }
.w12px { width: 12px; }
.w13px { width: 13px; }
.w14px { width: 14px; }
.w15px { width: 15px; }
.w16px { width: 16px; }
.w17px { width: 17px; }
.w18px { width: 18px; }
.w19px { width: 19px; }
.w20px { width: 20px; }
.w21px { width: 21px; }
.w22px { width: 22px; }
.w23px { width: 23px; }
.w24px { width: 24px; }
.w25px { width: 25px; }
.w26px { width: 26px; }
.w27px { width: 27px; }
.w28px { width: 28px; }
.w29px { width: 29px; }
.w30px { width: 30px; }
.w31px { width: 31px; }
.w32px { width: 32px; }
.w33px { width: 33px; }
.w34px { width: 34px; }
.w35px { width: 35px; }
.w36px { width: 36px; }
.w37px { width: 37px; }
.w38px { width: 38px; }
.w39px { width: 39px; }
.w40px { width: 40px; }
.w41px { width: 41px; }
.w42px { width: 42px; }
.w43px { width: 43px; }
.w44px { width: 44px; }
.w45px { width: 45px; }
.w46px { width: 46px; }
.w47px { width: 47px; }
.w48px { width: 48px; }
.w49px { width: 49px; }
.w50px { width: 50px; }
.w51px { width: 51px; }
.w52px { width: 52px; }
.w53px { width: 53px; }
.w54px { width: 54px; }
.w55px { width: 55px; }
.w56px { width: 56px; }
.w57px { width: 57px; }
.w58px { width: 58px; }
.w59px { width: 59px; }
.w60px { width: 60px; }
.w61px { width: 61px; }
.w62px { width: 62px; }
.w63px { width: 63px; }
.w64px { width: 64px; }
.w65px { width: 65px; }
.w66px { width: 66px; }
.w67px { width: 67px; }
.w68px { width: 68px; }
.w69px { width: 69px; }
.w70px { width: 70px; }
.w71px { width: 71px; }
.w72px { width: 72px; }
.w73px { width: 73px; }
.w74px { width: 74px; }
.w75px { width: 75px; }
.w76px { width: 76px; }
.w77px { width: 77px; }
.w78px { width: 78px; }
.w79px { width: 79px; }
.w80px { width: 80px; }
.w81px { width: 81px; }
.w82px { width: 82px; }
.w83px { width: 83px; }
.w84px { width: 84px; }
.w85px { width: 85px; }
.w86px { width: 86px; }
.w87px { width: 87px; }
.w88px { width: 88px; }
.w89px { width: 89px; }
.w90px { width: 90px; }
.w91px { width: 91px; }
.w92px { width: 92px; }
.w93px { width: 93px; }
.w94px { width: 94px; }
.w95px { width: 95px; }
.w96px { width: 96px; }
.w97px { width: 97px; }
.w98px { width: 98px; }
.w99px { width: 99px; }
.w100px { width: 100px; }
.w101px { width: 101px; }
.w102px { width: 102px; }
.w103px { width: 103px; }
.w104px { width: 104px; }
.w105px { width: 105px; }
.w106px { width: 106px; }
.w107px { width: 107px; }
.w108px { width: 108px; }
.w109px { width: 109px; }
.w110px { width: 110px; }
.w111px { width: 111px; }
.w112px { width: 112px; }
.w113px { width: 113px; }
.w114px { width: 114px; }
.w115px { width: 115px; }
.w116px { width: 116px; }
.w117px { width: 117px; }
.w118px { width: 118px; }
.w119px { width: 119px; }
.w120px { width: 120px; }
.w121px { width: 121px; }
.w122px { width: 122px; }
.w123px { width: 123px; }
.w124px { width: 124px; }
.w125px { width: 125px; }
.w126px { width: 126px; }
.w127px { width: 127px; }
.w128px { width: 128px; }
.w129px { width: 129px; }
.w130px { width: 130px; }
.w131px { width: 131px; }
.w132px { width: 132px; }
.w133px { width: 133px; }
.w134px { width: 134px; }
.w135px { width: 135px; }
.w136px { width: 136px; }
.w137px { width: 137px; }
.w138px { width: 138px; }
.w139px { width: 139px; }
.w140px { width: 140px; }
.w141px { width: 141px; }
.w142px { width: 142px; }
.w143px { width: 143px; }
.w144px { width: 144px; }
.w145px { width: 145px; }
.w146px { width: 146px; }
.w147px { width: 147px; }
.w148px { width: 148px; }
.w149px { width: 149px; }
.w150px { width: 150px; }
.w151px { width: 151px; }
.w152px { width: 152px; }
.w153px { width: 153px; }
.w154px { width: 154px; }
.w155px { width: 155px; }
.w156px { width: 156px; }
.w157px { width: 157px; }
.w158px { width: 158px; }
.w159px { width: 159px; }
.w160px { width: 160px; }
.w161px { width: 161px; }
.w162px { width: 162px; }
.w163px { width: 163px; }
.w164px { width: 164px; }
.w165px { width: 165px; }
.w166px { width: 166px; }
.w167px { width: 167px; }
.w168px { width: 168px; }
.w169px { width: 169px; }
.w170px { width: 170px; }
.w171px { width: 171px; }
.w172px { width: 172px; }
.w173px { width: 173px; }
.w174px { width: 174px; }
.w175px { width: 175px; }
.w176px { width: 176px; }
.w177px { width: 177px; }
.w178px { width: 178px; }
.w179px { width: 179px; }
.w180px { width: 180px; }
.w181px { width: 181px; }
.w182px { width: 182px; }
.w183px { width: 183px; }
.w184px { width: 184px; }
.w185px { width: 185px; }
.w186px { width: 186px; }
.w187px { width: 187px; }
.w188px { width: 188px; }
.w189px { width: 189px; }
.w190px { width: 190px; }
.w191px { width: 191px; }
.w192px { width: 192px; }
.w193px { width: 193px; }
.w194px { width: 194px; }
.w195px { width: 195px; }
.w196px { width: 196px; }
.w197px { width: 197px; }
.w198px { width: 198px; }
.w199px { width: 199px; }
.w200px { width: 200px; }
.w201px { width: 201px; }
.w202px { width: 202px; }
.w203px { width: 203px; }
.w204px { width: 204px; }
.w205px { width: 205px; }
.w206px { width: 206px; }
.w207px { width: 207px; }
.w208px { width: 208px; }
.w209px { width: 209px; }
.w210px { width: 210px; }
.w211px { width: 211px; }
.w212px { width: 212px; }
.w213px { width: 213px; }
.w214px { width: 214px; }
.w215px { width: 215px; }
.w216px { width: 216px; }
.w217px { width: 217px; }
.w218px { width: 218px; }
.w219px { width: 219px; }
.w220px { width: 220px; }
.w221px { width: 221px; }
.w222px { width: 222px; }
.w223px { width: 223px; }
.w224px { width: 224px; }
.w225px { width: 225px; }
.w226px { width: 226px; }
.w227px { width: 227px; }
.w228px { width: 228px; }
.w229px { width: 229px; }
.w230px { width: 230px; }
.w231px { width: 231px; }
.w232px { width: 232px; }
.w233px { width: 233px; }
.w234px { width: 234px; }
.w235px { width: 235px; }
.w236px { width: 236px; }
.w237px { width: 237px; }
.w238px { width: 238px; }
.w239px { width: 239px; }
.w240px { width: 240px; }
.w241px { width: 241px; }
.w242px { width: 242px; }
.w243px { width: 243px; }
.w244px { width: 244px; }
.w245px { width: 245px; }
.w246px { width: 246px; }
.w247px { width: 247px; }
.w248px { width: 248px; }
.w249px { width: 249px; }
.w250px { width: 250px; }
.w251px { width: 251px; }
.w252px { width: 252px; }
.w253px { width: 253px; }
.w254px { width: 254px; }
.w255px { width: 255px; }
.w256px { width: 256px; }
.w257px { width: 257px; }
.w258px { width: 258px; }
.w259px { width: 259px; }
.w260px { width: 260px; }
.w261px { width: 261px; }
.w262px { width: 262px; }
.w263px { width: 263px; }
.w264px { width: 264px; }
.w265px { width: 265px; }
.w266px { width: 266px; }
.w267px { width: 267px; }
.w268px { width: 268px; }
.w269px { width: 269px; }
.w270px { width: 270px; }
.w271px { width: 271px; }
.w272px { width: 272px; }
.w273px { width: 273px; }
.w274px { width: 274px; }
.w275px { width: 275px; }
.w276px { width: 276px; }
.w277px { width: 277px; }
.w278px { width: 278px; }
.w279px { width: 279px; }
.w280px { width: 280px; }
.w281px { width: 281px; }
.w282px { width: 282px; }
.w283px { width: 283px; }
.w284px { width: 284px; }
.w285px { width: 285px; }
.w286px { width: 286px; }
.w287px { width: 287px; }
.w288px { width: 288px; }
.w289px { width: 289px; }
.w290px { width: 290px; }
.w291px { width: 291px; }
.w292px { width: 292px; }
.w293px { width: 293px; }
.w294px { width: 294px; }
.w295px { width: 295px; }
.w296px { width: 296px; }
.w297px { width: 297px; }
.w298px { width: 298px; }
.w299px { width: 299px; }
.w300px { width: 300px; }
.w301px { width: 301px; }
.w302px { width: 302px; }
.w303px { width: 303px; }
.w304px { width: 304px; }
.w305px { width: 305px; }
.w306px { width: 306px; }
.w307px { width: 307px; }
.w308px { width: 308px; }
.w309px { width: 309px; }
.w310px { width: 310px; }
.w311px { width: 311px; }
.w312px { width: 312px; }
.w313px { width: 313px; }
.w314px { width: 314px; }
.w315px { width: 315px; }
.w316px { width: 316px; }
.w317px { width: 317px; }
.w318px { width: 318px; }
.w319px { width: 319px; }
.w320px { width: 320px; }
.w321px { width: 321px; }
.w322px { width: 322px; }
.w323px { width: 323px; }
.w324px { width: 324px; }
.w325px { width: 325px; }
.w326px { width: 326px; }
.w327px { width: 327px; }
.w328px { width: 328px; }
.w329px { width: 329px; }
.w330px { width: 330px; }
.w331px { width: 331px; }
.w332px { width: 332px; }
.w333px { width: 333px; }
.w334px { width: 334px; }
.w335px { width: 335px; }
.w336px { width: 336px; }
.w337px { width: 337px; }
.w338px { width: 338px; }
.w339px { width: 339px; }
.w340px { width: 340px; }
.w341px { width: 341px; }
.w342px { width: 342px; }
.w343px { width: 343px; }
.w344px { width: 344px; }
.w345px { width: 345px; }
.w346px { width: 346px; }
.w347px { width: 347px; }
.w348px { width: 348px; }
.w349px { width: 349px; }
.w350px { width: 350px; }
.w351px { width: 351px; }
.w352px { width: 352px; }
.w353px { width: 353px; }
.w354px { width: 354px; }
.w355px { width: 355px; }
.w356px { width: 356px; }
.w357px { width: 357px; }
.w358px { width: 358px; }
.w359px { width: 359px; }
.w360px { width: 360px; }
.w361px { width: 361px; }
.w362px { width: 362px; }
.w363px { width: 363px; }
.w364px { width: 364px; }
.w365px { width: 365px; }
.w366px { width: 366px; }
.w367px { width: 367px; }
.w368px { width: 368px; }
.w369px { width: 369px; }
.w370px { width: 370px; }
.w371px { width: 371px; }
.w372px { width: 372px; }
.w373px { width: 373px; }
.w374px { width: 374px; }
.w375px { width: 375px; }
.w376px { width: 376px; }
.w377px { width: 377px; }
.w378px { width: 378px; }
.w379px { width: 379px; }
.w380px { width: 380px; }
.w381px { width: 381px; }
.w382px { width: 382px; }
.w383px { width: 383px; }
.w384px { width: 384px; }
.w385px { width: 385px; }
.w386px { width: 386px; }
.w387px { width: 387px; }
.w388px { width: 388px; }
.w389px { width: 389px; }
.w390px { width: 390px; }
.w391px { width: 391px; }
.w392px { width: 392px; }
.w393px { width: 393px; }
.w394px { width: 394px; }
.w395px { width: 395px; }
.w396px { width: 396px; }
.w397px { width: 397px; }
.w398px { width: 398px; }
.w399px { width: 399px; }
.w400px { width: 400px; }
.w401px { width: 401px; }
.w402px { width: 402px; }
.w403px { width: 403px; }
.w404px { width: 404px; }
.w405px { width: 405px; }
.w406px { width: 406px; }
.w407px { width: 407px; }
.w408px { width: 408px; }
.w409px { width: 409px; }
.w410px { width: 410px; }
.w411px { width: 411px; }
.w412px { width: 412px; }
.w413px { width: 413px; }
.w414px { width: 414px; }
.w415px { width: 415px; }
.w416px { width: 416px; }
.w417px { width: 417px; }
.w418px { width: 418px; }
.w419px { width: 419px; }
.w420px { width: 420px; }
.w421px { width: 421px; }
.w422px { width: 422px; }
.w423px { width: 423px; }
.w424px { width: 424px; }
.w425px { width: 425px; }
.w426px { width: 426px; }
.w427px { width: 427px; }
.w428px { width: 428px; }
.w429px { width: 429px; }
.w430px { width: 430px; }
.w431px { width: 431px; }
.w432px { width: 432px; }
.w433px { width: 433px; }
.w434px { width: 434px; }
.w435px { width: 435px; }
.w436px { width: 436px; }
.w437px { width: 437px; }
.w438px { width: 438px; }
.w439px { width: 439px; }
.w440px { width: 440px; }
.w441px { width: 441px; }
.w442px { width: 442px; }
.w443px { width: 443px; }
.w444px { width: 444px; }
.w445px { width: 445px; }
.w446px { width: 446px; }
.w447px { width: 447px; }
.w448px { width: 448px; }
.w449px { width: 449px; }
.w450px { width: 450px; }
.w451px { width: 451px; }
.w452px { width: 452px; }
.w453px { width: 453px; }
.w454px { width: 454px; }
.w455px { width: 455px; }
.w456px { width: 456px; }
.w457px { width: 457px; }
.w458px { width: 458px; }
.w459px { width: 459px; }
.w460px { width: 460px; }
.w461px { width: 461px; }
.w462px { width: 462px; }
.w463px { width: 463px; }
.w464px { width: 464px; }
.w465px { width: 465px; }
.w466px { width: 466px; }
.w467px { width: 467px; }
.w468px { width: 468px; }
.w469px { width: 469px; }
.w470px { width: 470px; }
.w471px { width: 471px; }
.w472px { width: 472px; }
.w473px { width: 473px; }
.w474px { width: 474px; }
.w475px { width: 475px; }
.w476px { width: 476px; }
.w477px { width: 477px; }
.w478px { width: 478px; }
.w479px { width: 479px; }
.w480px { width: 480px; }
.w481px { width: 481px; }
.w482px { width: 482px; }
.w483px { width: 483px; }
.w484px { width: 484px; }
.w485px { width: 485px; }
.w486px { width: 486px; }
.w487px { width: 487px; }
.w488px { width: 488px; }
.w489px { width: 489px; }
.w490px { width: 490px; }
.w491px { width: 491px; }
.w492px { width: 492px; }
.w493px { width: 493px; }
.w494px { width: 494px; }
.w495px { width: 495px; }
.w496px { width: 496px; }
.w497px { width: 497px; }
.w498px { width: 498px; }
.w499px { width: 499px; }
.w500px { width: 500px; }
.w501px { width: 501px; }
.w502px { width: 502px; }
.w503px { width: 503px; }
.w504px { width: 504px; }
.w505px { width: 505px; }
.w506px { width: 506px; }
.w507px { width: 507px; }
.w508px { width: 508px; }
.w509px { width: 509px; }
.w510px { width: 510px; }
.w511px { width: 511px; }
.w512px { width: 512px; }
.w513px { width: 513px; }
.w514px { width: 514px; }
.w515px { width: 515px; }
.w516px { width: 516px; }
.w517px { width: 517px; }
.w518px { width: 518px; }
.w519px { width: 519px; }
.w520px { width: 520px; }
.w521px { width: 521px; }
.w522px { width: 522px; }
.w523px { width: 523px; }
.w524px { width: 524px; }
.w525px { width: 525px; }
.w526px { width: 526px; }
.w527px { width: 527px; }
.w528px { width: 528px; }
.w529px { width: 529px; }
.w530px { width: 530px; }
.w531px { width: 531px; }
.w532px { width: 532px; }
.w533px { width: 533px; }
.w534px { width: 534px; }
.w535px { width: 535px; }
.w536px { width: 536px; }
.w537px { width: 537px; }
.w538px { width: 538px; }
.w539px { width: 539px; }
.w540px { width: 540px; }
.w541px { width: 541px; }
.w542px { width: 542px; }
.w543px { width: 543px; }
.w544px { width: 544px; }
.w545px { width: 545px; }
.w546px { width: 546px; }
.w547px { width: 547px; }
.w548px { width: 548px; }
.w549px { width: 549px; }
.w550px { width: 550px; }
.w551px { width: 551px; }
.w552px { width: 552px; }
.w553px { width: 553px; }
.w554px { width: 554px; }
.w555px { width: 555px; }
.w556px { width: 556px; }
.w557px { width: 557px; }
.w558px { width: 558px; }
.w559px { width: 559px; }
.w560px { width: 560px; }
.w561px { width: 561px; }
.w562px { width: 562px; }
.w563px { width: 563px; }
.w564px { width: 564px; }
.w565px { width: 565px; }
.w566px { width: 566px; }
.w567px { width: 567px; }
.w568px { width: 568px; }
.w569px { width: 569px; }
.w570px { width: 570px; }
.w571px { width: 571px; }
.w572px { width: 572px; }
.w573px { width: 573px; }
.w574px { width: 574px; }
.w575px { width: 575px; }
.w576px { width: 576px; }
.w577px { width: 577px; }
.w578px { width: 578px; }
.w579px { width: 579px; }
.w580px { width: 580px; }
.w581px { width: 581px; }
.w582px { width: 582px; }
.w583px { width: 583px; }
.w584px { width: 584px; }
.w585px { width: 585px; }
.w586px { width: 586px; }
.w587px { width: 587px; }
.w588px { width: 588px; }
.w589px { width: 589px; }
.w590px { width: 590px; }
.w591px { width: 591px; }
.w592px { width: 592px; }
.w593px { width: 593px; }
.w594px { width: 594px; }
.w595px { width: 595px; }
.w596px { width: 596px; }
.w597px { width: 597px; }
.w598px { width: 598px; }
.w599px { width: 599px; }
.w600px { width: 600px; }
.w601px { width: 601px; }
.w602px { width: 602px; }
.w603px { width: 603px; }
.w604px { width: 604px; }
.w605px { width: 605px; }
.w606px { width: 606px; }
.w607px { width: 607px; }
.w608px { width: 608px; }
.w609px { width: 609px; }
.w610px { width: 610px; }
.w611px { width: 611px; }
.w612px { width: 612px; }
.w613px { width: 613px; }
.w614px { width: 614px; }
.w615px { width: 615px; }
.w616px { width: 616px; }
.w617px { width: 617px; }
.w618px { width: 618px; }
.w619px { width: 619px; }
.w620px { width: 620px; }
.w621px { width: 621px; }
.w622px { width: 622px; }
.w623px { width: 623px; }
.w624px { width: 624px; }
.w625px { width: 625px; }
.w626px { width: 626px; }
.w627px { width: 627px; }
.w628px { width: 628px; }
.w629px { width: 629px; }
.w630px { width: 630px; }
.w631px { width: 631px; }
.w632px { width: 632px; }
.w633px { width: 633px; }
.w634px { width: 634px; }
.w635px { width: 635px; }
.w636px { width: 636px; }
.w637px { width: 637px; }
.w638px { width: 638px; }
.w639px { width: 639px; }
.w640px { width: 640px; }
.w641px { width: 641px; }
.w642px { width: 642px; }
.w643px { width: 643px; }
.w644px { width: 644px; }
.w645px { width: 645px; }
.w646px { width: 646px; }
.w647px { width: 647px; }
.w648px { width: 648px; }
.w649px { width: 649px; }
.w650px { width: 650px; }
.w651px { width: 651px; }
.w652px { width: 652px; }
.w653px { width: 653px; }
.w654px { width: 654px; }
.w655px { width: 655px; }
.w656px { width: 656px; }
.w657px { width: 657px; }
.w658px { width: 658px; }
.w659px { width: 659px; }
.w660px { width: 660px; }
.w661px { width: 661px; }
.w662px { width: 662px; }
.w663px { width: 663px; }
.w664px { width: 664px; }
.w665px { width: 665px; }
.w666px { width: 666px; }
.w667px { width: 667px; }
.w668px { width: 668px; }
.w669px { width: 669px; }
.w670px { width: 670px; }
.w671px { width: 671px; }
.w672px { width: 672px; }
.w673px { width: 673px; }
.w674px { width: 674px; }
.w675px { width: 675px; }
.w676px { width: 676px; }
.w677px { width: 677px; }
.w678px { width: 678px; }
.w679px { width: 679px; }
.w680px { width: 680px; }
.w681px { width: 681px; }
.w682px { width: 682px; }
.w683px { width: 683px; }
.w684px { width: 684px; }
.w685px { width: 685px; }
.w686px { width: 686px; }
.w687px { width: 687px; }
.w688px { width: 688px; }
.w689px { width: 689px; }
.w690px { width: 690px; }
.w691px { width: 691px; }
.w692px { width: 692px; }
.w693px { width: 693px; }
.w694px { width: 694px; }
.w695px { width: 695px; }
.w696px { width: 696px; }
.w697px { width: 697px; }
.w698px { width: 698px; }
.w699px { width: 699px; }
.w700px { width: 700px; }
.w701px { width: 701px; }
.w702px { width: 702px; }
.w703px { width: 703px; }
.w704px { width: 704px; }
.w705px { width: 705px; }
.w706px { width: 706px; }
.w707px { width: 707px; }
.w708px { width: 708px; }
.w709px { width: 709px; }
.w710px { width: 710px; }
.w711px { width: 711px; }
.w712px { width: 712px; }
.w713px { width: 713px; }
.w714px { width: 714px; }
.w715px { width: 715px; }
.w716px { width: 716px; }
.w717px { width: 717px; }
.w718px { width: 718px; }
.w719px { width: 719px; }
.w720px { width: 720px; }
.w721px { width: 721px; }
.w722px { width: 722px; }
.w723px { width: 723px; }
.w724px { width: 724px; }
.w725px { width: 725px; }
.w726px { width: 726px; }
.w727px { width: 727px; }
.w728px { width: 728px; }
.w729px { width: 729px; }
.w730px { width: 730px; }
.w731px { width: 731px; }
.w732px { width: 732px; }
.w733px { width: 733px; }
.w734px { width: 734px; }
.w735px { width: 735px; }
.w736px { width: 736px; }
.w737px { width: 737px; }
.w738px { width: 738px; }
.w739px { width: 739px; }
.w740px { width: 740px; }
.w741px { width: 741px; }
.w742px { width: 742px; }
.w743px { width: 743px; }
.w744px { width: 744px; }
.w745px { width: 745px; }
.w746px { width: 746px; }
.w747px { width: 747px; }
.w748px { width: 748px; }
.w749px { width: 749px; }
.w750px { width: 750px; }
.w751px { width: 751px; }
.w752px { width: 752px; }
.w753px { width: 753px; }
.w754px { width: 754px; }
.w755px { width: 755px; }
.w756px { width: 756px; }
.w757px { width: 757px; }
.w758px { width: 758px; }
.w759px { width: 759px; }
.w760px { width: 760px; }
.w761px { width: 761px; }
.w762px { width: 762px; }
.w763px { width: 763px; }
.w764px { width: 764px; }
.w765px { width: 765px; }
.w766px { width: 766px; }
.w767px { width: 767px; }
.w768px { width: 768px; }
.w769px { width: 769px; }
.w770px { width: 770px; }
.w771px { width: 771px; }
.w772px { width: 772px; }
.w773px { width: 773px; }
.w774px { width: 774px; }
.w775px { width: 775px; }
.w776px { width: 776px; }
.w777px { width: 777px; }
.w778px { width: 778px; }
.w779px { width: 779px; }
.w780px { width: 780px; }
.w781px { width: 781px; }
.w782px { width: 782px; }
.w783px { width: 783px; }
.w784px { width: 784px; }
.w785px { width: 785px; }
.w786px { width: 786px; }
.w787px { width: 787px; }
.w788px { width: 788px; }
.w789px { width: 789px; }
.w790px { width: 790px; }
.w791px { width: 791px; }
.w792px { width: 792px; }
.w793px { width: 793px; }
.w794px { width: 794px; }
.w795px { width: 795px; }
.w796px { width: 796px; }
.w797px { width: 797px; }
.w798px { width: 798px; }
.w799px { width: 799px; }
.w800px { width: 800px; }
.w801px { width: 801px; }
.w802px { width: 802px; }
.w803px { width: 803px; }
.w804px { width: 804px; }
.w805px { width: 805px; }
.w806px { width: 806px; }
.w807px { width: 807px; }
.w808px { width: 808px; }
.w809px { width: 809px; }
.w810px { width: 810px; }
.w811px { width: 811px; }
.w812px { width: 812px; }
.w813px { width: 813px; }
.w814px { width: 814px; }
.w815px { width: 815px; }
.w816px { width: 816px; }
.w817px { width: 817px; }
.w818px { width: 818px; }
.w819px { width: 819px; }
.w820px { width: 820px; }
.w821px { width: 821px; }
.w822px { width: 822px; }
.w823px { width: 823px; }
.w824px { width: 824px; }
.w825px { width: 825px; }
.w826px { width: 826px; }
.w827px { width: 827px; }
.w828px { width: 828px; }
.w829px { width: 829px; }
.w830px { width: 830px; }
.w831px { width: 831px; }
.w832px { width: 832px; }
.w833px { width: 833px; }
.w834px { width: 834px; }
.w835px { width: 835px; }
.w836px { width: 836px; }
.w837px { width: 837px; }
.w838px { width: 838px; }
.w839px { width: 839px; }
.w840px { width: 840px; }
.w841px { width: 841px; }
.w842px { width: 842px; }
.w843px { width: 843px; }
.w844px { width: 844px; }
.w845px { width: 845px; }
.w846px { width: 846px; }
.w847px { width: 847px; }
.w848px { width: 848px; }
.w849px { width: 849px; }
.w850px { width: 850px; }
.w851px { width: 851px; }
.w852px { width: 852px; }
.w853px { width: 853px; }
.w854px { width: 854px; }
.w855px { width: 855px; }
.w856px { width: 856px; }
.w857px { width: 857px; }
.w858px { width: 858px; }
.w859px { width: 859px; }
.w860px { width: 860px; }
.w861px { width: 861px; }
.w862px { width: 862px; }
.w863px { width: 863px; }
.w864px { width: 864px; }
.w865px { width: 865px; }
.w866px { width: 866px; }
.w867px { width: 867px; }
.w868px { width: 868px; }
.w869px { width: 869px; }
.w870px { width: 870px; }
.w871px { width: 871px; }
.w872px { width: 872px; }
.w873px { width: 873px; }
.w874px { width: 874px; }
.w875px { width: 875px; }
.w876px { width: 876px; }
.w877px { width: 877px; }
.w878px { width: 878px; }
.w879px { width: 879px; }
.w880px { width: 880px; }
.w881px { width: 881px; }
.w882px { width: 882px; }
.w883px { width: 883px; }
.w884px { width: 884px; }
.w885px { width: 885px; }
.w886px { width: 886px; }
.w887px { width: 887px; }
.w888px { width: 888px; }
.w889px { width: 889px; }
.w890px { width: 890px; }
.w891px { width: 891px; }
.w892px { width: 892px; }
.w893px { width: 893px; }
.w894px { width: 894px; }
.w895px { width: 895px; }
.w896px { width: 896px; }
.w897px { width: 897px; }
.w898px { width: 898px; }
.w899px { width: 899px; }
.w900px { width: 900px; }
.w901px { width: 901px; }
.w902px { width: 902px; }
.w903px { width: 903px; }
.w904px { width: 904px; }
.w905px { width: 905px; }
.w906px { width: 906px; }
.w907px { width: 907px; }
.w908px { width: 908px; }
.w909px { width: 909px; }
.w910px { width: 910px; }
.w911px { width: 911px; }
.w912px { width: 912px; }
.w913px { width: 913px; }
.w914px { width: 914px; }
.w915px { width: 915px; }
.w916px { width: 916px; }
.w917px { width: 917px; }
.w918px { width: 918px; }
.w919px { width: 919px; }
.w920px { width: 920px; }
.w921px { width: 921px; }
.w922px { width: 922px; }
.w923px { width: 923px; }
.w924px { width: 924px; }
.w925px { width: 925px; }
.w926px { width: 926px; }
.w927px { width: 927px; }
.w928px { width: 928px; }
.w929px { width: 929px; }
.w930px { width: 930px; }
.w931px { width: 931px; }
.w932px { width: 932px; }
.w933px { width: 933px; }
.w934px { width: 934px; }
.w935px { width: 935px; }
.w936px { width: 936px; }
.w937px { width: 937px; }
.w938px { width: 938px; }
.w939px { width: 939px; }
.w940px { width: 940px; }
.w941px { width: 941px; }
.w942px { width: 942px; }
.w943px { width: 943px; }
.w944px { width: 944px; }
.w945px { width: 945px; }
.w946px { width: 946px; }
.w947px { width: 947px; }
.w948px { width: 948px; }
.w949px { width: 949px; }
.w950px { width: 950px; }
.w951px { width: 951px; }
.w952px { width: 952px; }
.w953px { width: 953px; }
.w954px { width: 954px; }
.w955px { width: 955px; }
.w956px { width: 956px; }
.w957px { width: 957px; }
.w958px { width: 958px; }
.w959px { width: 959px; }
.w960px { width: 960px; }
.w961px { width: 961px; }
.w962px { width: 962px; }
.w963px { width: 963px; }
.w964px { width: 964px; }
.w965px { width: 965px; }
.w966px { width: 966px; }
.w967px { width: 967px; }
.w968px { width: 968px; }
.w969px { width: 969px; }
.w970px { width: 970px; }
.w971px { width: 971px; }
.w972px { width: 972px; }
.w973px { width: 973px; }
.w974px { width: 974px; }
.w975px { width: 975px; }
.w976px { width: 976px; }
.w977px { width: 977px; }
.w978px { width: 978px; }
.w979px { width: 979px; }
.w980px { width: 980px; }
.w981px { width: 981px; }
.w982px { width: 982px; }
.w983px { width: 983px; }
.w984px { width: 984px; }
.w985px { width: 985px; }
.w986px { width: 986px; }
.w987px { width: 987px; }
.w988px { width: 988px; }
.w989px { width: 989px; }
.w990px { width: 990px; }
.w991px { width: 991px; }
.w992px { width: 992px; }
.w993px { width: 993px; }
.w994px { width: 994px; }
.w995px { width: 995px; }
.w996px { width: 996px; }
.w997px { width: 997px; }
.w998px { width: 998px; }
.w999px { width: 999px; }
.w1000px { width: 1000px; }


/* 3. Align ***********************************************************************************************************/

/* 3.1 Text Horizontal Align */
.left {text-align: left !important;}

.right {text-align: right !important;}

.center {text-align: center !important;}

/* 3.2 Text Vertical Align */
.top {vertical-align: top;}

.middle {vertical-align: middle;}

.bottom {vertical-align: bottom;}

/* 3.3 Element Floating */
.fl {float: left;}

.fr {float: right;}

/* 4. Border **********************************************************************************************************/
/* 4.1 Border */
.nbt {border-top: 0px;}

.nbb {border-bottom: 0px;}

.nbl {border-left: 0px;}

.nbr {border-right: 0px;}

/* 5. Display *********************************************************************************************************/
/* 5.1 Display */
.hide {display: none;}

.show {display: block;}