@charset "utf-8";
/***********************************************************************************************************************
©Copyright 2023. DAL. All rights reserved.

File Name       : co.kr.dal.select_input.css
Description     : 공통 select_input css
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.    Date         Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1     2023.11.10    이원정        최초개발

------------------------------------------------------------------------------------------------------------------------

***********************************************************************************************************************/

/*
Contents

1. input

*/

/* 1. input ***********************************************************************************************************/
.input {
    border: 1px solid;
    border-radius: 2px;
    letter-spacing: 0;
    vertical-align: middle;
}

.input:focus {
    outline: none;
}
