<!--
파일명        : MyBoard.html
최초 작성자    : 박제형
최초 작성날짜   : 2024.01.22
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-layout}">


<!-- 2. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/my/css/my-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/my/css/myBoard.css}">
    <script src="/my/js/myBoard.js" defer></script>
    <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">
</th:block>


<th:block layout:fragment="content">
    <!-- 4.2 Content -->
    <section>
        <div class="ct_content-wrap">
            <div class="ct_subtitle">
                <div class="title" id="title1">내 게시글</div>
                <div class="title" id="title2" style="display: none;">내 댓글</div>
            </div>
            <div class="content-top">
                <ul class="tabs">
                    <li id="myBoardTab" class="tab-link1">내가 쓴 게시글</li>
                    <li id="myReplyTab" class="tab-link2">내가 쓴 댓글</li>
                </ul>
                <!-- 내가 쓴 게시글 (탭1) -->
                <div id="boardTab" class="content-middle">
                    <table class="board-write">
                        <colgroup>
                            <col style="width: 5px;">
                            <col style="width: 50px;">
                            <col style="width: 90px;">
                            <col style="width: 230px;">
                            <col style="width: 100px;">
                            <col style="width: 30px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="all_checkboxes"></th>
                            <th>글 번호</th>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>작성일시</th>
                            <th>조회수</th>
                        </tr>
                        </thead>
                        <tbody th:each="board : ${boardList}">
                        <tr>
                            <td><input type="checkbox" th:data-bardid="${board.bard_id}" th:data-bardtype="${board.bard_type}" class="checkboxes"></td>
                            <td th:text="${board.bard_id}"></td>
                            <td th:text="${board.bard_type}"></td>
                            <td>
                                <a href="#" th:text="${board.bard_tit}" th:data="${board.bard_id}"></a>
                            </td>
                            <td th:text="${board.bard_rdate}"></td>
                            <td th:text="${board.bard_cnt}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 내가 쓴 댓글 (탭2) -->
                <div id="replyTab" class="content-middle" style="display: none;">
                    <table class="board-reply">
                        <colgroup>
                            <col style="width: 50px;">
                            <col style="width: 70px;">
                            <col style="width: 250px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="all_checkboxes2"></th>
                            <th>카테고리</th>
                            <th>댓글 내용</th>
                            <th>작성일시</th>
                        </tr>
                        </thead>
                        <tbody th:each="ans : ${ansList}">
                        <tr>
                            <td><input type="checkbox" th:data-ansid="${ans.ans_id}" class="checkboxes2"></td>
                            <td th:text="${ans.ans_type}"></td>
                            <td th:text="${ans.ans_cn}"></td>
                            <td th:text="${ans.ans_rdate}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="content-bottom">
                    <a id="btnDelete" class="btn-delete">삭제하기</a>
                    <a id="btnDelete2" class="btn-delete" style="display: none;">삭제하기</a>
                </div>

            <!-- Pagination -->
            <div class="pagination" th:object="${ph}" th:style="${#lists.size(boardList) == 0 ? 'visibility:hidden;':''}">
                <th:block th:if="*{showPrev}">
                    <a th:href="@{/my/MyBoard} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">< </a>
                </th:block>
                <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                    <a th:href="@{/my/MyBoard} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                        [[${num}]]
                    </a>
                </th:block>
                <th:block th:if="*{showNext}">
                    <a th:href="@{/my/MyBoard} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next"> ></a>
                </th:block>
            </div>

            </div>
        </div>
    </section>
</th:block>

</html>