<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-layout}">


  <!-- 2. Page JS, CSS -->
  <th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/my/css/my-layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/my/css/myPoint.css}">
    <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">
  </th:block>


  <th:block layout:fragment="content">
    <!-- 4.2 Content -->
    <section>
      <div class="ct_content-wrap">
        <div class="ct_subtitle">
          <h3>적립금</h3>
        </div>
        <div class="content-top">
          <div class="useable">사용 가능한 적립금</div>
          <div class="useable-view"> 2,290p </div>
          <div class="until-view"><span>30일 이내 소멸 예정 적립금</span> 100p</div>
        </div>
        <div class="content-middle">
          적립금 내역
        </div>
        <table class="savedmoney-table" th:each="point : ${pointList}">
          <colgroup>
            <col style="width:180px;">
            <col style="">
            <col style="width:500px;">
          </colgroup>
          <tbody>
          <tr>
            <td class="savedmoney-count-date">2023-11-08</td>
            <td>
              <div class="forrow">
                <div class="savedmoney-img"><a href="#">적립</a></div>
                <div class="savedmoney-reason">사진 리뷰 작성(구매)</div>
              </div>
              <div class="savedmoney-item-name">처음처럼</div>
              <div class="savedmoney-until"> 유효기간 2023-12-08 까지</div>
            </td>
            <td class="savedmoney-count" th:text="${point.point_price}"></td>
          </tr>
          </tbody>
        </table>
        <div class="content-bottom">
          <a href="#" class="paging-before5"><<</a> &nbsp;&nbsp;
          <a href="#" class="paging-before"><</a> &nbsp;&nbsp;
          <div class="current-page">1</div> &nbsp;&nbsp;
          <a href="#" class="paging-foward">></a> &nbsp;&nbsp;
          <a href="#" class="paging-foward5">>></a>
        </div>
      </div>
    </section>
  </th:block>

</html>
