<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/my-layout}">


    <!-- 2. Page JS, CSS -->
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" type="text/css" th:href="@{/my/css/my-layout.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/my/css/myWithdraw.css}">
        <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">
    </th:block>


    <th:block layout:fragment="content">

      <main>
        <div class="ct_main">
        <!-- 4.2 Content -->
          <section>
            <div class="ct_content-wrap">
               <div class="cotent-top">
                  <div class="widthdraw-img">
                    <a href="#">이미지 자리 엉엉 울고있는 엉엉엉</a>
                  </div>
                   <div class="left-point">
                       <div>현재 사용가능한 포인트: <span>300</span> p</div>
                       <div>현재 사용가능한 쿠폰: <span>3</span> 장</div>
                   </div>
                  <div class="widthdraw-text">
                    지금 탈퇴하면 지금까지 쌔빠지게 모은 포인트 쿠폰 전부 ㅃㅇㅃㅇ 인데 ㄹㅇ ㄱㅊㄱㅊ?? ㅋㅋㅋ;;;; <br>
                    다시 회원가입해도 돌려주지도 않음 ㄹㅇ 개손해인 부분 ㅇㅈ? 어ㅇㅈ 동의 ? 어 보감
                  </div>
               </div>
               <div class="cotent-bottom">
                  <a id="btnWidthdraw" href="#" class="btn large blue">탈퇴하기</a>
                  <a id="btnMainPage" href="#" class="btn large blue">메인화면으로 가기</a>
               </div>
            </div>
          </section>
        </div>
      </main>
    </th:block>

</html>
