/* ct_main */
.ct_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*  aside */
aside {
    width: 200px;
    border: 1px solid;
}

.ct_left-menu {
    padding-top: 30px;
}

.menu-tit {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

ul li a:hover {
    background-color: #5d78e2;
    color: #fff;
  }

/* content */
section {
    width: calc(100vw - 400px);
    border: 1px solid;
}

.ct_subtitle {
    min-height: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    width: 80%;
    margin: 25px auto;

}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

th {
    background-color: #5d78e2;
    color: #fff; 
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px;
}

tr {
    border-bottom: 1px solid #bdc3c7; 
}

tbody tr:hover {
    background-color: #d4e6f1; 
}

/* 페이지바 */
.pagination {
    display: flex;
    list-style: none;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
  }

  .pagination a:hover {
    background-color: #f0f0f0;
  }

  /* 검색바 */
  .ct_search-wrap {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  select, input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .btnSearch {
    display: inline-block;
    background-color: #5d78e2;
    color: #fff;
    text-decoration: none;
    border: 1px solid  #5d78e2;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box; 
  }

  .btnSearch:hover {
    background-color: #5d78e2;
    border-color: #5d78e2;
  }