<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : commList.html
Program Name    : 커뮤니티
Description     :
Draft Author    :
Draft Date      : 2023.11.10
----------------------------------------------------------------------------------------------------------------------->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<!-- 1. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/comm/css/commList.css}">
    <script src="/comm/js/commList.js" defer></script>
</th:block>

<!-- 2. Page Content -->
<th:block layout:fragment="content">
    <!-- 3. Main -->
    <main>
        <div class="ct_main">
            <!-- 4.1 Aside -->
            <aside>
                <div class="ct_subtitle">
                    <h3>CATEGORY</h3>
                </div>
                <div class="ct_left-menu">
                    <ul id="0" onclick="fnAjaxCommList()">
                        <li><a>ALL</a></li>
                    </ul>
                    <ul id="1" onclick="fnAjaxCommList()">
                        <li><a>NOTICE</a></li>
                    </ul>
                    <ul id="2" onclick="fnAjaxCommList()">
                        <li><a>REVIEW</a></li>
                    </ul>
                    <ul id="3" onclick="fnAjaxCommList()">
                        <li><a>DAILY</a></li>
                    </ul>
                </div>
            </aside>
            <!-- 4.2 Content -->
            <section>
                <!-- 4.2.1 Subtitle -->
                <div class="ct_subtitle">
                    <h3>COMMUNITY</h3>
                </div>
                <!-- 4.2.2 Search -->
                <div class="ct_search-wrap">
                    <div class="ct_search">
                        <select id="searchKeyword" name="searchKeyword">
                            <option value="bard_tit">제목</option>
                            <option value="bard_cn">내용</option>
                        </select>
                        <input type="text" id="searchValue" name="searchValue">
                        <input type="button" class="btnSearch" onclick="fnAjaxCommList()" value="검색">
                        <input type="button" id="REG" class="REG" value="등록">
                    </div>
                </div>
                <!-- 4.2.3 Board Content -->
                <div class="ct_content">
                    <table class="board-list">
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 15%;">
                            <col style="width: 30%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <thead style="pointer-events: none;">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>작성자</th>
                            <th>조회수</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody id="fieldListBody">
                        </tbody>
                    </table>
                </div>

                <!-- 4.2.3 Pagination -->
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </section>
        </div>
    </main>
</th:block>
</html>
