<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : commList.html
Program Name    : 커뮤니티
Description     :
Draft Author    :
Draft Date      : 2023.11.10
----------------------------------------------------------------------------------------------------------------------->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<!-- 1. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/comm/css/commList.css}">
    <script src="/comm/js/commList.js" defer></script>
</th:block>

<!-- 2. Page Content -->
<th:block layout:fragment="content">
    <!-- 3. Main -->
    <main>
        <div class="ct_main">
            <!-- 4.2 Content -->
            <section>
                <!-- 4.2.1 Subtitle -->
                <div class="ct_subtitle">
                    <h3>COMMUNITY</h3>
                </div>
                <!-- 4.2.2 Search -->
                <div class="ct_search-wrap">
                    <div class="ct_search">
                    <form id="searchForm" th:action="@{/comm/commList}" method="POST">
                        <!-- CSRF 토큰을 input으로 추가 -->
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}" th:if="${_csrf}" />
                        <!-- CSRF 헤더를 input으로 추가 -->
                        <input type="hidden" name="header" th:value="${_csrf.headerName}" th:if="${_csrf}" />

                        <select id="bardType" name="bardType" th:field="*{commVO.bardType}">
                            <option value="0">ALL</option>
                            <option value="1">NOTICE</option>
                            <option value="2">REVIEW</option>
                            <option value="3">DAILY</option>
                        </select>

                        <select id="searchKeyword" name="searchKeyword" th:field="*{commVO.searchKeyword}">
                            <option value="bard_tit">제목</option>
                            <option value="bard_cn">내용</option>
                        </select>
                        <input type="text" id="searchValue" name="searchValue" th:value="${commVO.searchValue}">
                        <input type="submit" class="btnSearch" value="검색">
                        <input type="button" id="REG" class="REG" value="등록">
                    </form>
                    </div>
                </div>
                <!-- 4.2.3 Board Content -->
                <div class="ct_content">
                    <table class="board-list">
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 15%;">
                            <col style="width: 30%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <thead style="pointer-events: none;">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>내용</th>
                            <th>작성자</th>
                            <th>조회수</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody id="fieldListBody">
                            <tr th:each="result : ${commList}" th:attr="data-bardId=${result.bardId}">
                                <td><p th:text="${result.bardId}"></p></td>
                                <td><p th:text="${result.bardTit}"></p></td>
                                <td><p th:text="${result.bardCn}"></p></td>
                                <td><p th:text="${result.userId}"></p></td>
                                <td><p th:text="${result.bardCnt}"></p></td>
                                <td><p th:text="${result.bardRdate}"></p></td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(commList)}">
                                <td colspan="6"><p>등록된 글이 없습니다.</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Pagination -->
                <div class="pagination" th:object="${ph}" th:style="${#lists.isEmpty(commList) ? 'visibility:hidden;' : ''}">
                    <th:block th:if="${showPrev}">
                        <a th:href="@{/comm/commList} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">&lt;</a>
                    </th:block>
                    <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                        <a th:href="@{/comm/commList} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                            [[${num}]]
                        </a>
                    </th:block>
                    <th:block th:if="${showNext}">
                        <a th:href="@{/comm/commList} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next">&gt;</a>
                    </th:block>
                </div>
            </section>
        </div>
    </main>
</th:block>
</html>
