<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : commList.html
Program Name    : 커뮤니티
Description     :
Draft Author    :
Draft Date      : 2023.11.10
----------------------------------------------------------------------------------------------------------------------->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<!-- 1. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/comm/css/commWrite.css}">
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script src="/comm/js/commWrite.js" defer></script>
</th:block>

<!-- 2. Page Content -->
<th:block layout:fragment="content">
    <!-- 3. Main -->
    <!-- 4. Main -->
    <main>
        <div class="ct_main">
            <!-- 4.1 Aside -->
            <aside>
                <div class="ct_left-menu">
                    <h4 class="menu-tit">CATEGORY</h4>
                    <ul>
                        <li><a href="#">ALL</a></li>
                        <li><a href="#">NOTICE</a></li>
                        <li><a href="#">REVIEW</a></li>
                        <li><a href="#">DAILY</a></li>
                    </ul>
                </div>
            </aside>
            <!-- 4.2 Content -->
            <section>
                <div class="ct_content-wrap">
                    <!-- 4.2.1 Subtitle -->
                    <div class="ct_subtitle">
                        <h3>게시물 등록</h3>
                    </div>

                    <!-- 4.2.2 Board Content -->
                    <div class="ct_content">
                        <form action="/comm/commAjaxWrite" method="post">
                            <table class="tb tb_row">
                                <colgroup>
                                    <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">카테고리</th>
                                    <td>
                                        <select id="bard_type" name="bard_type">
                                            <option value="ALL">ALL</option>
                                            <option value="NOTICE">NOTICE</option>
                                            <option value="REVIEW">REVIEW</option>
                                            <option value="DAILY">DAILY</option>
                                        </select>
                                    </td>
                                    <th>제목 <span>*</span></th>
                                    <td colspan="3"><input type="text" id="bard_tit" name="bard_tit" placeholder="제목을 입력해 주세요." /></td>
                                </tr>
                                <tr>
                                    <th>내용 <span>*</span></th>
                                    <td colspan="3"><textarea id="bard_cn" name="bard_cn" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea></td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- 등록 또는 수정 버튼 -->
                            <button type="submit">등록</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
</th:block>
</html>

<script>
    let oEditors = []

    smartEditor = function() {
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: oEditors,
            elPlaceHolder: "bard_cn",
            sSkinURI: "/smarteditor/SmartEditor2Skin.html",
            fCreator: "createSEditor2",
            tParams: { fOnBeforeUnload : function(){}}
        })
    }

    document.addEventListener('DOMContentLoaded', function() {
        smartEditor();
    });
</script>