<!DOCTYPE html>
<html lang="en">
    <!-- 1. Common Head -->
    <head>
        <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <!-- 2. Page JS, CSS -->
    <link rel="stylesheet" href="/common/css/layout.css" />
    <link rel="stylesheet" href="/common/css/reset.css" />
    <link rel="stylesheet" href="/common/css/element.css" />
    <link rel="stylesheet" href="/comm/css/comm-layout.css" />
    <link rel="stylesheet" href="/comm/css/commList.css" />
    <script src="/comm/js/commWrite.js"></script>

    <body>
        <div id="wrapper">
            <!-- 3. Header -->
            <header>
                <div class="user-wrap">사용자 관련 바로가기 영역</div>
                <div class="cate-wrap">로고 및 카테고리 영역</div>
            </header>

            <!-- 4. Main -->
            <main>
                <div class="ct_main">
                    <!-- 4.1 Aside -->
                    <aside>
                        <div class="ct_left-menu">
                            <h4 class="menu-tit">CATEGORY</h4>
                            <ul>
                                <li><a href="#">ALL</a></li>
                                <li><a href="#">NOTICE</a></li>
                                <li><a href="#">REVIEW</a></li>
                                <li><a href="#">DAILY</a></li>
                            </ul>
                        </div>
                    </aside>
                    <!-- 4.2 Content -->
                    <section>
                        <div class="ct_content-wrap">
                            <!-- 4.2.1 Subtitle -->
                            <div class="ct_subtitle">
                                <h3>게시물 등록</h3>
                            </div>

                            <!-- 4.2.2 Board Content -->
                            <div class="ct_content">
                                <!-- 제목 -->
                                <label for="bard_tit">제목:</label>
                                <input type="text" id="bard_tit" name="bard_tit" placeholder="제목을 입력해주세요" style="width: 531px; margin-bottom: 10px;">

                                <!-- 내용 -->
                                <textarea id="bard_cn" name="bard_cn" rows="20" cols="10" placeholder="내용을 입력해주세요" style="width: 500px"></textarea>

                                <!-- 등록 또는 수정 버튼 -->
                                <input type="submit" id="submit" value="저장" class="btn">
                            </div>
                        </div>
                    </section>
                </div>
            </main>

            <!-- 5. Footer -->
            <footer>
                <div class="ct_footer">
                    <div class="footer-menu">
                        <div class="footer-shortcut">
                            <table>
                                <tr>
                                    <td><a href="#">ABOUT</a></td>
                                    <td><a href="#">NOTICE</a></td>
                                    <td><a href="#">CS CENTER</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="footer-sns">
                            <a href="#"><img src="./img/instagram.png" alt="인스타그램" /></a>
                            <a href="#"><img src="./img/facebook.png" alt="페이스북" /></a>
                            <a href="#"><img src="./img/youtube.png" alt="유튜브" /></a>
                        </div>
                    </div>
                    <div class="footer-block">
                        <div class="footer-block-left">
                            <ul>
                                <h4>INFORMATION</h4>
                                <li><i>company.</i>&nbsp;&nbsp;주식회사 달</li>
                                <li><i>owner.</i>&nbsp;&nbsp;김문</li>
                                <li><i>email.</i>&nbsp;&nbsp;drinkallliquor@gmail.com</li>
                                <li>
                                    <i>corporate registration num.</i>&nbsp;&nbsp;123-45-67890
                                </li>
                                <li><i>online license.</i>&nbsp;&nbsp;제 2023-달구-0123호</li>
                                <li><i>address.</i>&nbsp;&nbsp;서울특별시 서초구 서운로 22</li>
                                <br />
                                <li class="footer-right">
                                    copyright© drinkallliquor All rights reserved.
                                </li>
                            </ul>
                        </div>
                        <div class="footer-block-right">
                            <ul>
                                <h4>C/S CENTER</h4>
                                <li class="cs_tel">070-1234-1234</li>
                                <li>MON - FRI AM 09:00 - PM 17:00</li>
                                <li>BREAK PM 12:00 - PM 13:00</li>
                                <li>
                                    SAT, SUN, HOLIDAY
                                    <span style="color: #ce5c5c">closed</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-guide">
                        <div><a href="#">ABOUT US</a></div>
                        <div>|</div>
                        <div><a href="#">TERMS</a></div>
                        <div>|</div>
                        <div><a href="#">FINANCE POLICY</a></div>
                        <div>|</div>
                        <div><a href="#">LOCATION POLICY</a></div>
                        <div>|</div>
                        <div><a href="#">PRIVACY POLICY</a></div>
                        <div>|</div>
                        <div><a href="#">SHOPPING GUIDE</a></div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>

<script>
    let oEditors = []

    smartEditor = function() {
      nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "editorTxt",
        sSkinURI: "/smarteditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
      })
    }

    document.addEventListener('DOMContentLoaded', function() {
        smartEditor();
    });
</script>