/*
File Name      : storeCart.css
Program Name   : 상품 장바구니 페이지 스타일시트
Draft Author   : 김석진
Draft Date     : 2024.01.14

Revision History
Ver.  Date          Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1   2024.01.14    김석진       최초개발
----------------------------------------------------------------------------------------------------------------------->
*/
/* 장바구니 상단 타이틀 영역 */
.cart-title-wrap {
    text-align: center;
}
.cart-title {
    height: 160px;
}
/* 장바구니 품목 영역 */
.cart-list-wrap {
    text-align: center;
    margin: 0 auto;
    align-items: center;
}
th,
td {
    border: 1px solid black;
    vertical-align: middle;
}
tr > td:nth-child(2) {
    border-right: none;
    width: 15%;
}
tr > td:nth-child(3) {
    border-left: none;
    text-align: left;
}
.cart-price {
    font-size: large;
    font-weight: bold;
    padding-top: 40px;
}
.cart-btn-wrap {
    height: 50px;
}
.cart-btn-wrap > a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.cart-list-wrap > tr > td:nth-child(4) > a {
    color: aqua;
}
.prod-count-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prod-count {
    display: block;
    width: 60px;
    line-height: 30px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.btn {
    display: block;
    width: 60px;
    line-height: 30px;
    text-align: center;
    background-color: #0f1e57;
    border: solid 1px #0f1e57;
    color: #fff;
}
