/*
File Name      : storeView.css
Program Name   : 상품 상세 페이지 스타일시트
Draft Author   : 김석진
Draft Date     : 2024.01.14

Revision History
Ver.  Date          Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1   2024.01.14    김석진       최초개발
----------------------------------------------------------------------------------------------------------------------->
*/
.ct_main {
    padding: 80px 120px;
}
.ct_topbar {
    display: flex;
    margin-bottom: 50px;
}
.ct_topbar > span {
    margin: 0px 10px;
}
.ct_topbar > a {
    color: #0f1e57;
    font-weight: bold;
    font-size: large;
}
/* 상품 이미지 및 가격정보 */
.ct_thumbnail-wrap {
    display: flex;
    justify-content: space-around;
    padding: 0px 10%;
}
.prod-img {
    border-radius: 15px;
    /* width: 300px; */
}
.star-area {
    margin-right: 10px;
    display: flex;
}
.ct_prod-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
}
/* 상품명 */
.prod-title {
    font-size: xx-large;
    color: #0f1e57;
    font-weight: bold;
}
.prod-hashtag {
    display: block;
}
.prod-price-wrap {
    display: flex;
    justify-content: space-around;
}
.prod-count-wrap {
    display: flex;
    align-items: center;
}
.prod-price {
    font-size: x-large;
    font-weight: bold;
}
.ct_midbar {
    display: flex;
    justify-content: space-around;
    background-color: #34315e;
    border: none;
}
.ct_cate-title {
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.ct_cate-title > a {
    color: aliceblue;
    font-weight: bold;
    font-size: large;
}
.ct_cate-title:hover {
    background-color: rgb(147, 178, 206);
    /* background-color: rgb(11, 25, 98); */
    cursor: pointer;
}
.ct_cate-title:hover a {
    color: #34315e;
}
.prod-detail {
    min-height: 400px;
    border: 1px solid black;
}
.btn {
    width: 100px;
    line-height: 30px;
    background-color: #03012D;
    border: solid 1px #03012D;
}
.prod-count {
    display: block;
    width: 60px;
    line-height: 30px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.prod-like-wrap {
    display: flex;
    justify-content: space-around;
}
.qnaBtn-wrap {
    display: flex;
    justify-content: center;
}
/* 문의글 목록 */
.qnaList-wrap {
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
    line-height: 50px;
}
.qnaList-wrap:hover {
    cursor: pointer;
}
.ansOnly:hover {
    cursor: pointer;
}

.ul {
    list-style-type: none; /* 기본 목록 스타일 제거 */
    padding: 0;
}
div .ul > li {
    list-style-position: inside;
}
.ul > li::before {
    content: " - "; /* 대시(-)를 콘텐츠로 설정 */
}
.info > th {
    display: table-cell;
    vertical-align: middle;
    color: #c5c5c5;
}
.qnaList-dropdown {
    background-color: #fafafa;
    transition: .4s;
    opacity: 0;
    display: none;
}
.qnaList-dropdown.active {
    min-height: 150px;
    display: table-row;
    opacity: 1;
}
.qnaList-dropdown:hover {
    cursor:pointer;
}

/* 문의글 내용 */
.qnaList-dropdown-que {
    display: flex;
    justify-content: flex-start;
    min-height: 75px;
    align-items: center;
    padding-left: 15%;
    border-bottom: 1px solid #E6E6E6;
    cursor: auto;
}
.qnaList-dropdown-que > svg {
    vertical-align: middle;
}

/* 문의글 내용, 답변 */
.qnaList-dropdown-que > p {
    font-size: 15px;
    vertical-align: middle;
}
