/*
File Name      : storeMain.css
Program Name   : 스토어 메인 페이지 스타일시트
Draft Author   : 김석진
Draft Date     : 2024.01.14

Revision History
Ver.  Date          Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1   2024.01.14    김석진       최초개발
----------------------------------------------------------------------------------------------------------------------->
*/
/* 전체 페이지 영역 */
.ct_main {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    /* background-color: #34315e; */
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}
/* 상품 카테고리 영역 */
.ct_cate-wrap {
    display: flex;
    justify-content: space-between;
}
.ct_cate-title {
    width: 200px;
    height: 50px;
    background-color: #0f1e57;
    text-align: center;
    line-height: 50px;
}
.ct_cate-title > a {
    font-weight: bold;
    font-size: x-large;
    color: #e8e8e8;
}

/* 상품 썸네일 이미지*/
.bxslider-card {
    border-radius: 15px;
}
.bxslider-title {
    text-align: center;
}
.bxslider-title2 {
    text-align: center;
}
.bxslider-title2 > p:nth-child(2),
p:nth-child(3),
p:nth-child(4),
p:nth-child(5) {
    text-align: left;
}

/* 검색어 입력바 */
.search-box {
    width: 95%;
    height: 100%;
    font-size: medium;
    padding-left: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    outline: none;
}
/*.search-box:focus {*/
/*    outline: none;*/
/*}*/
/* 검색창 영역 */
.search-bar {
    border-radius: 10px;
    position: relative;
    border: 1px solid red;
}
/* 검색창 돋보기 아이콘 */
.search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
}
/* 해시태그 */
.hashtag-bar > a {
    margin-right: 10px;
    font-weight: bold;
}
/* 메인 상품 타이틀 */
.sale-tit {
    background: #e8e8e8;
    width: 100%;
    height: 30px;
    margin: 50px 0 30px 0;
    font-weight: bold;
    font-size: large;
}
