.ct_topbar {
    display: flex;
    margin-bottom: 50px;
}
.ct_topbar > span {
    margin: 0px 10px;
}
.ct_topbar > a {
    color: #0f1e57;
    font-weight: bold;
    font-size: large;
}
/* 상품 이미지 및 가격정보 */
.ct_thumbnail-wrap {
    display: flex;
    justify-content: space-around;
    padding: 0px 10%;
}
.prod-img {
    border-radius: 15px;
    /* width: 300px; */
}
.ct_prod-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
}
/* 상품명 */
.prod-title {
    font-size: xx-large;
    color: #0f1e57;
    font-weight: bold;
}
.prod-hashtag {
    display: block;
}
.prod-price-wrap {
    display: flex;
    justify-content: space-around;
}
.prod-count-wrap {
    display: flex;
    align-items: center;
}
.prod-price {
    font-size: x-large;
    font-weight: bold;
}
.ct_midbar {
    display: flex;
    justify-content: space-around;
    background-color: #34315e;
    border: none;
}
.ct_cate-title {
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.ct_cate-title > a {
    color: aliceblue;
    font-weight: bold;
    font-size: large;
}
.ct_cate-title:hover {
    background-color: rgb(147, 178, 206);
    /* background-color: rgb(11, 25, 98); */
    cursor: pointer;
}
.ct_cate-title:hover a {
    color: #34315e;
}
.prod-detail {
    height: 400px;
    border: 1px solid black;
}
.btn {
    display: block;
    width: 60px;
    line-height: 30px;
    text-align: center;
    background-color: #0f1e57;
    border: solid 1px #0f1e57;
    color: #fff;
}
.prod-count {
    display: block;
    width: 60px;
    line-height: 30px;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.prod-like-wrap {
    display: flex;
    justify-content: space-around;
}
.qnaBtn {
    margin: 0 auto;
}