/*
File Name      : storeMain.css
Program Name   : 스토어 메인 페이지 스타일시트
Draft Author   : 김석진
Draft Date     : 2024.01.14

Revision History
Ver.  Date          Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1   2024.01.14    김석진       최초개발
----------------------------------------------------------------------------------------------------------------------->
*/
/* 전체 페이지 영역 */
.ct_main {
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 20px;
    /* background-color: #34315e; */
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}
/* 상품 카테고리 영역 */
.ct_cate-wrap {
    display: flex;
    border: none;
}
.ct_cate-title {
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #34315e;
}
.ct_cate-title > a {
    font-weight: bold;
    font-size: x-large;
    color: #e8e8e8;
}
.ct_cate-title:hover {
    cursor: pointer;
    background-color: rgb(147, 178, 206);
}
.ct_cate-title:hover a {
    color: #34315e;
}

.prod-wrap {
    padding: 20px;
    border: 1px solid gray;
    width: 250px;
}
.prod-wrap:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 조절 가능한 그림자 값 */
}
/* 슬라이드 이미지 */
.banner-img {
    width: 1376px;
    height: 300px;
    background-color: #e4e4e4;
}
.prod-title {
    font-size: 24px;
}
.ct_prod {
    width: 100%;
    margin-top: 15px;
}
.ct_price {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
}
.price-area {
    font-weight: bold;
    font-size: x-large;
}
.discount-area {
    color: red;

}
.ct_icon {
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
}
.heart-icon {
    width: 20px;
    height: 20px;
}
.star-area {
    margin-right: 35px;
    display: flex;
}
/* 상품 썸네일 이미지*/
/*
.bxslider-card {
    border-radius: 15px;
}
.bxslider-title {
    text-align: center;
}
.bxslider-title2 {
    text-align: center;
}
.bxslider-title2 > p:nth-child(2),
p:nth-child(3),
p:nth-child(4),
p:nth-child(5) {
    text-align: left;
}
*/

/* 검색어 입력바 */
.search-box {
    width: 95%;
    height: 100%;
    font-size: medium;
    padding-left: 15px;
    padding-top: 2px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    outline: none;
}
/*.search-box:focus {*/
/*    outline: none;*/
/*}*/
/* 검색창 영역 */
.search-bar {
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
    height: 50px;
}
/* 검색창 돋보기 아이콘 */
.search-icon {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
}
.search-icon:hover {
    cursor: pointer;
}
/* 해시태그 */
.hashtag-bar > a {
    margin-right: 10px;
    font-weight: bold;
}
/* 메인 상품 타이틀 */
.sale-tit {
    background: #e8e8e8;
    width: 100%;
    height: 30px;
    margin: 50px 0 30px 0;
    font-weight: bold;
    font-size: large;
}
