/*
File Name      : storeQnaWrite.css
Program Name   : 상품 문의글 작성 스타일시트
Draft Author   : 김석진
Draft Date     : 2024.01.23

Revision History
Ver.  Date          Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1   2024.01.14    김석진       최초개발
----------------------------------------------------------------------------------------------------------------------->
*/
.qna-btn {
    display: block;
    height: 40px;
    width: 130px;
    line-height: 40px;
    text-align: center;
    background-color: #0f1e57;
    border: solid 1px #0f1e57;
    border-radius: 20px;
    color: #fff;
}
.qna-font {
    font-weight: 600;
}
.qna-sub-font {
    color: rgb(200, 200, 200);
}

/* 모달영역 css */
#ct_qna {
    width: 300px;
    display: none;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}
.ct_qna-topbar {
    display: flex;
    justify-content: space-between;
    background-color: #03012D;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
}
.ct_qna-mid {
    padding: 20px 60px;
}
.ct_qna-topbar > span {
    color: #FFFFFF;
}
.modal_close_btn {
    color: #ffffff;
}
.modal_close_btn:hover {
    cursor: pointer;
}
.ct_qna-prod-wrap {
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 10px;
}
.qna-prod-img {
    height: 100%;
    width: 100px;
}
.ct_qna-cate {
    width: 200px;
    height: 30px;
    outline: none;
}
.ct_qna-tit {
    width: 100%;
    height: 30px;
    outline: none;
    border: solid 1px gray;
}
.ct_qna-tit::placeholder {
    color: rgb(200, 200, 200);
}
.ct_qna-tit:focus {
    border: solid 1px #0c53c4;
}
.ct_qna-cn {
    resize: none;
    outline: none;
    width: 100%;
    height: 180px;
    border: solid 1px gray;
}
.ct_qna-cn::placeholder {
    color: rgb(200, 200, 200);
}
.ct_qna-cn:focus {
    border: solid 1px #0c53c4;
}
.ct_qna-btn-wrap {
    display: flex;
    justify-content: center;
}
