/* 1. Overriding */
.ct_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
/* Guide Wrap */
.ct_guide-wrap {
    width: 100%;
}
.ct_guide-wrap table {
    width: 100%;
}
.ct_guide-wrap table tr {
    height: 50px;
}
.ct_guide-wrap table th {
    width: 57%;
    text-align: center;
    vertical-align: middle;
}
.ct_guide-wrap table td {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}
.ct_guide-wrap .guide-q {
    border: 1px solid;
    width: 80%;
    height: 49px;
    line-height: 44px !important;
    margin: 0 auto;
    border-radius: 10px;
    font: 500 25px 'Noto Sans Kr';
    color: #0A0A3E;
}
.ct_guide-wrap .guide-a {
    border: 1px solid #fff;
    font: 500 26px 'Noto Sans Kr';
    height: 49px;
    line-height: 42px;
    width: 386px;
    border-radius: 10px;
    background: #0A0A3E;
    position: relative;
    cursor: pointer;
    color: #fff;
}
.ct_guide-wrap .guide-a::after {
    content: '';
    position: absolute;
    right: 9px;
    top: 13px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left-color: #0A0A3E;
    border-right: 0;
    border-top: 0;
    margin-top: -12.5px;
    margin-right: -25px;
}


/* Search Wrap */
.ct_search-wrap {
    width: 100%;
    margin: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.search-bar {
    background: #fff;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.search-location {
}
.search-location select {
    width: 150px;
    height: 40px;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid #dddcdd;
    border-radius: 12px;
}
.search-prod {
    position: relative;
}
.search-bar .input {
    border: 1px solid #dddcdd;
    border-radius: 12px;
    padding: 0 10px 0 43px;
    height: 40px;
    font: 500 14px 'Noto Sans Kr';
}
.search-bar i {
    position: absolute;
    top: 15px;
    left: 15px;
}
.hashtag-bar {
    width: calc(100% - 20px);
    border: 1px solid #dddcdd;
    border-radius: 12px;
    padding: 10px;
}
.hashtag-bar span {
    font: 500 14px 'Noto Sans Kr';
}
.hashtag-bar > .hashtag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.hashtag-bar > .hashtag-list p {
    font: 400 14px 'Noto Sans Kr';
    background: #f7f7f7;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 2px 9px;
    cursor: pointer;
}

/* Cotent Wrap */
.ct_content-wrap {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.map-box {
    width: 100%;
    height: 450px;
    background: #e8e8e8;
    position: relative;
}
.map-list {
    position: absolute;
    top: -10px;
    left: -16px;
    bottom: 0px;
    width: 329px;
    height: 440px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: #fff;
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap #placesList {
    padding: 0;
    margin: 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

#placesList .item span {
    display: block;
    margin-top: 4px;
    font-family: 'Noto Sans KR', sans-serif;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info h5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    margin: 0;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
}

.map-view {
    width: calc(100% - 332px);
    background: yellow;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.review-box {
    background: #e8e8e8;
    width: 30%;
    height: 450px;
}
.prod-pic {
    position: absolute;
    border: 1px solid;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
}
.prod-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 500px;
    height: 100%;
    backdrop-filter: blur(9px);
    border-right: 1px solid;
}

.custom_typecontrol {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom_typecontrol span {
    border: 1px solid;
    border-radius: 4px;
    background: #fff;
    padding: 8px 10px;
}
.custom_zoomcontrol {
    position: absolute;
    top: 58px;
    right: 7px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom_zoomcontrol span {
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    padding: 3px;
}

