/* 1. Overriding */
main {
    justify-content: flex-start;
}
.ct_main {
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 50px 10px 50px 20px;
}
/* Guide Wrap */
.ct_guide-wrap {
    width: 100%;
}
.ct_guide-wrap table {
    width: 100%;
}
.ct_guide-wrap table tr {
    height: 50px;
}
.ct_guide-wrap table th {
    width: 57%;
    text-align: center;
    vertical-align: middle;
}
.ct_guide-wrap table td {
    width: 30%;
    text-align: center;
    vertical-align: middle;
}
.ct_guide-wrap .guide-q {
    border: 1px solid;
    width: 80%;
    height: 49px;
    line-height: 44px !important;
    margin: 0 auto;
    border-radius: 10px;
    font: 500 25px 'Noto Sans Kr';
    color: #0A0A3E;
}
.ct_guide-wrap .guide-a {
    border: 1px solid #fff;
    font: 500 26px 'Noto Sans Kr';
    height: 49px;
    line-height: 42px;
    width: 386px;
    border-radius: 10px;
    background: #0A0A3E;
    position: relative;
    cursor: pointer;
    color: #fff;
}
.ct_guide-wrap .guide-a::after {
    content: '';
    position: absolute;
    right: 9px;
    top: 13px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left-color: #0A0A3E;
    border-right: 0;
    border-top: 0;
    margin-top: -12.5px;
    margin-right: -25px;
}


/* Search Wrap */
.ct_search-wrap {
    width: 100%;
    margin: 0px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.search-bar {
    background: #fff;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.search-location {
}
.search-location select {
    width: 150px;
    height: 40px;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #333333;
}
.search-prod {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.search-bar .input {
    width: 300px;
    padding: 0 10px 0 43px;
    height: 40px;
    font: 500 14px 'Noto Sans Kr';
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: #333333;
}
.search-bar i {
    position: absolute;
    top: 15px;
    left: 15px;
}
.hashtag-bar {
    width: 94%;
    margin-top: 15px;
    border-radius: 12px;
}
.hashtag-bar > .hashtag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.hashtag-bar > .hashtag-list p {
    font: 400 16px 'Noto Sans Kr';
    background: #FFFFFF;
    border: 1px solid #e3e3e3;
    color: #293485;
    border-radius: 10px;
    padding: 4px 11px;
    cursor: pointer;
    margin: 0;
}
.store-list {
    width: 97%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3px;
    height: 595px;
    overflow-y: scroll;
    margin-top: 15px;
}
.store-list::-webkit-scrollbar {
    width: 10px;
}
.store-list::-webkit-scrollbar-thumb {
    background: #2E3888; /* 스크롤바 막대 색상 */
    border: 1px solid #293485; /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}
.store-list::-webkit-scrollbar-track {
    backdrop-filter: blur(15px);
}
.store-list-msg {
    margin-top: 20px;
    color: #333333;
}
.store-box {
    background: #ffffff;
    width: 97%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 15px;
    border: 1px solid #F7F7F7;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    opacity: 90%;
    justify-content: space-between;
}
.store-box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 100%;
}
.store-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.store-info-img {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 8px;
}
.store-info-txt {
    width: calc(100% - 125px);
}
.store-info-name {
    font-size: 18px;
}
.store-info-addr1 {
    font-size: 13px;
    color: #222;
    margin-top: 4px;
}
.store-info-addr2 {
    font-size: 12px;
    color: #929292;
    margin-top: 3px;
}
.store-info-hours {
    font-size: 13px;
    color: #222;
    font-weight: 200;
}
.store-info-hour {
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    gap: 7px;
}
.store-info-open {
    border: 1px solid #FFAE00;
    background: #FFB101;
    color: #FFF;
    border-radius: 9px;
    padding: 1px 10px;
    margin-left: 5px;
    font-size: 8px;
}
.store-info-closed {
    border: 1px solid #D6221E;
    background: #D00600;
    color: #FFF;
    border-radius: 9px;
    padding: 1px 10px;
    margin-left: 5px;
    font-size: 8px;
}
.store-reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 230px;
    overflow-y: scroll;
}
.store-review {
    display: flex;
    gap: 20px;
}
.store-review img {
    width: 30px;
    height: 24px;
}
.store-info-tel {
    font-size: 13px;
    color: #288756;
    margin-top: 5px;
}
.store-info-find {}
.store-info-find a {
    font-size: 12px;
    border: 1px solid #d3d3d3;
    background: #d3d3d3;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 200;
}


/* Cotent Wrap */
.ct_content-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.map-box {
    width: 100%;
    height: 630px;
    background: #e8e8e8;
    position: relative;
}
.map-list {
    position: absolute;
    top: -10px;
    left: -16px;
    bottom: 0px;
    width: 329px;
    height: 440px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: #fff;
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}



#menu_wrap .option {
    text-align: center;
}

#menu_wrap #placesList {
    padding: 0;
    margin: 0;
}

#menu_wrap .option button {
    margin-left: 5px;
}

#placesList .item {
    position: relative;
    border-bottom: 1px solid #888;
    overflow: hidden;
    cursor: pointer;
    min-height: 65px;
}

#placesList .item .marker_1 {
    background-position: 0 -10px;
}

#placesList .item .markerbg {
    float: left;
    position: absolute;
    width: 36px;
    height: 37px;
    margin: 10px 0 0 10px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;
}

#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

#placesList .item span {
    display: block;
    margin-top: 4px;
    font-family: 'Noto Sans KR', sans-serif;
}

#placesList .info .gray {
    color: #8a8a8a;
}

#placesList .info .tel {
    color: #009900;
}

#placesList .item .info {
    padding: 10px 0 10px 55px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#placesList .item .info h5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    margin: 0;
}

#placesList .info .jibun {
    padding-left: 26px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}

#pagination {
    margin: 10px auto;
    text-align: center;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color: #777;
}

#pagination a {
    display: inline-block;
    margin-right: 10px;
}

.map-view {
    width: calc(100% - 332px);
    background: yellow;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.review-box {
    background: #e8e8e8;
    width: 30%;
    height: 450px;
}
.prod-pic {
    position: absolute;
    bottom: -36px;
    right: -30px;
    z-index: 999;
    padding: 10px;
    box-sizing: border-box;
}
.prod-img {
    height: 300px;
}
.prod-list {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 500px;
    height: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
}

.custom_typecontrol {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.custom_typecontrol span {
    border: 1px solid;
    border-radius: 4px;
    background: #fff;
    padding: 8px 10px;
}
.custom_zoomcontrol {
    position: absolute;
    top: 58px;
    right: 7px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.custom_zoomcontrol span {
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    padding: 3px;
}

/* overriding */
.btn.btnList {
    width: 60px;
    height: 40px;
    line-height: 37px;
    border: 1px solid #03012D;
    background: #03012D;
    border-radius: 5px;
    color: #fff;
}

/* infoWindow Msg */
.infoMsg {
    position: relative;
}
.infoMsg div {
    position: absolute;
    top: -63px;
    left: -33px;
    background: linear-gradient(-135deg, transparent 10px, #eb3941, #f15e64, #e14e53 0);
    box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
    color: #FFF;
    padding: 5px 24px 5px 10px;
}
.infoMsg div:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #d6221e #d6221e;
    background: rgba(255, 255, 255, 0);
    display: block;
    width: 0;
}
.infoMsg p {}