<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--

File Name      : AdminAjaxShopMapper.xml
Program Name   : 관리자 비동기방식 xml
Draft Author   : 김진형
Draft Date     : 2024.02.15

Revision History
Ver.  Date          Revised By   Description
==================================================================================================
0.1   2024.02.17    김진형       최초개발
==================================================================================================
-->

<mapper namespace="kr.co.Dal.admin.mapper.AdminAjaxShopMapper">

    <select id="selectShopList" resultType="kr.co.Dal.admin.model.ShopVO">
        SELECT
            st_id,
            st_nm,
            st_addr,
            st_stts,
            st_tel,
            st_rdate,
            st_hours_open,
            st_hours_closed,
            st_liquorNo
        FROM
            st_tb;
    </select>

</mapper>