<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
File Name      : MuseumMapper.xml
Program Name   : 주류 박물관 Mapper
Draft Author   : 이원정
Draft Date     : 2024.01.22

Revision History
Ver.  Date          Revised By   Description
————————————————————————————————————————————————————————————
0.1   2024.01.22    이원정       최초개발
————————————————————————————————————————————————————————————
-->

<mapper namespace="kr.co.Dal.museum.mapper.MuseumMapper">

    <!-- 분류 선택에 따른 술 목록 가져오기 -->
    <select id="selectLiqList" resultType="kr.co.Dal.museum.model.MuseumVO">
        SELECT liq_id, liq_nm, liq_hash, liq_memo  FROM liq_tb
        WHERE liq_type = #{liqType}
          AND liq_stts = '1'
    </select>

    <!-- 술 정보 가져오기 -->
    <select id="selectLiq" resultType="kr.co.Dal.museum.model.MuseumVO">
        SELECT liq_id, liq_nm, liq_hash, liq_memo  FROM liq_tb
        WHERE liq_stts = '1'
        AND liq_id = #{liqId}
    </select>

</mapper>