<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : join.html
Program Name    : 회원가입 페이지
Description     : 일반회원가입을 할 수 있게 하였습니다.
Draft Author    : 신호준
Draft Date      : 2024.02.05

Revision History
Ver.   Date          Revised By    Description
------------------------------------------------------------------------------------------------------------------------
0.1    2024.02.05    신호준         최초개발
----------------------------------------------------------------------------------------------------------------------->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<th:block th:replace="~{fragments/_head::headFragment}"></th:block>
<!-- 2. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/select_input.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/helper.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/join.css}">
    <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">
</th:block>



<th:block layout:fragment="content">
            <!-- 4. Main -->
            <main>
                <div class="join_main">
                    <div class="ct_join-wrap">
                        <div class="join-title">회원가입</div>
                        <div class="join-content mt25">
                            <form method="post" action="/join">
                                <section>
                                    <table>
                                        <tr>
                                            <th>아이디
                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">
                                            </th>
                                            <td>
                                                <input class="input" type="email" name="userLginId" required>
                                                <span class="user_lgin_id">&nbsp;&nbsp;(이메일로 입력하세요)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>비밀번호
                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">
                                            </th>
                                            <td>
                                                <input class="input" type="password" name="userPw" required>
                                                <span class="join-msg">&nbsp;&nbsp;(영문소문자/숫자/특수문자 조합 8~16자)</span>
                                            </td>
                                        </tr>
<!--                                        <tr>-->
<!--                                            <th>비밀번호 확인-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="password" name="pass" required>-->
<!--                                                <span class="join-msg">&nbsp;&nbsp;영문, 숫자, 특수문자를 조합하여 8~16자까지 설정해 주세요.</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>이름-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="text" name="name" required>-->
<!--                                            </td>-->
<!--                                        </tr>-->
                                        <tr>
                                            <th>닉네임
                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">
                                            </th>
                                            <td>
                                                <input class="text" type="text" name="userNick" required>
                                            </td>
                                        </tr>
<!--                                        <tr>-->
<!--                                            <th>휴대전화-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td class="mobile">-->
<!--                                                <select name="mobile1" id="mobile1">-->
<!--                                                    <option value="010">010</option>-->
<!--                                                    <option value="011">011</option>-->
<!--                                                    <option value="016">016</option>-->
<!--                                                    <option value="017">017</option>-->
<!--                                                    <option value="018">018</option>-->
<!--                                                    <option value="019">019</option>-->
<!--                                                </select>-->
<!--                                                &nbsp;&nbsp;&nbsp;-&nbsp;-->
<!--                                                <input class="input" type="text" name="mobile2" required>-->
<!--                                                &nbsp;-&nbsp;-->
<!--                                                <input class="input" type="text" name="mobile3" required>-->
<!--                                                <span class="join-msg">&nbsp;&nbsp;(미기입 시 SMS 수신이 불가합니다.)</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>이메일-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="email" name="email" required>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>생년월일</th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="datetime" name="birthday">-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr class="addr">-->
<!--                                            <th>주소-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <div>-->
<!--                                                    <input type="text" name="zip" placeholder="우편번호 입력 클릭" readonly>-->
<!--                                                </div> -->
<!--                                                <div>-->
<!--                                                    <input class="input mt5" type="text" name="addr1" size="50" placeholder="주소를 검색하세요." readonly>-->
<!--                                                </div>-->
<!--                                                <div>-->
<!--                                                    <input class="input mt5" type="text" name="addr2" size="50" placeholder="상세주소를 입력하세요.">-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
                                    </table>
                                </section>
                                <p class="mt15">
                                    <input type="submit" class="btn btnJoin" value="회원가입">
                                </p>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </main>

        </div>
</th:block>
</html>