<!DOCTYPE html>
<html lang="en">
    <!-- 1. Common Head -->
    <th:block th:fragment="headFragment">
        <head>
            <!-- X-UA-Compatible : IE간 버전이 다르더라도 같은 웹 화면을 볼 수 있도록 특정 IE 버전의 렌더링 엔진 모드를 강제로 지정 -->
            <!-- "ID=Edge" : IE 브라우저 각 버전 중 가장 최신 표준 모드를 선택하는 문서 모드 -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <!-- HTML 문서 문자 인코딩 -->
            <!-- Content-Type : 서버가 전송하는 리소스의 유형과 문자 인코딩 방식을 나타냄 -->
            <!-- content="text/html" : HTML문서의 MIME 타입을 text/html로 설정 -->
            <!-- charset=utf-8 : 유니코드(Unicode)를 표현하는 가변 길이 문자 인코딩 방식 -->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            <!-- Ajax Token -->
            <meta name="_csrf" th:if="${_csrf}" th:content="${_csrf.token}" />
            <meta name="_csrf_header" th:if="${_csrf}" th:content="${_csrf.headerName}" />
            <script>
                const tokenMeta = document.head.querySelector("meta[name='_csrf']");
                const headerMeta = document.head.querySelector("meta[name='_csrf_header']");

                const token = tokenMeta ? tokenMeta.content : '';
                const header = headerMeta ? headerMeta.content : '';

                console.log("header: " + header);
                console.log("token: " + token);
            </script>
            <script type="text/javascript" th:src="@{/common/js/ajaxAPI.js}"></script>

            <!-- Common CSS -->
            <!-- media="all" : 모든 미디어 유형(컴퓨터 모니터, 태블릿, 스마트폰 등)에 스타일을 적용 (모든 기기와 미디어에 동일 적용 ) -->
            <!-- media="screen" : 스크린 미디어 타입에 따라 웹 페이지가 해당 기기에 맞게 최적화된 스타일로 표현 -->
            <link rel="stylesheet" type="text/css" th:href="@{/common/css/common.css}" media="all">

            <!-- Jquery, Jquery-UI -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
            <script src="//cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

            <!-- Common JS -->
            <link rel="shortcut icon" type="image/x-icon" href="" />
            <script type="text/javascript" th:src="@{/common/js/Common.js}"></script>

            <!-- Font Icon -->
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
            <link
                    rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            />



        </head>
    </th:block>

    <!-- 2. Page JS, CSS -->
    <link rel="stylesheet" href="/common/css/layout.css" />
    <link rel="stylesheet" href="/common/css/reset.css" />
    <link rel="stylesheet" href="/common/css/select_input.css" />
    <link rel="stylesheet" href="/common/css/helper.css" />
    <link rel="stylesheet" href="/user/css/join.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />


    <body>
        <div id="wrapper">
            <!-- 3. Header -->
            <header>
                <div class="user-wrap">
                    <div>
                        <a class="clicked" href="/loginForm">LOGIN</a>
                        <a>JOIN</a>
                        <a>MY PAGE</a>
                        <a>CART</a>
                    </div>
                </div>
            </header>

            <!-- 4. Main -->
            <main>
                <div class="join_main">
                    <div class="ct_join-wrap">
                        <div class="join-title">회원가입</div>
                        <div class="join-content mt25">
                            <form method="post" action="/join">
                                <section>
                                    <table>
                                        <tr>
                                            <th>아이디
                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">
                                            </th>
                                            <td>
                                                <input class="input" type="email" name="email" required>
                                                <span class="user_lgin_id">&nbsp;&nbsp;(이메일로 입력하세요)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>비밀번호
                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">
                                            </th>
                                            <td>
                                                <input class="input" type="password" name="password" required>
                                                <span class="join-msg">&nbsp;&nbsp;(영문소문자/숫자/특수문자 조합 8~16자)</span>
                                            </td>
                                        </tr>
<!--                                        <tr>-->
<!--                                            <th>비밀번호 확인-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="password" name="pass" required>-->
<!--                                                <span class="join-msg">&nbsp;&nbsp;영문, 숫자, 특수문자를 조합하여 8~16자까지 설정해 주세요.</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>이름-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="text" name="name" required>-->
<!--                                            </td>-->
<!--                                        </tr>-->
                                        <tr>
                                            <th>닉네임
                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">
                                            </th>
                                            <td>
                                                <input class="text" type="text" name="username" required>
                                            </td>
                                        </tr>
<!--                                        <tr>-->
<!--                                            <th>휴대전화-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td class="mobile">-->
<!--                                                <select name="mobile1" id="mobile1">-->
<!--                                                    <option value="010">010</option>-->
<!--                                                    <option value="011">011</option>-->
<!--                                                    <option value="016">016</option>-->
<!--                                                    <option value="017">017</option>-->
<!--                                                    <option value="018">018</option>-->
<!--                                                    <option value="019">019</option>-->
<!--                                                </select>-->
<!--                                                &nbsp;&nbsp;&nbsp;-&nbsp;-->
<!--                                                <input class="input" type="text" name="mobile2" required>-->
<!--                                                &nbsp;-&nbsp;-->
<!--                                                <input class="input" type="text" name="mobile3" required>-->
<!--                                                <span class="join-msg">&nbsp;&nbsp;(미기입 시 SMS 수신이 불가합니다.)</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>이메일-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="email" name="email" required>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <th>생년월일</th>-->
<!--                                            <td>-->
<!--                                                <input class="input" type="datetime" name="birthday">-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr class="addr">-->
<!--                                            <th>주소-->
<!--                                                <img src="/user/img/register_essential_icon.gif" alt="필수 입력">-->
<!--                                            </th>-->
<!--                                            <td>-->
<!--                                                <div>-->
<!--                                                    <input type="text" name="zip" placeholder="우편번호 입력 클릭" readonly>-->
<!--                                                </div> -->
<!--                                                <div>-->
<!--                                                    <input class="input mt5" type="text" name="addr1" size="50" placeholder="주소를 검색하세요." readonly>-->
<!--                                                </div>-->
<!--                                                <div>-->
<!--                                                    <input class="input mt5" type="text" name="addr2" size="50" placeholder="상세주소를 입력하세요.">-->
<!--                                                </div>-->
<!--                                            </td>-->
<!--                                        </tr>-->
                                    </table>
                                </section>
                                <p class="mt15">
                                    <input type="submit" class="btn btnJoin" value="회원가입">
                                </p>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </main>

        </div>
    </body>
</html>