<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : login.html
Program Name    : 로그인 페이지
Description     : 일반로그인과, 소셜로그인 및 아이디 찾기,비밀번호 찾기, 회원가입을 할 수 있게 기능했습니다.
Draft Author    : 신호준
Draft Date      : 2024.02.05

Revision History
Ver.   Date          Revised By    Description
------------------------------------------------------------------------------------------------------------------------
0.1    2024.02.05    신호준         최초개발
----------------------------------------------------------------------------------------------------------------------->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<th:block th:replace="~{fragments/_head::headFragment}"></th:block>
<!-- 2. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/select_input.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/common/css/helper.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/login.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">
    <script type="text/javascript" th:src="@{/user/js/login.js}"></script>
</th:block>

<th:block layout:fragment="content">
    <main>
        <div class="ct_login-wrap">
            <div class="login-title">LOGIN</div>
            <form class="login-form" action="/login" method="POST">
                <!-- 일반 회원 로그인 -->
                <div class="login-id">
                    <input type="text" name="userLginId" placeholder="이메일을 입력하세요">
                </div>
                <div class="login-pw">
                    <input type="password" name="password" placeholder="비밀번호">
                    <i class="fa fa-eye fa-lg"></i>
                </div>
                <div class="remember-id">
                    <label>
                        <input type="checkbox">
                    </label>
                    아이디 기억하기
                </div>
                <span th:if="${error}">
                    <p id="valid" class="alert alert-danger" style="color:red" th:text="${exception}"></p>
                </span>

                <button type="submit" class="loginBtn" onclick="handleLogin()">
                    로그인
                </button>
                <div class="login-find">
                    <div class="find-id">
                        <a class="btn" href="/findIdForm">아이디 찾기</a>
                    </div>
                    <div>|</div>
                    <div class="find-pw">
                        <a class="btn" href="/findPwForm">비밀번호 찾기</a>
                    </div>
                    <div>|</div>
                    <div class="register">
                        <a class="btn" href="/termsForm">회원가입</a>
                    </div>
                </div>
                <!-- SNS 연동 로그인 -->
                <div class="login-sns">SNS계정 간편 로그인</div>
                <div class="other-login-wrap mt5">
                    <a href="/oauth2/authorization/kakao">
                        <div class="other-login login-kakao">
                            <div>
                                <img src="/user/img/kakao_icon.png" alt="카카오로그인">

                            </div>
                            <strong>카카오로 로그인</strong>
                        </div>
                    </a>
                    <a href="/oauth2/authorization/naver">
                        <div class="other-login login-naver">
                            <div>
                                <img src="/user/img/naver_icon.png" alt="네이버로그인">
                            </div>
                            <strong>네이버로 로그인</strong>
                        </div>
                    </a>
                    <a href="/oauth2/authorization/google">
                        <div class="other-login login-google">
                            <div>
                                <img src="/user/img/google_icon.png" alt="구글로그인">
                            </div>
                            <strong>구글로 로그인</strong>
                        </div>
                    </a>
                </div>
            </form>
        </div>
    </main>
</th:block>>
</html>