<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">


<!-- 2. Page JS, CSS -->
<th:block layout:fragment="css-js">
  <link rel="stylesheet" type="text/css" th:href="@{/common/css/layout.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/store/css/storeView.css}">
  <link rel="stylesheet"  href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">

  <script type="text/javascript" th:src="@{/store/js/storeView.js}"></script>
</th:block>


<th:block layout:fragment="content">

</th:block>

</html>
