<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">


<!-- 2. Page JS, CSS -->
<th:block layout:fragment="css-js">
  <link rel="stylesheet" type="text/css" th:href="@{/common/css/layout.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/store/css/storeView.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/store/css/storeQnaWrite.css}">
  <link rel="stylesheet"  href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">

  <script type="text/javascript" th:src="@{/store/js/storeView.js}"></script>
  <script type="text/javascript" th:src="@{/store/js/storeQnaWrite.js}" defer></script>
</th:block>
/*
File Name      : storeView.html
Program Name   : 상품 상세 페이지
Draft Author   : 김석진
Draft Date     : 2024.01.14

Revision History
Ver.  Date          Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1   2024.01.14    김석진       최초개발
----------------------------------------------------------------------------------------------------------------------->
*/

<th:block layout:fragment="content">
  <main>
    <div class="ct_main">
      <!-- 4.1 Main Topbar -->
      <div class="ct_topbar">
        <a href="#">전체</a>
        <span>-></span>
        <a href="#">과실주</a>
      </div>
      <!-- 4.2 Prod Thumbnail, Prod Info -->
      <div class="ct_thumbnail-wrap w100ph">
        <div class="ct_prod-img">
          <img
              src="http://placehold.it/580x650&text=Prod2"
              class="prod-img w300px"
          />
        </div>
        <div class="ct_prod-info">
          <p class="prod-title">려 고구마 증류소주</p>
          <div class="prod-hashtag-wrap">
            <a href="#" class="prod-hashtag">#해시태그1</a>
            <a href="#" class="prod-hashtag">#해시태그2</a>
          </div>
          <div class="prod-like-wrap">
            <div style="display: flex; align-items: center">
              <div class="star-area">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="25" fill="gold"><path d="M10 16.379l-6.173 3.245 1.179-6.874L.01 7.882l6.902-1.003L10 .624l3.087 6.255 6.902 1.003-4.995 4.868 1.18 6.874z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="25" fill="gold"><path d="M10 16.379l-6.173 3.245 1.179-6.874L.01 7.882l6.902-1.003L10 .624l3.087 6.255 6.902 1.003-4.995 4.868 1.18 6.874z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2.5 24 24" width="25" fill="gold" transform="scale(-1, 1)"><path d="M10 15.814L3.827 19.06l1.179-6.875L.01 7.317l6.902-1.003L10 .06l3.087 6.254 6.902 1.003-4.995 4.868 1.18 6.875L10 15.814zm0-2.26l3.517 1.85-.672-3.917 2.846-2.774-3.932-.571L10 4.579 8.241 8.142l-3.932.571 2.846 2.774-.672 3.916L10 13.554zM10 .06l3.087 6.254 6.902 1.003-4.995 4.868 1.18 6.875L10 15.814V.06z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2.5 24 24" width="25" fill="gold"><path d="M10 13.554l3.517 1.85-.672-3.917 2.846-2.774-3.932-.571L10 4.579 8.241 8.142l-3.932.571 2.846 2.774-.672 3.916L10 13.554zm0 2.26L3.827 19.06l1.179-6.875L.01 7.317l6.902-1.003L10 .06l3.087 6.254 6.902 1.003-4.995 4.868 1.18 6.875L10 15.814z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2.5 24 24" width="25" fill="gold"><path d="M10 13.554l3.517 1.85-.672-3.917 2.846-2.774-3.932-.571L10 4.579 8.241 8.142l-3.932.571 2.846 2.774-.672 3.916L10 13.554zm0 2.26L3.827 19.06l1.179-6.875L.01 7.317l6.902-1.003L10 .06l3.087 6.254 6.902 1.003-4.995 4.868 1.18 6.875L10 15.814z"></path></svg>
              </div>
              <span>4.3(117개)</span>
            </div>
            <div style="display: flex; align-items: center">
              <img th:src="@{/my/img/heart.png}"
              style="height: 30px; width: 30px; margin-right: 10px;">
              <span>777</span>
            </div>
          </div>
          <div class="prod-price-wrap">
            <div class="prod-count-wrap">
              <a href="#" class="btn">-</a>
              <span class="prod-count">3</span>
              <a href="#" class="btn">+</a>
            </div>
            <div class="prod-price">
              <p>20,000원</p>
            </div>
          </div>

          <div class="center prod-price-wrap">
            <a
                href="/storeOrder"
                class="btn"
                style="display: inline-block; width: 100px"
            >구매하기</a
            >
            <a
                href="#"
                class="btn"
                style="
                    background-color: #fff;
                    display: inline-block;
                    color: #0f1e57;
                    width: 100px;
                  "
            >장바구니</a
            >
          </div>
        </div>
      </div>
      <!-- 4.3 Prod Detail, Delivery Info -->
      <div class="ct_midbar mt40">
        <!-- <ul class="ct_midbar mt40">
          <li><a href="#">상품상세정보</a></li>
          <li><a href="#">배송안내</a></li>
          <li><a href="#">교환 및 환불안내</a></li>
          <li><a href="#">상품후기</a></li>
          <li><a href="#">상품문의</a></li>
        </ul> -->
        <div class="ct_cate-title"><a href="#">상품상세정보</a></div>
        <div class="ct_cate-title"><a href="#">배송안내</a></div>
        <div class="ct_cate-title"><a href="#">교환 및 환불안내</a></div>
        <div class="ct_cate-title"><a href="#">상품후기</a></div>
        <div class="ct_cate-title"><a href="#">상품문의</a></div>
      </div>
      <div>
        <div class="prod-detail"><h1>상세정보 이미지</h1></div>
        <div class="prod-detail"><h1>배송안내</h1></div>
        <div class="prod-detail"><h1>교환 및 환불안내</h1></div>
        <div class="prod-detail"><h1>상품후기</h1></div>
        <div class="prod-detail">
          <h1>상품문의</h1>
          <a href="javascript:void(0);" id="popup_btn" class="btn qnaBtn mb15" style="width: 100px" onclick="modal('ct_qna');">문의 남기기</a>
          <table style="border: 1px solid black; width: 100%;" class="center">
            <colgroup>
              <col style="width: 20%;" />
              <col style="width: "></col>
              <col></col>
              <col></col>
            </colgroup>
            <tr>
              <th colspan="3">
                <input type="checkbox">
                <span>답변완료만 보기</span>
              </th>
            </tr>
            <tr>
              <td>답변완료</td>
              <td>비밀글입니다.</td>
              <td>2024.01.17</td>
            </tr>
            <tr>
              <td>답변완료</td>
              <td>비밀글입니다.</td>
              <td>2024.01.17</td>
            </tr>
            <tr>
              <td>답변완료</td>
              <td>비밀글입니다.</td>
              <td>2024.01.17</td>
            </tr>
            <tr>
              <td>답변완료</td>
              <td>비밀글입니다.</td>
              <td>2024.01.17</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="ct_qna">
      <div class="ct_qna-topbar">
        <span class="ml10">상품 문의하기</span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-6 -6 24 24" width="40" fill="white" class="modal_close_btn"><path d="M7.314 5.9l3.535-3.536A1 1 0 1 0 9.435.95L5.899 4.485 2.364.95A1 1 0 1 0 .95 2.364l3.535 3.535L.95 9.435a1 1 0 1 0 1.414 1.414l3.535-3.535 3.536 3.535a1 1 0 1 0 1.414-1.414L7.314 5.899z"></path></svg>
      </div>
      <div class="ct_qna-mid">
        <div class="mb15">
          <p class="qna-font mb10">상품정보</p>
          <div class="ct_qna-prod-wrap">
            <img src="./img/instagram.png" class="qna-prod-img mr20" />
            <span>복분자주</span>
          </div>
        </div>
        <div class="mb15">
          <p class="qna-font mb10">문의유형</p>
          <select id="qna-cate" class="ct_qna-cate">
            <option disabled hidden selected>문의유형을 선택해주세요.</option>
            <option th:value="1">배송문의</option>
            <option th:value="2">교환 및 환불</option>
            <option th:value="3">상품문의</option>
            <option th:value="4">기타</option>
          </select>
        </div>
        <div class="mb15">
          <p class="qna-font mb10">제목</p>
          <input
              type="text"
              placeholder="제목을 입력해주세요."
              class="ct_qna-tit" id="qnaTit"
          />
        </div>
        <div class="mb15">
          <p class="qna-font mb10">문의내용</p>
          <textarea
              placeholder="내용을 입력해주세요."
              class="ct_qna-cn"
          ></textarea>
          <input type="checkbox" />
          <span>비공개</span>
        </div>
        <div class="ct_qna-btn-wrap mb15">
          <a href="javascript:void(0);" class="qna-btn" id="qnaSave">등록하기</a>
        </div>
        <div>
          <span>상품문의 시 주의사항</span>
          <span>여기에 기타 안내사항 문구 작성(폰트크기 작게, 색상 회색)</span>
        </div>
      </div>
    </div>
  </main>
</th:block>

</html>
