/* ct_main */
.ct_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px 20px;
}

/*  aside */
aside {
    width: 210px;
}


.menu-tit {

}
.menu-tit p {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-color: #03012D;
    height: 70px;
    line-height: 70px;
    color: white;
}
.ct_left-menu {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.ct_left-menu li {
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
}
.ct_left-menu li a {
    display: block;
    font-size: 15px;
    color: #4d4d4d;
    font-weight: 400;
}
.menu-susbit {
    border-bottom: 1px solid #eee;
    margin: 24px 0 4px 0;
    line-height: 25px;
    font-size: 20px;
    font-weight: 600;

}
.menu-susbit a {
    font-size: 20px !important;
    font-weight: 400;
    color: #000 !important;
}

/* content */
section {
    width: calc(100% - 210px);
    padding: 0px 50px;
}
.ct_content-wrap {}
.ct_subtitle {
    min-height: 30px;
    text-align: center;
}


.img-size{
    width:20px;
    height:20px;
    margin-right: 10px;

}

/* search */
.ct_search-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    gap: 5px;
}
.ct_search-wrap form {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ct_search-wrap div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}
.ct_search-wrap select {
    height: 35px;
    padding: 0px 30px 0px 10px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}
.ct_search-wrap input {
    height: 35px;
    padding: 0px 30px 0px 10px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}
.ct_search-wrap button {
    background-color: #03012D;
    height: 35px;
    color: #fff;
    width: 55px;
    border-radius: 5px;
    line-height: 32px;
}