.ct_main{
}



.ct_join-wrap {
    width: calc(100% - 210px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

}
.join-title {
    font: 700 30px 'Noto Sans Kr';
    width: 100%;
    text-align: center;
    margin-top: 40px;

}
.join-content {
    width: 98%;
}


.join-content table {
    border-left: none;
    border-right: none;
    line-height: 1.5;
    width: 100%;
}
.join-content table th {
    width: 15%;
    text-align: left;
    padding: 17px 20px;
    font: 500 15px 'Noto Sans Kr';
    color: white;
    background: #03012D;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.join-content table td {
    padding: 13px 10px 12px;
    text-align: left;
    font: 500 15px 'Noto Sans Kr';
    color: #555;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.join-content table td input {
    height: 30px;
    padding: 2px 4px;
    font: 400 15px 'Noto Sans Kr';
    border: 1px solid #e8e8e8;
}
.join-content table .mobile select {
    width: 90px;
    height: 30px;
    border: 1px solid #e8e8e8;
}
.join-msg {
    font: 400 13px 'Noto Sans Kr';
    color: #555;
}
.join-content p {
    width: 100%;
    text-align: center;
}

.bottom-area{
    display: flex;
    gap: 3px;
    justify-content: flex-end;
}



.btn-update {
    background-color: #03012D;
    color: white;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    float: right;
}


.btn-cancel{
    background-color: #03012D;
    color: white;
    width: 80px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
    float: right;
}

.btn-cancel a{
    color: white;
}

.input_address{
    width: 300px;
}