.title-area {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 30px;
}

.summary-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: space-evenly;
}

.summary-content {
    display: flex;
    border-right: 1px solid #e7e7e7;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height: 75px;
}

.summary-wrap a:nth-of-type(4){
    border-right: none;
}

.size{
    width: 30px;
    height: 30px;

}

.summary-text{
    font-size: 18px;
    line-height: 58px;
    margin-left: 10px;
}

.summary-text{
    color:black;
}

.summary-value{
    color:#293485;
}


.order-select{
    padding: 30px 80px;
    display: flex;
    gap: 3px;
    margin-top: 20px;
    justify-content: flex-end;

}

.enter-btn{
    width: 50px;
    height: 30px;
    background: #03012D;
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.order-info{
    display: flex;
    flex-direction: column;
    padding: 0px 80px;

}

.order-info-date{
    padding: 10px;

}

.order-box{
    border: 1px solid #e7e7e7;
    padding: 0px 15px;
    border-radius: 5px;
    padding-bottom: 10px;

}

.order-info-spec{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 2px;

}

.order-info-spec-detail{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;

}

.order-info-spec-specinfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left:15px;
}


.order-img{
    width: 95px;
    height: 95px;
}

.f-flex{
    display: flex;
}