.ct_content-wrap{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 30px;
}

.content-top{
    display: flex;
    width: 50%;
    border-radius: 3px;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
    gap: 10px;
    border:1px solid #e8e8e8;
}

.content-top-info{
    font-size: 20px;
    font-weight: 600;
}


.content-top-view{
    color:darkblue;
}


.content-top-till-wrap{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 3px;
    background-color: #03012D;
    color: white;
    width: 300px;
    height: 50px;
    justify-content: center;
}

.content-top-till{
    color:lightgray;
}

.middle-wrap{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}


.content-middle{
    font-size: 20px;
    font-weight: 600;
    margin-top: 55px;
    margin-bottom: 30px;
    width: 50%;
    margin-left: 25%;

}

.content-middle-box{
    display: flex;
    width: 50%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 60px;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;

}


.content-middle-box-date{
    width:20%;
    color:darkgray;
}


.content-middle-box-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:55%;
}


.box-point{
    color: rgb(53, 197, 240);
}


.content-middle-box-point{
    padding: 0px 5px;
    color: rgb(53, 197, 240);
}

.box-info-wrap {
    display: flex;
    gap: 10px;
}

.box-info-name{
    color:darkgray;
}

.box-info-till{
    color:darkgray;
}

.color{
    color: rgb(53, 197, 240);

}