.ct_main{
    width:100%;
}


.ct_content-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widthdraw-img{
    text-align:center;
}

.left-point{
    text-align:center;
    border: 1px solid black;
    width: 500px;
}

.widthdraw-text{
    text-align:center;
}

.content-bottom{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}


