.ct_subtitle{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 30px;
}


.content-middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.card-wrap {
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 40px;
    gap: 5px;
}



.card-wrap:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 조절 가능한 그림자 값 */
}



.card-prod {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.prod-pic {
    width: 150px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    height: 145px;
}



.prod-tit{
    font-size: 25px;
    font-weight: 600;
}




.prod-ori{
    text-decoration: line-through;
    color: gray;
}


.prod-like{
    padding-bottom: 3px;

}


.prodInfo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 157px;
    gap: 10px;

}

.wonFlex{
    display: flex;
    align-items: center;
}


.img-size-wish{
    width:20px;
    height:20px;
}


.btnBottomArea{
    margin-top: 30px;
    margin-left: 60px;

}

.btn{
    background-color: #131348;
    width: 70px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}