<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer>
        <div class="ct_footer">
            <div class="footer-block">
                <div class="footer-block-left">
                    <ul>
                        <h4>INFORMATION</h4>
                        <li><i>company.</i>&nbsp;&nbsp;주식회사 달</li>
                        <li><i>owner.</i>&nbsp;&nbsp;김문</li>
                        <li><i>email.</i>&nbsp;&nbsp;drinkallliquor@gmail.com</li>
                        <li>
                            <i>corporate registration num.</i>&nbsp;&nbsp;123-45-67890
                        </li>
                        <li><i>online license.</i>&nbsp;&nbsp;제 2023-달구-0123호</li>
                        <li><i>address.</i>&nbsp;&nbsp;서울특별시 서초구 서운로 22</li>
                        <br />
                        <li class="footer-right">
                            copyright© drinkallliquor All rights reserved.
                        </li>
                    </ul>
                </div>
                <div class="footer-block-right">
                    <ul>
                        <h4>C/S CENTER</h4>
                        <li class="cs_tel">070-1234-1234</li>
                        <li>MON - FRI AM 09:00 - PM 17:00</li>
                        <li>BREAK PM 12:00 - PM 13:00</li>
                        <li>
                            SAT, SUN, HOLIDAY
                            <span style="color: #ce5c5c">closed</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>