<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">


    <!-- 2. Page JS, CSS -->


    <!-- 3. content -->
    <th:block layout:fragment="content">
        <th:block layout:fragment="css-js">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/css/grid/list-grid.css}">
            <script type="text/javascript" th:src="@{/admin/js/store/storeList.js}"></script>
        </th:block>
            <div class="ct_content">
                <div class="grid-header">
                    <h2 class="ml5">스토어 상품 목록</h2>
                    <div class="mbt-group">
                        <button class="mbt active"><span>상품추가</span></button>
                        <button class="mbt"><span>초기화</span></button>
                    </div>
                </div>
                <div class="grid-sidebar">
                    <div class="category-menu">
                        <div class="category-header">
                            <span>카테고리</span>
                        </div>
                        <div class="category-content">
                            <ul>
                                <li><a href="#" data-category="all">ALL</a></li>
                                <li><a href="#" data-category="soju">소주</a></li>
                                <li><a href="#" data-category="beer">맥주</a></li>
                                <li><a href="#" data-category="liquor">양주</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-main">
                    <div class="main-header">
                        <div class="nbt-group mt15">
                            <div class="nbt active">전체 <span>10</span></div>
                            <div class="nbt">판매중 <span>9</span></div>
                            <div class="nbt">품절 <span>0</span></div>
                            <div class="nbt">숨김 <span>0</span></div>
                        </div>
                    </div>
                    <div class="main-search">
                        <div class="relative w80ph ml10 mt20">
                            <input class="inpL" type="text" placeholder="검색어를 입력해주세요" >
                            <img class="gl absolute" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                        </div>
                    </div>
                    <div class="main-content">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <th>NO</th>
                                <th>상품명</th>
                                <th>판매가</th>
                                <th>분류</th>
                                <th>상태</th>
                                <th>재고</th>
                                <th>등록일</th>
                                <th>수정일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>상품 1</td>
                                <td>10000원</td>
                                <td>의류</td>
                                <td>판매 중</td>
                                <td>50</td>
                                <td>2022-01-01</td>
                                <td>2022-01-02</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>상품 2</td>
                                <td>20000원</td>
                                <td>전자제품</td>
                                <td>품절</td>
                                <td>20</td>
                                <td>2022-01-03</td>
                                <td>2022-01-04</td>
                            </tr>
                            <!-- 추가적인 상품 행들 -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </th:block>

</html>
