<!--
파일명        : storeList.html
최초 작성자    : 김진형
최초 작성날짜   : 2024.02.08
-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">

    <!-- 3. content -->
    <th:block layout:fragment="content">
        <th:block layout:fragment="css-js">
            <link rel="stylesheet" type="text/css" th:href="@{/admin/store/css/store.css}">
            <script th:src="@{/admin/adminlte3/plugins/datatables/jquery.dataTables.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/datatables-responsive/js/dataTables.responsive.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/datatables-buttons/js/dataTables.buttons.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/jszip/jszip.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/pdfmake/pdfmake.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/pdfmake/vfs_fonts.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/datatables-buttons/js/buttons.html5.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/plugins/datatables-buttons/js/buttons.html5.min.js}" ></script>
            <script th:src="@{/admin/adminlte3/dist/js/demo.js}" defer></script>
            <script type="text/javascript" th:src="@{/admin/store/js/storeList.js}" defer></script>
        </th:block>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">스토어 관리</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">스토어</a></li>
                            <li class="breadcrumb-item active">스토어 관리</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="container-fluid">
            <div class="row">
                <!-- 카테고리 영역 -->
                <div class="col-md-3">
                    <a id="InsertProd" class="btn btn-primary btn-block mb-3">등록</a>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Category</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0" style="display: block;">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item active">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-inbox"></i> ALL
<!--                                        <span class="badge bg-primary float-right">12</span>-->
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-envelope"></i> 소주
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-file-alt"></i> 맥주
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-filter"></i> 양주
<!--                                        <span class="badge bg-warning float-right">65</span>-->
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-trash-alt"></i> 전통주
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">추후추가</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0" style="display: block;">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-danger"></i>
                                        뭐든
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-warning"></i> 넣죠
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-primary"></i>
                                        ㅇㅇ
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- 스토어 목록 영역 -->
                <div class="col-md-9 connectedSortable">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">스토어 목록</h3>
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4">
                                    <table id="main-table" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>NO</th>
                                            <th>상품명</th>
                                            <th>판매가</th>
                                            <th>분류</th>
                                            <th>상태</th>
                                            <th>재고</th>
                                            <th>등록일</th>
                                            <th>수정일</th>
                                        </tr>
                                        </thead>
                                        <tbody id="main-table-tbody">
                                        <tr>
                                            <td>1</td>
                                            <td>상품 1</td>
                                            <td>10000원</td>
                                            <td>의류</td>
                                            <td>판매 중</td>
                                            <td>50</td>
                                            <td>2022-01-01</td>
                                            <td>2022-01-02</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>상품 2</td>
                                            <td>20000원</td>
                                            <td>전자제품</td>
                                            <td>품절</td>
                                            <td>20</td>
                                            <td>2022-01-03</td>
                                            <td>2022-01-04</td>
                                        </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script defer>
            // $(document).ready(() => {
            //     $('#layout-modal').on('show.bs.modal', (event) => {
            //         const id = $(event.relatedTarget).data('id');
            //
            //         fetch(`/management/articles/${id}`)
            //             .then(response => response.json())
            //             .then(data => {
            //                 $('.modal-title').text(data.title);
            //                 $('.modal-body pre').text(data.content);
            //                 $('.modal-footer form').attr('action', `/management/articles/${id}`);
            //             })
            //             .catch(error => {
            //                 console.error('게시글 로딩 실패: ', error);
            //             });
            //     });
            // });

            $(function () {
                $("#main-table").DataTable({
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                    "pageLength": 10
                }).buttons().container().appendTo('#main-table_wrapper .col-md-6:eq(0)'); // main-table_wrapper ID는 플러그인에 의해 자동 생성됨
            });


        </script>
    </th:block>

</html>
