<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="content">
    <th:block layout:fragment="css-js">
<!--        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/grid/write-grid.css}">-->
<!--        <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">-->
<!--        <script type="text/javascript" th:src="@{/admin/js/store/storeList.js}"></script>-->
    </th:block>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">스토어 등록</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">스토어</a></li>
                        <li class="breadcrumb-item active">스토어 관리</li>
                        <li class="breadcrumb-item active">스토어 등록</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-gray">
                    <h3 class="card-title">상품 등록</h3>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>