<!--
파일명        : storeWrite.html
최초 작성자    : 김진형
최초 작성날짜   : 2024.02.11
사용 목적     : admin store 상품 등록
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<th:block layout:fragment="content">
    <th:block layout:fragment="css-js">
        <!-- Summernote CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.css" rel="stylesheet">

        <!-- Summernote JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
        <script type="text/javascript" th:src="@{/admin/store/js/storeWrite.js}" defer></script>
<!--        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/grid/write-grid.css}">-->
<!--        <link rel="stylesheet"  th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap}">-->
<!--        <script type="text/javascript" th:src="@{/admin/js/store/storeList.js}"></script>-->
    </th:block>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">스토어 등록</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">스토어</a></li>
                        <li class="breadcrumb-item active">스토어 관리</li>
                        <li class="breadcrumb-item active">스토어 등록</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">상품 등록</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="prodTit">상품제목</label>
                            <input type="text" class="form-control" id="prodTit" placeholder="상품제목을 입력해주세요" required />
                        </div>
                        <div class="form-group">
                            <label for="prodType">술종류</label>
                            <select class="form-control" id="prodType">
                                <option value="1">소주</option>
                                <option value="2">맥주</option>
                                <option value="3">양주</option>
                                <option value="4">전통주</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="prodCnt">재고</label>
                            <input type="number" class="form-control" id="prodCnt" placeholder="재고수를 입력해주세요" />
                        </div>
                        <div class="form-group">
                            <label for="prodOriPrice">정가</label>
                            <input type="number" class="form-control" id="prodOriPrice" placeholder="정가를 입력해주세요" />
                        </div>
                        <div class="form-group">
                            <label for="prodSalePrice">판매가</label>
                            <input type="number" class="form-control" id="prodSalePrice" placeholder="판매가를 입력해주세요" />
                        </div>
                        <div class="form-group">
                            <label for="prodStts">상태</label>
                            <select class="form-control" id="prodStts">
                                <option value="0">정상</option>
                                <option value="1">품절</option>
                                <!-- 상태에 따른 옵션 추가 -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">상품 설명</label>
                            <!-- 썸머노트 적용을 위한 textarea 수정 -->
                            <textarea id="description" name="description" class="form-control summernote"></textarea>
                        </div>
                        <div class="form-group">
                            <label>상품 사진</label>
                            <div class="input-group">
                                <input type="file" class="custom-file-input" id="prodImg" multiple accept="image/*">
                                <label class="custom-file-label">여러 파일을 올릴 수 있습니다.</label>
                            </div>
                        </div>
                        <div id="imagePreviewContainer"></div>
                    </div>
                    <div class="card-footer">
                        <button id="insertProd" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 썸머노트 에디터를 위한 스크립트 추후에 위치 변경 필요 -->
    <script>
        $(document).ready(function() {
            bsCustomFileInput.init();

            $('#prodImg').on('change', function() {
                // 이미지 미리보기 컨테이너 초기화
                $('#imagePreviewContainer').empty();

                // 선택된 모든 파일에 대해 루프
                Array.from(this.files).forEach(function(file) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        // 이미지 미리보기를 위한 img 태그 생성
                        var img = $('<img>').attr('src', e.target.result).css({'max-width': '200px', 'max-height': '200px', 'margin-right': '10px'});
                        // 이미지 미리보기 컨테이너에 img 태그 추가
                        $('#imagePreviewContainer').append(img);
                    };

                    reader.readAsDataURL(file);
                });
            });

            $('#description').summernote({
                placeholder: '상품 설명을 입력해주세요',
                tabsize: 2,
                height: 200,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
</th:block>
</html>