.com_grid {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 13px;
}
.com_grid_header {
    border: 1px solid #D9D9D9;
    border-top:solid 1px #d9d9d9;
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 2px 2px 2px #e5e5e5;
    display: flex;
    background-color:#f2f2f2;
    height: 30px;
    line-height: 30px;
    padding-right: 15px;
}
.com_grid_header div {
    padding-left: 20px;
}
.com_grid_body {
    height:calc(100% - 50px);
    border: 1px solid #D9D9D9;
    border-bottom: 0px;
    border-bottom: 1px solid #e5e5e5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 2px 2px #e5e5e5;
    background-color:#fff;
    overflow-y: scroll;
}
.com_grid_row {
    border-bottom:1px solid #e5e5e5;
    height: 30px;
    display: flex;
}
.com_grid_row div {
    font-weight: normal;
    padding: 5px 0px 5px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp:1;
}
.com_grid_row:hover {
    background-color:#f2f2f2;
    cursor:pointer;
}
.com_grid_body::-webkit-scrollbar {
    width: 15px;
}
.com_grid_body::-webkit-scrollbar-thumb {
    background-color: #949494;
    border-radius: 5px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.com_grid_body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 5px;
}
.com_grid_none {
    width: 100%;
    text-align: center;
}
