<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : Head.html
Program Name    : 웹 페이지 헤드(Head) 부분
Description     : 웹 페이지의 헤드(Head) 부분에는 메타 정보와 스타일 시트, 스크립트 파일 등이 포함되어 있습니다.
                  페이지의 제목(title)과 페이지를 설명하는 간단한 내용(description)이 정의되어 있으며,
                  웹 페이지 제작 시 필요한 외부 라이브러리들(Jquery, Jquery-UI, Jquery SelectBox, Font Icon 등)이 로드되어 있습니다.
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.   Date          Revised By    Description
------------------------------------------------------------------------------------------------------------------------
0.1    2023.11.10    이원정         최초개발
----------------------------------------------------------------------------------------------------------------------->

<!--
HTML Contents

1. Page JS, CSS
2. Page Content
3. Main
3.1 Guide Wrap
3.2 Search Wrap
3.3 Cotent Wrap
4. Page Script

JS Contents

https://www.kalia.or.kr:9118/sub03/sub02.php
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<!-- 1. Page JS, CSS -->
<th:block layout:fragment="css-js">
    <link rel="stylesheet" type="text/css" th:href="@{/museum/css/museumMain.css}">
    <script src="/museum/js/museumMain.js" defer></script>
</th:block>

<!-- 2. Page Content -->
<th:block layout:fragment="content">
    <!-- 3. Main -->
    <main>
        <div class="ct_main">
            <div class="ct_liq-main">
                <!-- 대분류 -->
                <div class="liq-typeList1" id="liq-typeList1">
                    <div id="liq-jujeong">주정</div>
                    <div id="liq-balhyo">발효주류</div>
                    <div id="liq-jeungru">증류주류</div>
                    <div id="liq-etc">기타주류</div>
                </div>
                <!-- 중분류 -->
                <div class="liq-typeList2" id="liq-typeList2">

                </div>
                <!-- 소분류 : 술 -->
                <div class="liq-list" id="liq-list">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                </div>
                <div class="liq-box">
                    <div class="liq-msg" id="liq-msg">탁주: 녹말이 포함된 재료와 국 및 물을 원료로 하여 발효시킨 술덧을 여과하지 않고 혼탁하게 만든 것</div>
                    <div class="liq-view">
                        <div class="liq-pic">picture</div>
                        <div class="liq-info">info</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>

<!— 4. Page Script —>

</html>
