body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ct_main {
    display: flex;
    width: 95%;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Aside */
aside {
    width: 20%;
    padding: 20px;
}

.menu-tit {
    color: #333;
    margin-bottom: 10px;
}

.ct_left-menu ul {
    list-style-type: none;
    background-color: #f8f8f8;
    padding: 52px;
    margin: 10px;
}

.ct_left-menu li {
    margin-bottom: 10px;
}

.ct_left-menu a {
    text-decoration: none;
    color: #007bff;
}

/* Content */
section {
    width: 80%;
    padding: 20px;
}

.ct_subtitle h3 {
    color: #333;
    margin: 0 0 20px 10px;
}

.board-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#REG {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

th {
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px;
}

tr {
    border-bottom: 1px solid #bdc3c7;
}

tbody tr:hover {
    background-color: #d4e6f1;
}

/* Pagination */
.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.pagination li {
    margin-right: 10px;
}

.pagination a {
    text
