body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    justify-content: center;
    margin: 100px 0px 20px 0px;
}

.ct_main {
    display: flex;
    width: 95%;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    width: 20%;
    padding: 20px;
}

.menu-tit {
    color: #333;
    margin-bottom: 10px;
}

.ct_left-menu ul {
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 52px;
    margin: 10px;
    cursor: pointer;
}

.ct_left-menu ul:hover {
   background-color: #ddd;
}

.ct_left-menu ul.selected {
    background-color: #ddd;
    color: #fff;
}

.ct_left-menu li {
    margin-bottom: 10px;
}

.ct_left-menu a {
    color: #2E3888;
}


section {
    width: 80%;
    padding: 20px;
}

.ct_subtitle h3 {
    color: #333;
    margin: 0 0 20px 10px;
}

.board-list {
    width: 95%;
    border-collapse: collapse;
    margin: auto;
}

.ct_content {
    border: 3px solid #f8f8f8;
    margin-top: 20px;
}


table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

th {
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px;
}

tr {
    border-bottom: 1px solid #bdc3c7;
}

tbody tr:hover {
    background-color: #d4e6f1;
    cursor: pointer;

}

.ct_search-wrap {
    text-align: left; /* 부모 요소를 가운데 정렬한 후 내용을 왼쪽 정렬 */
}

.ct_search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

select, input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* 버튼 */
.btnSearch {
    padding: 8px;
    background-color: #2E3888;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.btnSearch:hover {
    background-color: #03012D;
}

.REG {
    margin-left: auto;
    padding: 10px;
    background-color: #2E3888;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.REG:hover {
    background-color: #03012D;
}

/* 페이징 */
.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.pagination li {
    margin-right: 10px;
}

.pagination a {
    text


