/* 전체 body 스타일 설정 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* 메인 설정 */
main {
    justify-content: center;
    margin: 100px 0px 20px 0px;
}

/* 메인 콘텐츠 래퍼 스타일 */
.ct_main {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 섹션 스타일 */
section {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* 소제목 내의 헤딩 스타일 */
.ct_subtitle h3 {
    color: #333;
    margin: 0 0 20px 10px;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* 테이블 헤더와 데이터 셀 스타일 */
th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #bdc3c7;
}

/* 테이블 헤더 스타일 */
th {
    width: 20%;
    background-color: #f8f8f8;
}

/* 댓글 공통 스타일 */
.comm-comment, .comment {
    border: 3px solid #f8f8f8;
    padding: 10px 20px;
    margin-bottom: 10px;
}

/* 댓글 폼 스타일 */
form#comment-form {
    margin-top: 20px;
}

/* 라벨 스타일 */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

/* 텍스트 에어리어 스타일 */
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    resize: vertical;
}

/* 버튼 스타일 */
button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

/* 버튼 호버 효과 스타일 */
button:hover {
    background-color: #0056b3;
}

/* 입력 필드 스타일 */
.styled-input {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* 선택된 상태의 스타일 */
.styled-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* 답글 버튼 컨테이너 스타일 */
.reply .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* 답글 버튼 스타일 */
.edit-button, .delete-button, .insert-button, .cancel-button {
    background-color: #FFB101;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.delete-button {
    background-color: #D00600;
}

.insert-button {
    background-color: #2E3888;
}

.cancel-button {
    background-color: black;
}

/* 답글 영역 스타일 */
.reply {
    width: 40%;
    border-left: 3px solid #03012D;
    background-color: #ecf0f1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* 답글 내용 스타일 */
.reply p {
    margin: 8px 0;
    font-size: 16px;
}

.reply p:first-child {
    color: #03012D;
    font-weight: bold;
}

.reply p:last-child {
    color: #7f8c8d;
}

/* 숨김 클래스 */
.hide {
    display: none;
}

/* 댓글 깊이에 따른 들여쓰기 스타일 */
.depth-1 {
    padding-left: 50px;
}

.depth-2 {
    padding-left: 100px;
}

.depth-3 {
    padding-left: 150px;
}

.depth-4 {
    padding-left: 200px;
}
