/* 그리드 배치 */
.ct_content {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "gHeader gHeader gHeader"
    "gMain   gMain   gMain";
    gap: 5px;
    border: 1px solid #DFDFDF;
    background: #fff;
    height: 100%;
}

.grid-header, .grid-main {
    border: 1px solid #000; /* 외곽선 스타일 및 색상을 원하는 대로 설정하세요 */
}

/* grid-header 배치 */
.grid-header {
    grid-area: gHeader;
}

/* grid main 배치 */
.grid-main {
    grid-area: gMain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
}

.main-content {
    border: 1px solid #000;
}

.main-content {
    display: grid;
    grid-template-rows: 40px 1fr;
    margin: 5px;
}

.stas-content, .stas-title {
    border: 1px solid #000;
}
