/* 그리드 배치 */
.ct_content {
    display: grid;
    grid-template-columns: 200px 1fr 1fr ;
    grid-template-rows: 50px 1fr 2fr;
    grid-template-areas:
    "gHeader gHeader gHeader"
    "gSearch gSearch gSearch"
    "gMain   gMain   gMain";
    gap: 5px;
    border: 1px solid #DFDFDF;
    background: #fff;
    height: 100%;
}

.grid-header, .grid-search, .grid-main {
    border: 1px solid #000; /* 외곽선 스타일 및 색상을 원하는 대로 설정하세요 */
}

/* grid-header 배치 */
.grid-header {
    grid-area: gHeader;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
    "title btn";
    height: 100%;
}

/* grid -search 배치 */
.grid-search {
    grid-area: gSearch;
}

/* grid main 배치 */
.grid-main {
    grid-area: gMain;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 50px 80px 1fr;
    grid-template-areas:
    "header   header    header"
    "search   search    search"
    "content  content   content"
;
    gap: 5px;
    height: 100%;
}

.main-header, .main-search, .main-content {
    border: 1px solid #000;
}

.main-header {
    grid-area: header;
}

.main-search {
    grid-area : search;
}

.main-content {
    grid-area : content;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.data-table th, .data-table td {
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #f2f2f2; /* 헤더 배경색 지정 */
}

.data-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* 짝수 행 배경색 지정 */
}

.data-table tbody tr:hover {
    background-color: #e0e0e0; /* 마우스 오버 행 배경색 지정 */
}
