<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    파일명        : MyBoardMapper.xml
    최초 작성자    : 박제형
    최초 작성날짜   : 2024.01.22
-->

<mapper namespace="kr.co.Dal.my.mapper.MyBoardMapper">

    <!-- 내 게시글 목록 -->
    <select id="selectBoardList" parameterType="kr.co.Dal.util.SearchCondition" resultType="kr.co.Dal.my.model.MyBoardVO">
        SELECT
            bard_id,
            user_id,
            bard_type,
            bard_tit,
            bard_cnt,
            bard_rdate,
            bard_stts
        FROM
            bard_tb
        WHERE
            bard_stts = 1
            AND
                user_id = #{userId}
            <if test="searchField != null and !searchField.equals('')">
                <if test="searchField != 0">
                    AND bard_type = #{searchField}
                </if>
            </if>
            <if test="searchKeyword != null and !searchKeyword.equals('')">
                AND bard_tit LIKE CONCAT('%', #{searchKeyword}, '%')
            </if>
        ORDER BY
            bard_rdate DESC
            LIMIT #{offset}, 10
    </select>



    <!-- 내 게시글 목록 개수 -->
    <select id="countBoard" parameterType="kr.co.Dal.util.SearchCondition" resultType="int">
        SELECT COUNT(*)
        FROM bard_tb
        WHERE
            bard_stts = 1
          AND
            user_id = #{userId}
        <if test="searchField != null and !searchField.equals('')">
          <if test="searchField != 0">
              AND bard_type = #{searchField}
          </if>
        </if>
        <if test="searchKeyword != null and !searchKeyword.equals('')">
            AND bard_tit LIKE CONCAT('%', #{searchKeyword}, '%')
        </if>
    </select>


    <!-- 내 게시글 삭제 -->
    <update id="deleteBoard" parameterType="kr.co.Dal.my.model.MyBoardVO">
        UPDATE
            bard_tb
        SET
            bard_stts = 0
        WHERE
            bard_id = #{bardId}
          AND
            bard_type = #{bardType}
    </update>


</mapper>