<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
    파일명        : MyBoardMapper.xml
    최초 작성자    : 박제형
    최초 작성날짜   : 2024.01.22
-->

<mapper namespace="kr.co.Dal.my.mapper.MyBoardMapper">

    <!-- 내 게시글 목록 -->
    <select id="selectBoardList" resultType="kr.co.Dal.my.model.MyBoardVO">
        SELECT
            bard_id,
            user_id,
            bard_type,
            bard_tit,
            bard_cnt,
            bard_rdate,
            bard_stts
        FROM
            bard_tb
        WHERE
            bard_stts = 1
    </select>


    <!-- 내 게시글 삭제 -->
    <update id="deleteBoard" parameterType="kr.co.Dal.my.model.MyBoardVO">
        UPDATE
            bard_tb
        SET
            bard_stts = 0
        WHERE
            bard_id = #{bard_id}
        AND
            bard_type = #{bard_type}
    </update>

    <!-- 내 댓글 목록 -->
    <select id="selectAnsList" resultType="kr.co.Dal.my.model.MyAnsVO">
        SELECT
            ans_id,
            user_id,
            ans_cn,
            ans_rdate,
            ans_udate,
            ans_stts,
            ans_type
        FROM
            ans_tb
        WHERE
            ans_stts = 1
    </select>


    <!-- 내 댓글 삭제 -->
    <update id="deleteAns" parameterType="kr.co.Dal.my.model.MyAnsVO">
        UPDATE
            ans_tb
        SET
            ans_stts = 0
        WHERE
            ans_id = #{ans_id}
    </update>





</mapper>