<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 파일명        : MyCouponMapper.xml
 최초 작성자    : 박제형
 최초 작성날짜   : 2023.12.11
-->

<mapper namespace="kr.co.Dal.my.mapper.MyCouponMapper">
    <select id="selectCouponList" resultType="kr.co.Dal.my.model.MyCouponVO">
        SELECT
            ct.cp_name,
            ct.cp_wdate,
            ct.cp_disct_type
        FROM
            cp_user_tb cut
        JOIN
            cp_tb ct
        ON
            cut.cp_id = ct.cp_id
        WHERE
            cut.user_id = 1
    </select>

</mapper>