<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 파일명        : MyInfoMapper.xml
 최초 작성자    : 박제형
 최초 작성날짜   : 2024.01.25
-->

<mapper namespace="kr.co.Dal.my.mapper.MyInfoMapper">
    <select id="selectMyInfoList" resultType="kr.co.Dal.my.model.MyInfoVO">
        SELECT
            user_id,
            addr1,
            addr2,
            provider,
            providerId,
            user_gender,
            user_grade,
            user_hp,
            user_lc_yn,
            user_lgin_id,
            user_nick,
            user_point,
            user_priv_yn,
            user_pw,
            user_rdate,
            user_role,
            user_stts,
            user_type,
            user_udate,
            user_wdate,
            user_name,
            zip
        FROM
            user_tb
        WHERE
            user_id = 32
    </select>


    <update id="updateMyInfoList" parameterType="kr.co.Dal.my.model.MyInfoVO">
        UPDATE
            user_tb
        SET
            user_nick = #{userNick},
            user_hp = #{userHp},
            zip = #{zip},
            addr1 = #{addr1},
            addr2 = #{addr2},
            user_udate = NOW()
        WHERE
            user_id = 32
    </update>



</mapper>