<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : Head.html
Program Name    : 웹 페이지 헤드(Head) 부분
Description     : 웹 페이지의 헤드(Head) 부분에는 메타 정보와 스타일 시트, 스크립트 파일 등이 포함되어 있습니다.
                  페이지의 제목(title)과 페이지를 설명하는 간단한 내용(description)이 정의되어 있으며,
                  웹 페이지 제작 시 필요한 외부 라이브러리들(Jquery, Jquery-UI, Jquery SelectBox, Font Icon 등)이 로드되어 있습니다.
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.   Date          Revised By    Description
------------------------------------------------------------------------------------------------------------------------
0.1    2023.11.10    이원정         최초개발
----------------------------------------------------------------------------------------------------------------------->

<!--
HTML Contents

1. Page JS, CSS
2. Page Content
3. Main
3.1 Guide Wrap
3.2 Search Wrap
3.3 Cotent Wrap
4. Page Script

JS Contents

1. Kakao Map 생성
2. GeoLocation API
이벤트1) 중심 좌표, 영역 좌표 얻기
이벤트2) 지도 컨트롤
함수1) 지도에 마커와 인포윈도우를 표시하는 함수
함수2) 키워드 검색을 요청하는 함수
함수3) 장소검색이 완료됐을 때 호출되는 콜백함수
함수4) 검색 결과 목록과 마커를 표출하는 함수
함수5) 검색결과 항목을 Element로 반환하는 함수
함수6) 마커를 생성하고 지도 위에 마커를 표시하는 함수
함수7) 지도 위에 표시되고 있는 마커를 모두 제거
함수8) 검색결과 목록 하단에 페이지번호를 표시는 함수
함수9) 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수
함수10) 검색결과 목록의 자식 Element를 제거하는 함수


-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

    <!-- 1. Page JS, CSS -->
    <th:block layout:fragment="css-js">
        <link rel="stylesheet" type="text/css" th:href="@{/main/css/main.css}">
        <script src="/main/js/main.js" defer></script>
    </th:block>

    <!-- 2. Page Content -->
    <th:block layout:fragment="content">
        <!-- 3. Main -->
        <main>
            <div class="ct_main">
                <!-- 3.1 Guide Wrap -->
                <div class="ct_guide-wrap">
                    <table>
                        <tr>
                            <th><div class="guide-q">나의 술 취향을 알고 싶다면?</div></th>
                            <td><a href="#"><div class="guide-a">술취향찾기</div></a></td>
                        </tr>
                        <tr>
                            <th><div class="guide-q">무슨 술이 있는지 알고 싶다면?</div></th>
                            <td><a href="#"><div class="guide-a">주류박물관</div></a></td>
                        </tr>
                    </table>
                </div>
                <!-- 3.2 Search Wrap -->
                <div class="ct_search-wrap">
                    <div class="search-bar">
                        <i class="fa-solid fa-magnifying-glass" style="color: #9c9c9c;"></i>
                        <form onsubmit="searchPlaces(); return false;">
                            <input type="text" class="input" id="keyword">
                            <button type="submit">검색</button>
                        </form>
                    </div>
                    <div class="hashtag-bar">
                        <span>Searching for</span>
                        <div class="hashtag-list">
                            <p># 해시태그</p>
                            <p># 해시태그</p>
                            <p># 해시태그</p>
                        </div>
                    </div>
                </div>
                <!-- 3.3 Cotent Wrap -->
                <div class="ct_content-wrap">
                    <div class="map-box">
                        <div class="map-list" id="menu_wrap">
                            <ul id="placesList"></ul>
                            <div id="pagination"></div>
                        </div>
                        <div class="map-view">
                            <div id="map" style="width: 100%; height: 100%; "></div>
                        </div>
                        <div class="prod-pic">pic</div>
                    </div>
                    <div class="review-box">review</div>
                </div>
            </div>
        </main>
    </th:block>

    <!-- 4. Page Script -->
    <th:block layout:fragment="script">
        <!-- Kakao MAP API -->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=663e42ce0c9aff3c878dcb5e58b0c164&libraries=services"></script>
        <script>
            // 경도, 위도
            let latitude, longitude;

            // 마커를 담을 배열입니다
            var markers = [];

            // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({zIndex:1});

            <!-- 1. Kakao Map 생성----------------------------------------------------------------------------------- -->
            // Kakao Map 생성
            var container = document.getElementById('map');             //지도를 담을 영역의 DOM 레퍼런스
            let options = {                                                     //지도를 생성할 때 필요한 기본 옵션
                center: new kakao.maps.LatLng(33.450701, 126.570667),           //지도의 중심좌표
                draggable: true,                                                // 지도 드래그
                level: 3                                                        //지도의 확대 레벨
            };
            let keyword = document.getElementById('keyword').value;
            var map = new kakao.maps.Map(container, options);           //지도 생성 및 객체 리턴

            <!-- 2. GeoLocation API -------------------------------------------------------------------------------- -->
            // 현재 사용자 접속 위치 확인
            // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
            /*
            if(navigator.geolocation && keyword == '') {

                document.getElementById('keyword').placeholder = "현재 위치";

                // GeoLocation을 통해 사용자의 현재 위치를 요청
                navigator.geolocation.getCurrentPosition(function(position) {
                    lat = position.coords.latitude;     // 사용자의 현재 위치 위도
                    lon = position.coords.longitude;   // 사용자의 현재 위치 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon),        // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                        message = '<div style="padding:5px;">현재 위치</div>'; // 인포윈도우에 표시될 내용입니다

                    // 마커와 인포윈도우를 표시합니다
                    displayMarker(locPosition, message);

                    console.log("lat, long: " + lat, lon);

                    //map.setCenter(new kakao.maps.LatLng(latitude, longitude));
                });
            }else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

                var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                    message = 'geolocation 비동의';

                displayMarker(locPosition, message);
            }
            */

            <!-- 이벤트1) 중심 좌표, 영역 좌표 얻기 --------------------------------------------------------------------- -->
            // 지도가 이동, 확대, 축소로 인해 중심좌표가 변경되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'center_changed', function() {

                // 지도의  레벨을 얻어옵니다
                var level = map.getLevel();

                // 지도의 중심좌표를 얻어옵니다
                var latlng = map.getCenter();

                // 지도 영역정보를 얻어옵니다
                var bounds = map.getBounds();

                // 영역정보의 남서쪽 정보를 얻어옵니다
                var swLatlng = bounds.getSouthWest();

                // 영역정보의 북동쪽 정보를 얻어옵니다
                var neLatlng = bounds.getNorthEast();

                console.log("map level is: " + level);
                console.log("중심 좌표 위도, 경도: " + latlng.getLat() + "," + latlng.getLng());

                console.log("남서쪽 포인트: " + swLatlng.toString());
                console.log("북동쪽 포인트: " + neLatlng.toString());

            });



            // 함수1) 지도에 마커와 인포윈도우를 표시하는 함수입니다
            function displayMarker(locPosition, message) {

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: locPosition
                });

                var iwContent = message, // 인포윈도우에 표시할 내용
                    iwRemoveable = true;

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content : iwContent,
                    removable : iwRemoveable
                });

                // 인포윈도우를 마커위에 표시합니다
                infowindow.open(map, marker);

                // 지도 중심좌표를 접속위치로 변경합니다
                map.setCenter(locPosition);
            }

            <!-- 이벤트2) 지도 컨트롤 --------------------------------------------------------------------------------- -->
            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new kakao.maps.MapTypeControl();

            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
            // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            // 키워드로 장소 검색 + 목록 표시하기
            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places();


            <!-- 이벤트3) 주소-좌표간 변환 서비스 ----------------------------------------------------------------------- -->
            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            // 검색 버튼을 눌렀을 때 callback 실행1
            var callback = function(result, status) {
                // 정상적으로 검색이 완료됐으면
                if (status === kakao.maps.services.Status.OK) {
                    console.log("result: ", result);
                    console.log("result count: " + result.)
                    console.log("result x point: " + result[0].x);
                    console.log("result y point: " + result[0].y);
                }
            };

            geocoder.addressSearch('중원구 은행동', callback);

            // 함수2) 키워드 검색을 요청하는 함수입니다
            function searchPlaces() {

                keyword = document.getElementById('keyword').value;

                if (!keyword.replace(/^\s+|\s+$/g, '')) {
                    alert('키워드를 입력해주세요!');
                    return false;
                }else {
                    console.log("keyword:" + keyword);
                }

                // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
                ps.keywordSearch(keyword, placesSearchCB);
            }

            // 함수3) 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
            function placesSearchCB(data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {

                    // 정상적으로 검색이 완료됐으면
                    // 검색 목록과 마커를 표출합니다
                    displayPlaces(data);

                    // 페이지 번호를 표출합니다
                    displayPagination(pagination);

                } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                    alert('검색 결과가 존재하지 않습니다.');
                    return;

                } else if (status === kakao.maps.services.Status.ERROR) {

                    alert('검색 결과 중 오류가 발생했습니다.');
                    return;

                }
            }

            // 함수4) 검색 결과 목록과 마커를 표출하는 함수입니다
            function displayPlaces(places) {

                var listEl = document.getElementById('placesList'),
                    menuEl = document.getElementById('menu_wrap'),
                    fragment = document.createDocumentFragment(),
                    bounds = new kakao.maps.LatLngBounds(),
                    listStr = '';

                // 검색 결과 목록에 추가된 항목들을 제거합니다
                removeAllChildNods(listEl);

                // 지도에 표시되고 있는 마커를 제거합니다
                removeMarker();

                for ( var i=0; i<places.length; i++ ) {

                    // 마커를 생성하고 지도에 표시합니다
                    var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                        marker = addMarker(placePosition, i),
                        itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                    // LatLngBounds 객체에 좌표를 추가합니다
                    bounds.extend(placePosition);

                    // 마커와 검색결과 항목에 mouseover 했을때
                    // 해당 장소에 인포윈도우에 장소명을 표시합니다
                    // mouseout 했을 때는 인포윈도우를 닫습니다
                    (function(marker, title) {
                        kakao.maps.event.addListener(marker, 'mouseover', function() {
                            displayInfowindow(marker, title);
                        });

                        kakao.maps.event.addListener(marker, 'mouseout', function() {
                            infowindow.close();
                        });

                        itemEl.onmouseover =  function () {
                            displayInfowindow(marker, title);
                        };

                        itemEl.onmouseout =  function () {
                            infowindow.close();
                        };
                    })(marker, places[i].place_name);

                    fragment.appendChild(itemEl);
                }

                // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
                listEl.appendChild(fragment);
                menuEl.scrollTop = 0;

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                map.setBounds(bounds);
            }

            // 함수5) 검색결과 항목을 Element로 반환하는 함수입니다
            function getListItem(index, places) {

                var el = document.createElement('li'),
                    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                        '<div class="info">' +
                        '   <h5>' + places.place_name + '</h5>';

                if (places.road_address_name) {
                    itemStr += '    <span>' + places.road_address_name + '</span>' +
                        '   <span class="jibun gray">' +  places.address_name  + '</span>';
                } else {
                    itemStr += '    <span>' +  places.address_name  + '</span>';
                }

                itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                    '</div>';

                el.innerHTML = itemStr;
                el.className = 'item';

                return el;
            }

            // 함수6) 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
            function addMarker(position, idx, title) {
                var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                    imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                    imgOptions =  {
                        spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                        spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                        offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                    },
                    markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                    marker = new kakao.maps.Marker({
                        position: position, // 마커의 위치
                        image: markerImage
                    });

                marker.setMap(map); // 지도 위에 마커를 표출합니다
                markers.push(marker);  // 배열에 생성된 마커를 추가합니다

                return marker;
            }

            // 함수7) 지도 위에 표시되고 있는 마커를 모두 제거합니다
            function removeMarker() {
                for ( var i = 0; i < markers.length; i++ ) {
                    markers[i].setMap(null);
                }
                markers = [];
            }

            // 함수8) 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
            function displayPagination(pagination) {
                var paginationEl = document.getElementById('pagination'),
                    fragment = document.createDocumentFragment(),
                    i;

                // 기존에 추가된 페이지번호를 삭제합니다
                while (paginationEl.hasChildNodes()) {
                    paginationEl.removeChild (paginationEl.lastChild);
                }

                for (i=1; i<=pagination.last; i++) {
                    var el = document.createElement('a');
                    el.href = "#";
                    el.innerHTML = i;

                    if (i===pagination.current) {
                        el.className = 'on';
                    } else {
                        el.onclick = (function(i) {
                            return function() {
                                pagination.gotoPage(i);
                            }
                        })(i);
                    }

                    fragment.appendChild(el);
                }
                paginationEl.appendChild(fragment);
            }

            // 함수9) 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
            // 인포윈도우에 장소명을 표시합니다
            function displayInfowindow(marker, title) {
                var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

                infowindow.setContent(content);
                infowindow.open(map, marker);
            }

            // 함수10) 검색결과 목록의 자식 Element를 제거하는 함수입니다
            function removeAllChildNods(el) {
                while (el.hasChildNodes()) {
                    el.removeChild (el.lastChild);
                }
            }








        </script>
    </th:block>
</html>
