/* 전체 wrapper */
#wrapper {
  min-width: 1340px;
}

/* header */
header {
  width: 100vw;
  position: fixed;
  height: auto;
  top: 0;
  z-index: 10000;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}
.user-wrap {
  height: 40px;
  padding: 0 94px;
  text-align: right;
  background: #1B37AA;
}
.user-wrap div {
  padding: 0 10px;
  float: right;
  height: 100%;
  border-radius: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: 'Noto Sans KR', sans-serif;
}
.user-wrap a {
  padding: 2px 13px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.cate-wrap {
  height: 90px;
    background: #A9B3E3;
    color: #fff;
    padding: 0 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cate-wrap > .cate-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
.cate-wrap > .cate-menu {
  display: flex;
  font-size: 16px;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
.cate-wrap > .cate-menu > a {
  color: #000;
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  font-family: 'Noto Sans KR', sans-serif;
  padding: 1px 10px;
  cursor: pointer;
  position: relative;
}
.cate-wrap > .cate-menu > a:hover {
  background: #959595;
}
.cate-wrap > .cate-menu > a::after {
  content: '';
  position: absolute;
}


/* main */
main {
  width: 100vw;
  height: auto;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 130px;
  background: #A9B3E3;
}
.ct_main {
  width: calc(100vw - 60px);
  margin: 0 auto;
  border: 1px solid;
}

/* pagination */
.ct_pagination-wrap {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

/* footer */
footer {
  width: 100vw;
}
.ct_footer {
  background: #E7E7E7;
  padding: 10px 94px;
  border: 1px solid;
  color: #292962;
  font: 500 15px 'Noto Sans Kr';
}
.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-sns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.footer-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
}
.footer-block h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-block-left {
  width: 60%;
}
.footer-block-left li i {
  font-style: normal;
  color: #b1b1b1;
}
.footer-right {
  font-size: 12px;
}
.footer-guide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}
