/* 전체 wrapper */
#wrapper {
  min-width: 1340px;
}

/* header */
header {
  width: 100vw;
  position: fixed;
  height: auto;
  top: 0;
  z-index: 10000;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}
.user-wrap {
  height: 40px;
  width: calc(100vw - 188px);
  margin: 0 auto;
  border: 1px solid;
  text-align: right;
}
.user-wrap div {
  background: #f5f5f5;
  padding: 0 10px;
  float: right;
  height: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 21px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: 'Noto Sans KR', sans-serif;
}
.user-wrap a {
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-radius: 21px;
  padding: 2px 13px;
  font-size: 15px;
  font-weight: 400;
}
.user-wrap .clicked {
  border: 1px solid #4358BE;
  background: #4358BE;
  color: #fff;
}
.cate-wrap {
  height: 90px;
  width: calc(100vw - 188px);
  margin: 0 auto;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.cate-wrap > .cate-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
.cate-wrap > .cate-menu {
  display: flex;
  font-size: 16px;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}
/* main */
main {
  width: 100vw;
  height: auto;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 130px;
}
.ct_main {
  width: calc(100vw - 188px);
  margin: 0 auto;
  border: 1px solid;
}

/* pagination */
.ct_pagination-wrap {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

/* footer */
footer {
  width: 100vw;
}
.ct_footer {
  width: calc(100vw - 188px);
  margin: 0 auto;
  padding: 10px 0;
  border: 1px solid;
}
.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-sns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.footer-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
}
.footer-block h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-block-left {
  width: 60%;
}
.footer-block-left li i {
  font-style: normal;
  color: #b1b1b1;
}
.footer-right {
  font-size: 12px;
}
.footer-guide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}
