<!DOCTYPE html>
<html lang="en">
    <!-- 1. Common Head -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Main</title>
    </head>

    <!-- 2. Page JS, CSS -->
    <link rel="stylesheet" href="/css/common/reset.css" />
    <link rel="stylesheet" href="/css/admin/admin-layout2.css" />
    <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet"
    />

<body>
    <div id="wrapper">
        <main>
            <div class="ct_main">
                <!-- Aside -->
                <div class="ct_left-menu">
                    <div class="menu-logo">DAL ADMIN PAGE</div>
                    <ul>
                        <li class="menu-tit"><a href="#">Menu Tit</a></li>
                        <li class="menu-sub on"><a href="#">sub menu</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                    </ul>
                    <ul>
                        <li class="menu-tit"><a href="#">Menu Tit</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                    </ul>
                    <ul>
                        <li class="menu-tit"><a href="#">Menu Tit</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                        <li class="menu-sub"><a href="#">sub menu</a></li>
                    </ul>
                </div>
                <!-- Content -->
                <section>
                    <div class="ct_content-top">
                        <div class="favorite">+</div>
                        <div class="cate-list">
                            <ul>
                                <li class="f-cate on"><a href="#">favorite</a></li>
                                <li class="f-cate"><a href="#">favorite</a></li>
                                <li class="f-cate"><a href="#">favorite</a></li>
                                <li class="f-cate"><a href="#">favorite</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ct_content-wrap">
                        <div class="ct_content">content</div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>