<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : preferResult.html
Program Name    : 술테스트
Description     :
Draft Author    :
Draft Date      : 2024.01.01
----------------------------------------------------------------------------------------------------------------------->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<!-- 1. Page JS, CSS -->
<th:block layout:fragment="css-js">
  <link rel="stylesheet" type="text/css" th:href="@{/preferTest/css/preferResult.css}">
  <script src="/preferTest/js/preferResult.js" defer></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script>
    Kakao.init('617c64aeafcfa7bd484ea2b0d79f230b');
    Kakao.isInitialized();
  </script>
</th:block>

  <!-- 2. Page Content -->
  <th:block layout:fragment="content">
    <!-- 3. Main -->
    <main>
      <div class="ct_main">
        <!-- 4.2 Content -->
        <section>
          <!-- 4.2.1 Subtitle -->
          <div class="ct_subtitle">
            <h3>당신의 유형은?</h3>
          </div>
          <div class="ct_content">

            <input type="hidden" id="srvResType" th:value="${preferResult.srvResType}">
            <input type="hidden" id="srvResImg" th:value="${preferResult.srvResImg}">
            <input type="hidden" id="srvResCn" th:value="${preferResult.srvResCn}">

            <table id="preferTable" class="test-list">
              <tr>
                <th th:text="${preferResult.srvResType}"></th>
              </tr>
              <tr>
                <td>
                  <img th:src="@{'/preferTest/img/' + ${preferResult.srvResImg}}" th:width="400" th:height="400" alt="Result Image">
                </td>
              </tr>
              <tr>
                <td th:text="${preferResult.srvResCn}"></td>
              </tr>
            </table>

            <div class="button-container">
              <a id="kakaotalk-sharing-btn" href="javascript:kakaoShare()">
                <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
                     alt="카카오톡 공유 보내기 버튼" />
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>
  </th:block>
</html>
