<!DOCTYPE html>
<!----------------------------------------------------------------------------------------------------------------------
©Copyright 2023. DAL. All rights reserved.

File Name       : preferResult.html
Program Name    : 술테스트
Description     :
Draft Author    :
Draft Date      : 2024.01.01
----------------------------------------------------------------------------------------------------------------------->

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main-layout}">

<!-- 1. Page JS, CSS -->
<th:block layout:fragment="css-js">
  <link rel="stylesheet" type="text/css" th:href="@{/preferTest/css/preferResult.css}">
  <script src="/preferTest/js/preferResult.js" defer></script>
</th:block>

<!-- 2. Page Content -->
<th:block layout:fragment="content">
  <!-- 3. Main -->
  <main>
    <div class="ct_main">
      <!-- 4.2 Content -->
      <section>
        <!-- 4.2.1 Subtitle -->
        <div class="ct_subtitle">
          <h3>COMMUNITY</h3>
        </div>
          <div class="ct_content-wrap">

            <div class="ct_content">
              <table>
                <thead>
                <th>
                  <div class="name-result">술고래</div>
                </th>
                </thead>
                <tbody class="result-list">
                <tr>
                  <td>
                    <div class="prod-list">
                      <ul class="prod-row">
                        <li>
                          <img src="http://placehold.it/630x630&text=Prod1" class="prod-card" />
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

              <div class="button-container">
                <a href="#" class="styled-button">다시하기</a>
              </div>

              <div class="button-container">
                <a href="#" class="styled-button">카톡공유</a>
              </div>
            </div>

          </div>
        </section>
      </div>
    </main>
  </th:block>
</html>
