@charset "utf-8";
/***********************************************************************************************************************
©Copyright 2023. DAL. All rights reserved.

File Name       : element.css
Description     : 공통 element css
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.    Date         Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1     2023.11.10    이원정        최초개발

------------------------------------------------------------------------------------------------------------------------

***********************************************************************************************************************/

/*
Contents

1. Button
2. a
3. li

*/

/* 1. Button **********************************************************************************************************/
.btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

/* 2. a ***************************************************************************************************************/
a {
    text-decoration: none;
    cursor: pointer;
}

/* 3. li **************************************************************************************************************/
li {
    list-style: none;
}


/* 4. page ************************************************************************************************************/
.pagination{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
}
.num{
    border: 1px solid #e8e8e8;
    padding: 5px 12px;
    border-radius: 3px;

}
.num.current{
    background-color: #03012D;
    color: white;
}