@charset "utf-8";
/***********************************************************************************************************************
©Copyright 2023. DAL. All rights reserved.

File Name       : element.css
Description     : 공통 element css
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.    Date         Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1     2023.11.10    이원정        최초개발

------------------------------------------------------------------------------------------------------------------------

***********************************************************************************************************************/

/*
Contents

1. Button
2. a
3. li

*/

/* 1. Button **********************************************************************************************************/
.btn {
    display: inline-block;
    border: 1px solid #293485;
    background: #2E3888;
    color: #ffffff;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}

/* 2. a ***************************************************************************************************************/
a {
    text-decoration: none;
    cursor: pointer;
}

/* 3. li **************************************************************************************************************/
li {
    list-style: none;
}
