@charset "utf-8";
/***********************************************************************************************************************
©Copyright 2023. DAL. All rights reserved.

File Name       : element.css
Description     : 공통 element css
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.    Date         Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1     2023.11.10    이원정        최초개발

------------------------------------------------------------------------------------------------------------------------

***********************************************************************************************************************/

/*
Contents

1. Button

*/

/* 1. Button **********************************************************************************************************/
.btn {
    display: inline-block;
    width: 72px;
    height: 38px;
    line-height: 36px;
    font-size: 13px;
    border: 1px solid #84868b;
    background: #84868b;
    color: #fff;
}