@charset "utf-8";
/***********************************************************************************************************************
©Copyright 2023. DAL. All rights reserved.

File Name       : layout.css
Description     : 공통 layout css
Draft Author    : 이원정
Draft Date      : 2023.11.10

Revision History
Ver.    Date         Revised By   Description
------------------------------------------------------------------------------------------------------------------------
0.1     2023.11.10    이원정        최초개발

------------------------------------------------------------------------------------------------------------------------

***********************************************************************************************************************/

/*
Contents

1. 전체 wrapper
2. header
3. main
4. pagination
5. footer

*/

/* 1. 전체 wrapper *****************************************************************************************************/
#wrapper {
    min-width: 1340px;
}

/* 2. header **********************************************************************************************************/
header {
    width: 100%;
    position: fixed;
    height: auto;
    top: 0;
    z-index: 10000;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

.user-wrap {
    height: 80px;
    display: flex;
    padding: 0 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.user-menu a img {
    width: 20px;
}
.cate-logo {}
.cate-logo a {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 800;
    color: #293485;
}
.cate-logo img {
    width: 77px;
}
.cate-short {
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.cate-short a {}
.user-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    position: relative;
}

/* TOOLTIP */
[data-tooltip]{position:relative;}
[data-tooltip]:before,
[data-tooltip]:after{visibility:hidden;opacity:0;position:absolute;left:50%;transform:translateX(-50%);white-space:nowrap;transition:all .2s ease;font-size:11px;font-family:dotum;letter-spacing:-1px;}
[data-tooltip]:before{content:attr(data-tooltip);height:13px;position:absolute;top:-20px;padding:5px 10px;border-radius:5px;color:#fff;background:#025272;box-shadow:0 3px 8px rgba(165, 165, 165, 0.5);}
[data-tooltip]:after{content: '';border-left:5px solid transparent;top:2px;border-right:5px solid transparent;border-top:5px solid #025272;}
[data-tooltip]:not([data-tooltip=""]):hover:before{visibility:visible;opacity:1;top:-30px}
[data-tooltip]:not([data-tooltip=""]):hover:after{visibility:visible;opacity:1;top:-8px}

/* dropdown menu */
.dropdown {
    position: relative;
}
.dropdownMenu {
    position: absolute;
    background: #FFF;
    top: 32px;
    right: -3px;
    display: flex;
    flex-direction: column;
    width: 130px;
    box-shadow: rgba(63, 71, 77, 0.2) 0px 4px 10px 0px;
    transition: transform 0.2s ease 0s;
    border: 1px solid rgb(218, 221, 224);
    border-radius: 5px;
}
.dropdownMenu a {
    padding: 15px 10px;
    color: rgb(47, 52, 56);
    cursor: pointer;
}
.dropdownMenu a:hover {
    background: rgb(247, 249, 250);
}
.dropdownMenu button {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    color: rgb(47, 52, 56);
}

    /* 3. main ************************************************************************************************************/
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 80px;
    min-height: calc(100vh - 50px);
}
.ct_main {
    width: calc(100vw - 60px);
    margin: 0 auto;
    padding: 50px 10px;
}

/* 4. pagination ******************************************************************************************************/
.ct_pagination-wrap {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

/* 5. footer **********************************************************************************************************/
footer {
    width: 100%;
}
.ct_footer {
    background: #03012D;
    border-top: 1px solid #293485;
    padding: 15px 20px;
    color: #FFF;
    font: 500 15px 'Noto Sans Kr';
    height: 50px;
    display: flex;
    align-items: center;
}

/* a태그  밑줄없애기 -호준 */
a {
    text-decoration-line: none;
}
