<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

-->

<mapper namespace="kr.co.Dal.preferTest.mapper.PreferTestMapper">

    <!-- 술 MBTI 문제 -->
    <select id="preferList" parameterType="kr.co.Dal.preferTest.model.SrvQaVO" resultType="kr.co.Dal.preferTest.model.SrvQaVO">
        SELECT srv_que_id,
               srv_que,
               srv_ans_1,
               srv_ans_2
        FROM srv_qa_tb
    </select>

    <!-- 술 MBTI 결과 -->
    <select id="preferResult" parameterType="kr.co.Dal.preferTest.model.SrvResVO" resultType="kr.co.Dal.preferTest.model.SrvResVO">
        SELECT srv_res_id,
               srv_res_img,
               srv_res_type,
               srv_res_cn
        FROM srv_res_tb
        WHERE srv_res_id = #{srvResId}
    </select>

</mapper>