.content-middle {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.coupon-size {
    width: 25%;
    height: 200px;
}


.coupon-name{
    border: 1px solid;
    width:100%;
    height:33%;
}


.coupon-date{
    border: 1px solid;
    width:100%;
    height:33%;
}


.coupon-percent{    
    border: 1px solid;
    width:100%;
    height:33%;
}