/* myPage 공통 CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR','Sans-serif';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #000;}

#wrapper {
    min-width: 1340px;
}

/* myPage 공통 CSS - header */
header {
    width: 100vw;
}
.user-wrap {
    height: 40px;
    width: calc(100vw - 188px);
    margin: 0 auto;
    border: 1px solid;
    text-align: right;
}
.cate-wrap {
    height: 90px;
    width: calc(100vw - 188px);
    margin: 0 auto;
    border: 1px solid;
}

/* myPage 공통 CSS - main */
main {
    width: 100vw;
    height: 800px;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

/* myPage 공통 CSS - aside */
aside {
    width: 200px;
    border: 1px solid;
}
.ct_left-menu {
    padding-top: 30px;
}
.menu-tit {
    font-size: 19px;
    font-weight: 600;
    padding: 0 0 14px;
    margin: 0 0 14px;
    text-align: center;
    border-bottom: 1px solid;
}
.ct_left-menu li a {
    display: block;
    padding: 8px 10px;
}

/* myPage 공통 CSS - content */
section {
    width: calc(100vw - 400px);
    border: 1px solid;
}
.ct_content-wrap {}
.ct_subtitle {
    min-height: 30px;
    margin: 50px 0 20px;
    text-align: center;
}
.my-summary {
    border: 1px solid #e8e8e8;
    color: #404040;
    padding: 20px 0;
}
.my-summary table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.my-summary table th {
    text-align: center;
    padding: 15px 0;
}
.my-summary-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.my-summary-tit {
    color: #404040;
}
.my-summary-btn {}
.my-summary-btn .btn {
    border: 1px solid #d1d1d1;
    font-size: 12px;
    font-weight: 300;
    vertical-align: middle;
    padding: 2px 5px;
    /* border-radius: 5px; */
    text-align: center;
    background: #fff;
    color: #222;
}
.my-summary table td {
    text-align: center;
    padding: 15px 0;
}
/* myPage 공통 CSS - footer */
footer {
    width: 100vw;
}
.ct_footer {
    width: calc(100vw - 188px);
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid;
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-sns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.footer-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 40px;
}
.footer-block h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-block-left {
    width: 60%;
}
.footer-block-left li i {
    font-style: normal;
    color: #b1b1b1;
}
.footer-right {
    font-size: 12px;
}
.footer-guide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
.footer-guide div {}