<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 파일명        : MyCouponMapper.xml
 최초 작성자    : 박제형
 최초 작성날짜   : 2023.12.01
-->




<mapper namespace="kr.co.Dal.my.mapper.MyCouponMapper">
    <select id="selectCouponList" resultType="kr.co.Dal.my.model.MyCouponVO">
        SELECT
            CP_ID,
            CP_NAME,
            CP_CODE,
            CP_TYPE,
            CP_DISCT,
            CP_WDATE,
            CP_GRADE,
            CP_CNT,
            CP_RDATE,
            CP_DISCT_TYP,
            CP_MIN_PRICE
        FROM CP_TB
    </select>


</mapper>